---
layout: documentation
page_title_show: true
title: "Cylon.JS Example - neuro"
page_title: "Example: neuro"
author: The Hybrid Group
description: A Cylon.JS code example
page_subtitle: "<a href='https://github.com/hybridgroup/cylon-neurosky/tree/master/examples/neuro' target='_blank'>View In Repo</a>"
active_menu_docs: true
---
.example
  :markdown
        :::javascript
        "use strict";

        var Cylon = require("cylon");

        Cylon
          .robot()
          .connection("neurosky", { adaptor: "neurosky", port: "/dev/rfcomm0" })
          .device("headset", { driver: "neurosky" })
          .on("ready", function(bot) {
            bot.headset.on("packet", function(packet) {
              console.log("packet:", packet);
            });
          });

        Cylon.start();
