:markdown
  ## readFrame

  Reads frames from a video feed


  ### Returns

  - (<code>null</code>)

  * * *

  ## detectFaces

  Detects faces in an image


  ### Params


  - **frame** (<code>Object</code>) image to scan for faces


  ### Returns

  - (<code>null</code>)
