:markdown
  ## detectFaces

  Detects faces in an image, using the provided haarcascade file


  ### Params


  - **im** (<code>Object</code>) image to scan for faces


  - **haarcascade** (<code>Object</code>) file to use for image detection


  ### Returns

  - (<code>null</code>)

  * * *

  ## readImage

  Reads an image through OpenCV


  ### Params


  - **feed** (<code>Object</code>) feed to read video frames from


  - **cb** (<code>Function</code>) callback to be triggered when the image is read


  ### Returns

  - (<code>null</code>)
