:markdown
  ## videoReady

  Emitted when the video feed from the Camera is initialized and ready for
  capture



  * * *

  ## frameReady

  Emitted whenever a new frame is available from the video feed.


  ### Values

  - **err**

  - **frame**



  * * *

  ## frameReady

  Emitted when faces are detected in an image


  ### Values

  - **err**

  - **im**

  - **faces**


