:markdown
  ## show

  Shows a video frame in the window


  ### Params


  - **frame** (<code>Object</code>) frame to display


  - **delay** (<code>Number</code>)


  ### Returns

  - (<code>null</code>)
