:markdown
  ## show

  Shows a video frame in the window


  ### Params


  - **frame** (<code>Object</code>) frame to display


  - **delay** (<code>Number</code>) how long to delay


  ### Returns

  - (<code>undefined</code>)
