:markdown
  ## subscribe

  Subscribes to a topic in Salesforce


  ### Params


  - **topic** (<code>String</code>) name of the topic to subscribe to


  - **callback** (<code>Function</code>) triggered when new data is received for the topic


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## post

  Posts data to a Salesforce Apex Class


  ### Params


  - **apexPath** (<code>String</code>) SF apex path to send data to


  - **data** (<code>Object</code>) information to store in Salesforce


  - **callback** (<code>Function</code>) triggered when data is sent to SF


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## get

  Gets data from a Salesforce Apex Class


  ### Params


  - **apexPath** (<code>String</code>) SF apex path to get data from


  - **callback** (<code>Function</code>) triggered when new data is received


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## query

  Queries data from Salesforce


  ### Params


  - **query** (<code>String</code>) SF query to look for data with


  - **callback** (<code>Function</code>) triggered when new data is received


  ### Returns

  - (<code>undefined</code>)
