---
layout: documentation
page_title_show: true
title: "Cylon.JS Example - Leap Motion"
page_title: "Example: Leap Motion"
author: The Hybrid Group
description: A Cylon.JS code example
page_subtitle: "<a href='https://github.com/hybridgroup/cylon-leapmotion/tree/master/examples/leap' target='_blank'>View In Repo</a>"
active_menu_docs: true
---
.example
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connections: {
            leapmotion: { adaptor: 'leapmotion' }
          },

          devices: {
            leapmotion: { driver: 'leapmotion' }
          },

          work: function(my) {
            my.leapmotion.on('frame', function(frame) {
              console.log(frame.toString());
            });

            my.leapmotion.on('hand', function(hand) {
              console.log(hand.toString());
            });
          }
        }).start();
