:markdown
  ## play

  Plays a track


  ### Params


  - **track** (<code>String</code>,<code>Number</code>) path to track to be played, or index of `this.tracks` to play


  ### Returns

  - (<code>undefined</code>)
