:markdown
  ## play

  Plays a sound


  ### Params


  - **filename** (<code>String</code>) name of file to play


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## stop

  Stops playing sound


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## pause

  Pause playing sound


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## resume

  Resume playing sound


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## loop

  Loop sound


  ### Params


  - **filename** (<code>String</code>) name of file to loop


  ### Returns

  - (<code>undefined</code>)
