:markdown
  ## stop

  Emitted when the driver detects a stop command



  * * *

  ## pause

  Emitted when the driver detects a pause command



  * * *

  ## resume

  Emitted when the driver detects a resume command



  * * *

  ## complete

  Emitted when the driver finishes playing a file


