---
layout: documentation
page_title_show: true
title: "Cylon.JS Example - mpu6050"
page_title: "Example: mpu6050"
author: The Hybrid Group
description: A Cylon.JS code example
page_subtitle: "<a href='https://github.com/hybridgroup/cylon-i2c/tree/master/examples/mpu6050' target='_blank'>View In Repo</a>"
active_menu_docs: true
---
.example
  :markdown
        :::javascript
        "use strict";

        var Cylon = require("cylon");

        Cylon
          .robot()
          .connection("arduino", { adaptor: "firmata", port: "/dev/tty.usbmodem1421" })
          .device("mpu6050", { driver: "mpu6050" })
          .on("ready", function(bot) {
            setInterval(function() {
              bot.mpu6050.getMotionAndTemp(function(err, data) {
                if (err) { console.error(err); }
                console.log(err, data);
              });
            }, 1000);
          });

        Cylon.start();
