:markdown
  # Commands

  ## registeredUsers()

  //code

  ## createUser()

  Creates new user

  ## deleteUser()

  Deletes user

  ## locateBridges()

  //code

  ## searchForBridges()

  //code

  ## config()

  //code

  ## getFullState()

  //code

  ## lights()

  //code