:markdown
  # Commands

  ## turnOn()

  Sets light state to on

  ## turnOff()

  Sets light state to off

  ## alert()
  //code
  
  ## longAlert()
  //code

  ## white()
  //code

  ## brightness()
  Sets light brightness 

  ## hsl()
  Sets hue, haturation, and brightness

  ## xy()
  //code

  ## rgb()
  Sets RGB color

  ## setLightState()
  //code

  ## lightState()
  //code

