:markdown
  # Commands

  ## turnOn()

  Sets light state to on

  ## turnOff()

  Sets light state to off

  ## alert()
  
  Flashes light once
  
  ## longAlert()
  
  Flashes light for 10 seconds

  ## white()

  Sets 'whiteness' level

  ## brightness()

  Sets light brightness 

  ## hsl()

  Sets hue, haturation, and brightness

  ## xy()
  
  Sets Phillips `xy` values

  ## rgb()
  
  Sets RGB color

  ## setLightState()
  
  Used to set a Light to a specific `lightState`

  ## lightState()
  
  Returns object used to set various Light parameters

