:markdown
  # Commands

  ## registeredUsers()

  Obtain list of registered users

  ## createUser()

  Creates new user

  ## deleteUser()

  Deletes user

  ## locateBridges()

  Locate bridges using connection to 'Meet Hue' site.

  ## searchForBridges()

  Search for bridges using local WIFi connection

  ## config()

  Return config data for a specific Bridge

  ## getFullState()

  Return state data for a specific Bridge

  ## lights()

  Returns all Lights connected to a specific Bridge
