:markdown
  ## read

  Reads a value for a key from the Nest API


  ### Params


  - **key** (<code>String</code>) key to get corresponding value for


  - **callback** (<code>Function</code>) to be triggered when data is found


  ### Returns

  - (<code>null</code>)

  * * *

  ## write

  Sets a key-value pair in the Nest API


  ### Params


  - **key** (<code>String</code>) key to get corresponding value for


  - **value** (<code>String</code>,<code>Object</code>) value to store in the API


  - **callback** (<code>Function</code>) to be triggered when data is written


  ### Returns

  - (<code>null</code>)
