:markdown
  ## locale

  Returns the protect's locale


  ### Returns

  - (<code>String</code>) locale

  * * *

  ## softwareVersion

  Returns the protect's software version


  ### Returns

  - (<code>String</code>) software version

  * * *

  ## structureId

  Returns the protect's structure id value


  ### Returns

  - (<code>String</code>) structure id

  * * *

  ## deviceName

  Returns the protect's name value


  ### Returns

  - (<code>String</code>) name

  * * *

  ## nameLong

  Returns the protect's name long value


  ### Returns

  - (<code>String</code>) name long

  * * *

  ## lastConnection

  Returns the protect's last connection value


  ### Returns

  - (<code>String</code>) last connection

  * * *

  ## isOnline

  Returns the protect's is online value


  ### Returns

  - (<code>Boolean</code>) is online

  * * *

  ## batteryHealth

  Returns the protect's battery health value


  ### Returns

  - (<code>String</code>) battery health

  * * *

  ## coAlarmState

  Returns the protect's co alarm state value


  ### Returns

  - (<code>String</code>) co alarm state

  * * *

  ## smokeAlarmState

  Returns the protect's smoke alarm state value


  ### Returns

  - (<code>String</code>) smoke alarm state

  * * *

  ## isManualTestActive

  Returns the protect's is manual test active value


  ### Returns

  - (<code>Boolean</code>) is manual test active

  * * *

  ## lastManualTestTime

  Returns the protect's last manual test time value


  ### Returns

  - (<code>String</code>) last manual test time

  * * *

  ## uiColorState

  Returns the protect's ui color state value


  ### Returns

  - (<code>String</code>) ui color state
