:markdown
  ## deviceName

  Returns the thermostat's name


  ### Returns

  - (<code>String</code>) name

  * * *

  ## ambientTemperatureF

  Returns the thermostat's detected ambient temperature, in Fahrenheit


  ### Returns

  - (<code>String</code>) temp

  * * *

  ## ambientTemperatureC

  Returns the thermostat's detected ambient temperature, in Celsius


  ### Returns

  - (<code>String</code>) temp

  * * *

  ## targetTemperatureF

  Returns the thermostat's targeted temperature, in Fahrenheit


  ### Returns

  - (<code>String</code>) temp

  * * *

  ## targetTemperatureC

  Returns the thermostat's targeted temperature, in Celsius


  ### Returns

  - (<code>String</code>) temp

  * * *

  ## setTargetTemperatureF

  Sets the thermostat's targeted temperature, in Fahrenheit


  ### Params


  - **value** (<code>String</code>) temperature to set as target


  ### Returns

  - (<code>null</code>)

  * * *

  ## setTargetTemperatureC

  Sets the thermostat's targeted temperature, in Celsius


  ### Params


  - **value** (<code>String</code>) temperature to set as target


  ### Returns

  - (<code>null</code>)
