:markdown
  ## digitalWrite

  Writes a value to a digital pin


  ### Params


  - **pin** (<code>Number</code>) the pin to write to


  - **value** (<code>Number</code>) the value to write to the pin


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## digitalRead

  Reads a value from a digital pin


  ### Params


  - **pin** (<code>Number</code>) the pin to read from


  - **callback** (<code>Function</code>) triggered when the value has been read from the pin


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## servoWrite

  Writes a servo value to a pin


  ### Params


  - **pin** (<code>Number</code>) the pin to write to


  - **value** (<code>Number</code>) the value to write to the pin


  - **callback** (<code>Function</code>) - to be triggered on completion


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## pwmWrite

  Writes a PWM value to a pin


  ### Params


  - **pin** (<code>Number</code>) the pin to write to


  - **value** (<code>Number</code>) the value to write to the pin


  - **callback** (<code>Function</code>) - to be triggered on completion


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## digitalWrite

  Writes a value to a digital pin


  ### Params


  - **pin** (<code>Number</code>) - pin number


  - **value** (<code>Number</code>) - to be passed


  - **callback** (<code>Function</code>) - to be triggered on completion


  ### Returns

  - (<code>undefined</code>)
