:markdown
  ## digitalWrite

  Writes a value to a digital pin


  ### Params


  - **pin** (<code>Number</code>)


  - **value** (<code>Number</code>)


  ### Returns

  - (<code>null</code>)

  * * *

  ## digitalRead

  Reads a value from a digital pin


  ### Params


  - **pin** (<code>Number</code>)


  - **callback** (<code>Function</code>) triggered when the value has been read from the pin


  ### Returns

  - (<code>null</code>)

  * * *

  ## servoWrite

  Writes a servo value to a pin


  ### Params


  - **pin** (<code>Number</code>)


  - **value** (<code>Number</code>)


  ### Returns

  - (<code>null</code>)

  * * *

  ## pwmWrite

  Writes a PWM value to a pin


  ### Params


  - **pin** (<code>Number</code>)


  - **value** (<code>Number</code>)


  ### Returns

  - (<code>null</code>)
