:markdown
  ## move

  Makes the Rapiro move, the specific movement is dependent on the provided
  motion number.


  ### Params


  - **motionNumber** (<code>Number</code>) which movement to make


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## stop

  Makes the Rapiro stop moving


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## forward

  Makes the Rapiro move forward


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## backward

  Makes the Rapiro move backward


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## right

  Makes the Rapiro move to the right


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## left

  Makes the Rapiro move to the left


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## happy

  Makes the Rapiro make a 'happy' expression


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## unhappy

  Makes the Rapiro make a 'unhappy' expression


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## concerned

  Makes the Rapiro make a 'concerned' expression


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## mad

  Makes the Rapiro make a 'mad' expression


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## push

  Makes the Rapiro make a 'push' motion


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## led

  Sets the Rapiro's LED color


  ### Params


  - **r** (<code>Number</code>) red value


  - **g** (<code>Number</code>) green value


  - **b** (<code>Number</code>) blue value


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## setServo

  Sets the angle of a specific Rapiro servo

  The servos are:

  - 0: Head
  - 1: waist
  - 2: right shoulder roll
  - 3: right shoulder pitch
  - 4: right hand
  - 5: left shoulder roll
  - 6: left shoulder pitch
  - 7: left hand
  - 8: right foot yaw
  - 9: right foot pitch
  - 10: left foot yaw
  - 11: left foot pitch


  ### Params


  - **servo** (<code>Number</code>) which servo to write to


  - **angle** (<code>Number</code>) angle to set


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## head

  Sets the angle of Rapiro's head servo


  ### Params


  - **angle** (<code>Number</code>) angle to set


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## waist

  Sets the angle of Rapiro's waist servo


  ### Params


  - **angle** (<code>Number</code>) angle to set


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## rightShoulderRoll

  Sets the angle of Rapiro's right shoulder roll servo


  ### Params


  - **angle** (<code>Number</code>) angle to set


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## rightShoulderPitch

  Sets the angle of Rapiro's right shoulder pitch servo


  ### Params


  - **angle** (<code>Number</code>) angle to set


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## rightHand

  Sets the angle of Rapiro's right hand servo


  ### Params


  - **angle** (<code>Number</code>) angle to set


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## leftShoulderRoll

  Sets the angle of Rapiro's left shoulder roll servo


  ### Params


  - **angle** (<code>Number</code>) angle to set


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## leftShoulderPitch

  Sets the angle of Rapiro's left shoulder pitch servo


  ### Params


  - **angle** (<code>Number</code>) angle to set


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## leftHand

  Sets the angle of Rapiro's left hand servo


  ### Params


  - **angle** (<code>Number</code>) angle to set


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## rightFootYaw

  Sets the angle of Rapiro's right foot yaw servo


  ### Params


  - **angle** (<code>Number</code>) angle to set


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## rightFootPitch

  Sets the angle of Rapiro's right foot pitch servo


  ### Params


  - **angle** (<code>Number</code>) angle to set


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## leftFootYaw

  Sets the angle of Rapiro's left foot yaw servo


  ### Params


  - **angle** (<code>Number</code>) angle to set


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## leftFootPitch

  Sets the angle of Rapiro's left foot pitch servo


  ### Params


  - **angle** (<code>Number</code>) angle to set


  ### Returns

  - (<code>undefined</code>)
