:markdown
  ## move

  Makes the Rapiro move, the specific movement is dependent on the provided
  motion number.


  ### Params


  - **motionNumber** (<code>Number</code>) which movement to make


  ### Returns

  - (<code>null</code>)

  * * *

  ## stop

  Makes the Rapiro stop moving


  ### Returns

  - (<code>null</code>)

  * * *

  ## forward

  Makes the Rapiro move forward


  ### Returns

  - (<code>null</code>)

  * * *

  ## backward

  Makes the Rapiro move backward


  ### Returns

  - (<code>null</code>)

  * * *

  ## right

  Makes the Rapiro move to the right


  ### Returns

  - (<code>null</code>)

  * * *

  ## left

  Makes the Rapiro move to the left


  ### Returns

  - (<code>null</code>)

  * * *

  ## happy

  Makes the Rapiro make a 'happy' expression


  ### Returns

  - (<code>null</code>)

  * * *

  ## unhappy

  Makes the Rapiro make a 'unhappy' expression


  ### Returns

  - (<code>null</code>)

  * * *

  ## concerned

  Makes the Rapiro make a 'concerned' expression


  ### Returns

  - (<code>null</code>)

  * * *

  ## mad

  Makes the Rapiro make a 'mad' expression


  ### Returns

  - (<code>null</code>)

  * * *

  ## push

  Makes the Rapiro make a 'push' motion


  ### Returns

  - (<code>null</code>)

  * * *

  ## led

  Sets the Rapiro's LED color


  ### Params


  - **r** (<code>Number</code>)


  - **g** (<code>Number</code>)


  - **b** (<code>Number</code>)


  ### Returns

  - (<code>null</code>)

  * * *

  ## setServo

  Sets the angle of a specific Rapiro servo

  The servos are:

- 0: Head
- 1: waist
- 2: right shoulder roll
- 3: right shoulder pitch
- 4: right hand
- 5: left shoulder roll
- 6: left shoulder pitch
- 7: left hand
- 8: right foot yaw
- 9: right foot pitch
- 10: left foot yaw
- 11: left foot pitch


  ### Params


  - **servo** (<code>Number</code>)


  - **angle** (<code>Number</code>)


  ### Returns

  - (<code>null</code>)

  * * *

  ## head

  Sets the angle of Rapiro's head servo


  ### Params


  - **angle** (<code>Number</code>)


  ### Returns

  - (<code>null</code>)

  * * *

  ## waist

  Sets the angle of Rapiro's waist servo


  ### Params


  - **angle** (<code>Number</code>)


  ### Returns

  - (<code>null</code>)

  * * *

  ## rightShoulderRoll

  Sets the angle of Rapiro's right shoulder roll servo


  ### Params


  - **angle** (<code>Number</code>)


  ### Returns

  - (<code>null</code>)

  * * *

  ## rightShoulderPitch

  Sets the angle of Rapiro's right shoulder pitch servo


  ### Params


  - **angle** (<code>Number</code>)


  ### Returns

  - (<code>null</code>)

  * * *

  ## rightHand

  Sets the angle of Rapiro's right hand servo


  ### Params


  - **angle** (<code>Number</code>)


  ### Returns

  - (<code>null</code>)

  * * *

  ## leftShoulderRoll

  Sets the angle of Rapiro's left shoulder roll servo


  ### Params


  - **angle** (<code>Number</code>)


  ### Returns

  - (<code>null</code>)

  * * *

  ## leftShoulderPitch

  Sets the angle of Rapiro's left shoulder pitch servo


  ### Params


  - **angle** (<code>Number</code>)


  ### Returns

  - (<code>null</code>)

  * * *

  ## leftHand

  Sets the angle of Rapiro's left hand servo


  ### Params


  - **angle** (<code>Number</code>)


  ### Returns

  - (<code>null</code>)

  * * *

  ## rightFootYaw

  Sets the angle of Rapiro's right foot yaw servo


  ### Params


  - **angle** (<code>Number</code>)


  ### Returns

  - (<code>null</code>)

  * * *

  ## rightFootPitch

  Sets the angle of Rapiro's right foot pitch servo


  ### Params


  - **angle** (<code>Number</code>)


  ### Returns

  - (<code>null</code>)

  * * *

  ## leftFootYaw

  Sets the angle of Rapiro's left foot yaw servo


  ### Params


  - **angle** (<code>Number</code>)


  ### Returns

  - (<code>null</code>)

  * * *

  ## leftFootPitch

  Sets the angle of Rapiro's left foot pitch servo


  ### Params


  - **angle** (<code>Number</code>)


  ### Returns

  - (<code>null</code>)
