:markdown
  ## analogRead

  Gets the current value from the Analog Sensor


  ### Params


  - **[callback]** (<code>Function</code>) invoked with `err, value` as args


  ### Returns

  - (<code>Number</code>) the current sensor value
