:markdown
  ## analogRead

  Emitted when the Analog Sensor has fetched a new value



  * * *

  ## upperLimit

  Emitted when the Analog Sensor reads a value above the specified upper
limit



  * * *

  ## lowerLimit

  Emitted when the Analog Sensor reads a value below the specified lower
limit


