:markdown
  ## isPressed

  Check whether or not the Button is currently pressed


  ### Params


  - **[callback]** (<code>Function</code>) invoked with `err, value` as args


  ### Returns

  - (<code>Boolean</code>) whether or not the button is pressed
