:markdown
  ## stop

  Stops the Continuous Servo's rotation


  ### Returns

  - (<code>Boolean</code>|<code>null</code>)

  * * *

  ## clockwise

  Rotates the Continuous Servo clockwise


  ### Returns

  - (<code>Boolean</code>|<code>null</code>)

  * * *

  ## counterClockwise

  Rotates the Continuous Servo counter-clockwise


  ### Returns

  - (<code>Boolean</code>|<code>null</code>)
