:markdown
  ## stop

  Stops the Continuous Servo's rotation


  ### Params


  - **callback** (<code>Function</code>) (err, val) triggers when write is complete


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## clockwise

  Rotates the Continuous Servo clockwise


  ### Params


  - **[callback]** (<code>Function</code>) - (err, val) triggers when write is complete


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## counterClockwise

  Rotates the Continuous Servo counter-clockwise


  ### Params


  - **[callback]** (<code>Function</code>) - (err, val) triggers when write is complete


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## rotate

  Rotates the Continuous Servo


  ### Params


  - **direction** (<code>String</code>) 'clockwise' or 'counter-clockwise'


  - **[callback]** (<code>Function</code>) - (err, val) triggers when write is complete


  ### Returns

  - (<code>undefined</code>)
