:markdown
  ## digitalWrite

  Writes a digital value to the pin


  ### Params


  - **value** (<code>Number</code>) value to write to the pin


  ### Returns

  - (<code>null</code>)

  * * *

  ## digitalRead

  Reads the value from the pin

Triggers the provided callback when the pin state has been read.


  ### Params


  - **callback** (<code>Function</code>) triggered when the pin state has been read


  ### Returns

  - (<code>null</code>)

  * * *

  ## analogWrite

  Writes an analog value to the pin


  ### Params


  - **value** (<code>Number</code>) value to write to the pin


  ### Returns

  - (<code>null</code>)

  * * *

  ## analogRead

  Reads the value from the pin

Triggers the provided callback when the pin state has been read.


  ### Params


  - **callback** (<code>Function</code>) triggered when the pin state has been read


  ### Returns

  - (<code>null</code>)

  * * *

  ## servoWrite

  Writes a servo value to the pin


  ### Params


  - **value** (<code>Number</code>) value to write to the pin


  ### Returns

  - (<code>null</code>)

  * * *

  ## pwmWrite

  Writes a PWM value to the pin


  ### Params


  - **value** (<code>Number</code>) value to write to the pin


  ### Returns

  - (<code>null</code>)
