:markdown
  ## digitalWrite

  Writes a digital value to the pin


  ### Params


  - **value** (<code>Number</code>) value to write to the pin


  - **[callback]** (<code>Function</code>) - (err, val) triggers when write is complete


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## analogWrite

  Writes an analog value to the pin


  ### Params


  - **value** (<code>Number</code>) value to write to the pin


  - **[callback]** (<code>Function</code>) - (err, val) triggers when write is complete


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## digitalRead

  Reads the value from the pin

  Triggers the provided callback when the pin state has been read.


  ### Params


  - **callback** (<code>Function</code>) triggered when the pin state has been read


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## analogRead

  Reads the value from the pin

  Triggers the provided callback when the pin state has been read.


  ### Params


  - **callback** (<code>Function</code>) triggered when the pin state has been read


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## servoWrite

  Writes a servo value to the pin


  ### Params


  - **angle** (<code>Number</code>) angle value to write to the pin


  - **[callback]** (<code>Function</code>) - (err, val) triggers when write is complete


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## pwmWrite

  Writes a PWM value to the pin


  ### Params


  - **value** (<code>Number</code>) value to write to the pin


  - **[callback]** (<code>Function</code>) - (err, val) triggers when write is complete


  ### Returns

  - (<code>undefined</code>)
