:markdown
  ## analogRead

  Returns the current analog value from the pin


  ### Returns

  - (<code>Number</code>) current analog value, or 0 if it's not been read yet

  * * *

  ## rangeCm

  Returns the current range, in centimeters


  ### Returns

  - (<code>Number</code>) current detected range in centimeters

  * * *

  ## range

  Returns the current range, in inches


  ### Returns

  - (<code>Number</code>) current detected range in inches
