:markdown
  ## analogRead

  Returns the current analog value from the pin


  ### Params


  - **[callback]** (<code>Function</code>) invoked with `err, value` as args


  ### Returns

  - (<code>Number</code>) current analog value, or 0 if it's not been read yet

  * * *

  ## rangeCm

  Returns the current range, in centimeters


  ### Params


  - **[callback]** (<code>Function</code>) invoked with `err, value` as args


  ### Returns

  - (<code>Number</code>) current detected range in centimeters

  * * *

  ## range

  Returns the current range, in inches


  ### Params


  - **[callback]** (<code>Function</code>) invoked with `err, value` as args


  ### Returns

  - (<code>Number</code>) current detected range in inches
