:markdown
  ## turnOn

  Writes a HIGH (1) value to the pin, turning the LED on.

  Also sets `this.isHigh` to `true`.


  ### Params


  - **[callback]** (<code>Function</code>) - (err, val) triggers when write is complete


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## turnOff

  Writes a LOW (0) value to the pin, turning the LED off.

  Also sets `this.isHigh` to `false`.


  ### Params


  - **[callback]** (<code>Function</code>) - (err, val) triggers when write is complete


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## toggle

  Toggles the LED on or off, depending on its current state


  ### Params


  - **callback** (<code>Function</code>) function to be invoked when done


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## currentBrightness

  Returns the current brightness of the LED.


  ### Params


  - **[callback]** (<code>Function</code>) invoked with `err, value` as args


  ### Returns

  - (<code>Number</code>) the current LED brightness value (0-255)

  * * *

  ## brightness

  Sets brightness of the LED to the specified value using PWM.


  ### Params


  - **value** (<code>Number</code>) - PWM value to set the brightness to (0-255)


  - **[callback]** (<code>Function</code>) - (err, val) triggers when write is complete


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## isOn

  Returns whether or not the LED is currently on


  ### Params


  - **[callback]** (<code>Function</code>) invoked with `err, value` as args


  ### Returns

  - (<code>Boolean</code>) whether or not the LED is currently on
