:markdown
  ## range

  Emitted when the Maxbotix has detected the current range


  ### Values

  - **distance** the current distance in inches



  * * *

  ## rangeCm

  Emitted when the Maxbotix has detected the current range


  ### Values

  - **distance** the current distance in centimeters


