:markdown
  ## range

  Gets the distance measured by the sonar, in inches.


  ### Returns

  - (<code>Number</code>) the current measured distance, in inches

  * * *

  ## rangeCm

  Gets the distance measured by the sonar, in centimeters.


  ### Returns

  - (<code>Number</code>) the current measured distance, in centimeters
