:markdown
  ## turnOn

  Turn the Relay on.


  ### Params


  - **[callback]** (<code>Function</code>) - (err, val) triggers when write is complete


  ### Returns

  - (<code>null</code>)

  * * *

  ## turnOff

  Turn the Relay off.


  ### Params


  - **[callback]** (<code>Function</code>) - (err, val) triggers when write is complete


  ### Returns

  - (<code>null</code>)

  * * *

  ## toggle

  Toggles the Relay on or off, depending on its current state


  ### Returns

  - (<code>null</code>)
