:markdown
  ## turnOn

  Writes a HIGH (1) value to the pin, turning the Relay on.

  Also sets `this.isOn` to `true`.


  ### Params


  - **[callback]** (<code>Function</code>) - (err, val) triggers when write is complete


  ### Returns

  - (<code>null</code>)

  * * *

  ## turnOff

  Writes a LOW (0) value to the pin, turning the Relay off.

  Also sets `this.isOn` to `false`.


  ### Params


  - **[callback]** (<code>Function</code>) - (err, val) triggers when write is complete


  ### Returns

  - (<code>null</code>)

  * * *

  ## toggle

  Toggles the Relay on or off, depending on its current state


  ### Returns

  - (<code>null</code>)
