:markdown
  ## setRGB

  Sets the RGB LED to a specific color


  ### Params


  - **hex** (<code>Number</code>) value for the LED e.g. 0xff00ff


  - **callback** (<code>Function</code>) to be triggered when complete


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## isOn

  Returns whether or not the RGB LED is currently on


  ### Params


  - **callback** (<code>Function</code>) function to invoke with isOn value


  ### Returns

  - (<code>Boolean</code>) whether or not the LED is currently on
