:markdown
  ## setRGB

  Sets the RGB LED to a specific color


  ### Params


  - **The** (<a href="hex.html">hex</a>) hex value for the LED e.g. 0xff00ff


  ### Returns

  - (<code>null</code>)

  * * *

  ## isOn

  Returns whether or not the RGB LED is currently on


  ### Returns

  - (<code>Boolean</code>) whether or not the LED is currently on
