:markdown
  ## currentAngle

  Returns the current angle of the Servo


  ### Params


  - **callback** (<code>Function</code>) function to be invoked with angle value


  ### Returns

  - (<code>Number</code>) the current servo angle value (0-180)

  * * *

  ## angle

  Sets the angle of the servo to the provided value


  ### Params


  - **value** (<code>Number</code>) - the angle to point the servo to (0-180)


  - **[callback]** (<code>Function</code>) - (err, val) triggers when write is complete


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## safeAngle

  Given a servo angle, determines if it's safe or not, and returns a safe value


  ### Params


  - **value** (<code>Number</code>) the angle the user wants to set the servo to


  ### Returns

  - (<code>Number</code>) a made-safe angle to set the servo to
