---
layout: documentation
page_title_show: true
title: "Cylon.JS Example - intel-add-component"
page_title: "Example: intel-add-component"
author: The Hybrid Group
description: A Cylon.JS code example
page_subtitle: "<a href='https://github.com/hybridgroup/cylon-intel-iot-analytics/tree/master/examples/intel-add-component' target='_blank'>View In Repo</a>"
active_menu_docs: true
---
.example
  :markdown
        :::javascript
        "use strict";

        var Cylon = require("cylon");

        Cylon.robot({

          connections: {
            "iot-analytics": {
              adaptor: "intel-iot-analytics",
              username: "username",
              password: "password"
            }
          },

          devices: {
            iot: { driver: "iot" }
          },

          work: function(my) {
            var com = {
              cid: "raspi-01-temperature.v1.0-01",
              name: "temp",
              type: "temperature.v1.0"
            };

            var deviceToken = "eyJ0eXAiOiJKV1QiLCJhbGciOiJ-b7A....",
                aId = "f5dbea6a-7115-4f77-9919-63c23ec83d9b";

            var callback = function(err, res) {
              console.log("error:", err);
              console.log("Component:", res);
            };

            console.log("Connecting to IoT analytics:");

            my.iot.addComponent(aId, "raspi-01", com, deviceToken, callback);
          }

        }).start();
