:markdown
  ## digitalWrite

  Writes a digital value to the specified pin


  ### Params


  - **pin** (<code>Number</code>) The pin number to write to


  - **value** (<code>Number</code>) Either 1 or 0 (High or Low)


  - **callback** (<code>Function</code>) Callback to be triggered when done


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## pwmWrite

  Writes a PWM value to the a pin


  ### Params


  - **pin** (<code>Number</code>) The pin number to read from


  - **value** (<code>Number</code>) Value to be written from 0 - 1


  - **freq** (<code>Number</code>) Frequency for the PWM write


  - **callback** (<code>Function</code>) triggered when done, passed (err, data)


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## digitalRead

  Does a digital read in the specified pin


  ### Params


  - **pin** (<code>Number</code>) The pin number to read from


  - **callback** (<code>Function</code>) triggered when done, passed (err, data)


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## analogRead

  Does an analog read in the specified pin


  ### Params


  - **pin** (<code>Number</code>) The pin number to read from


  - **callback** (<code>Function</code>) triggered when done, passed (err, data)


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## servoWrite

  Writes a PWM value for servos to a pin (freq = 50)


  ### Params


  - **pin** (<code>Number</code>) The pin number to read from


  - **value** (<code>Number</code>) Value to be written from 0 - 1


  - **freq** (<code>Number</code>) Frequency for the PWM write


  - **callback** (<code>Function</code>) triggered when done, passed (err, data)


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## i2cWrite

  Writes a command and buffer to a I2C device


  ### Params


  - **address** (<code>Number</code>) Address for the I2C device in the bus line


  - **command** (<a href="Byte.html">Byte</a>) command to be written to the device 1byte = 8bit (0xFF)


  - **buffer** (<code>Array</code>.&lt;<a href="Byte.html">Byte</a>&gt;) bytes to be written to the bus [0xFF, 0x00, 0xFF ...]


  - **callback** (<code>Function</code>) triggered when done, passed (err, data)


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## i2cRead

  Reads from a I2C device


  ### Params


  - **address** (<code>Number</code>) Address for the I2C device in the bus line


  - **command** (<a href="Byte.html">Byte</a>) command to be written to the device 1byte = 8bit (0xFF)


  - **bytes** (<code>Number</code>) Amount of bytes to be read from the I2C device


  - **callback** (<code>Function</code>) triggered when done, passed (err, data)


  ### Returns

  - (<code>undefined</code>)
