%h2 #{name}
%table
  %thead
    %th Example
    %th.links{:colspan => '3'} Links
  %tbody
    %tr
      %td analog-read-server
      %td.links= link_to 'Code', '/documentation/examples/api-socketio/js/analog-read-server'
      %td.links
      %td.links
    %tr
      %td blink-server
      %td.links= link_to 'Code', '/documentation/examples/api-socketio/js/blink-server'
      %td.links
      %td.links
    %tr
      %td robot-events-commands-server
      %td.links= link_to 'Code', '/documentation/examples/api-socketio/js/robot-events-commands-server'
      %td.links
      %td.links
