
%h2 #{name}
%table
  %thead
    %th Example
    %th.links{:colspan => '2'} Links
  %tbody
    %tr
      %td audio-sample
      %td.links= link_to 'Code', '/documentation/examples/audio/js/audio-sample'
      %td.links
    %tr
      %td simple-playback
      %td.links= link_to 'Code', '/documentation/examples/audio/js/simple-playback'
      %td.links
