%h2 #{name}
%table
  %thead
    %th Example
    %th.links{:colspan => '3'} Links
  %tbody
    %tr
      %td accel
      %td.links= link_to 'Code', '/documentation/examples/bean/js/accel'
      %td.links
      %td.links
    %tr
      %td blink_rgb
      %td.links= link_to 'Code', '/documentation/examples/bean/js/blink_rgb'
      %td.links
      %td.links
    %tr
      %td temp
      %td.links= link_to 'Code', '/documentation/examples/bean/js/temp'
      %td.links
      %td.links
