
%h2 #{name}
%table
  %thead
    %th Example
    %th.links{:colspan => '3'} Links
  %tbody
    %tr
      %td Button
      %td.links= link_to 'Code', '/documentation/examples/digispark/js/button'
      %td.links
      %td.links= link_to 'Annotated Code', '/documentation/examples/digispark/annotated/button'
