%h2 #{name}
%table
  %thead
    %th Example
    %th.links{:colspan => '2'} Links
  %tbody
    %tr
      %td Sales Force
      %td.links= link_to 'Code', '/documentation/examples/force/js/salesforce'
      %td.links= link_to 'Annotated Code', '/documentation/examples/force/annotated/salesforce'
    %tr
      %td Spark Salesforce
      %td.links= link_to 'Code', '/documentation/examples/force/js/spark-salesforce'
      %td.links
