%h2 #{name}
%table
  %thead
    %th Example
    %th.links{:colspan => '3'} Links
  %tbody
    %tr
      %td mqtt_relay
      %td.links= link_to 'Code', '/documentation/examples/gpio/js/mqtt_relay'
      %td.links
      %td.links
    %tr
      %td simple_relay
      %td.links= link_to 'Code', '/documentation/examples/gpio/js/simple_relay'
      %td.links
      %td.links
