%h2 #{name}
%table
  %thead
    %th Example
    %th.links{:colspan => '3'} Links
  %tbody
    %tr
      %td m2x
      %td.links= link_to 'Code', '/documentation/examples/m2x/js/m2x'
      %td.links
      %td.links
