%h2 #{name}
%table
  %thead
    %th Example
    %th.links{:colspan => '3'} Links
  %tbody
    %tr
      %td mip-drive
      %td.links= link_to 'Code', '/documentation/examples/mip/js/mip-drive'
      %td.links
      %td.links
    %tr
      %td mip
      %td.links= link_to 'Code', '/documentation/examples/mip/js/mip'
      %td.links
      %td.links
