%h2 #{name}
%table
  %thead
    %th Example
    %th.links{:colspan => '3'} Links
  %tbody
    %tr
      %td simple-muse
      %td.links= link_to 'Code', '/documentation/examples/muse/js/simple-muse'
      %td.links
      %td.links
