
%h2 #{name}
%table
  %thead
    %th Example
    %th.links{:colspan => '3'} Links
  %tbody
    %tr
      %td dualshock3
      %td.links= link_to 'Code', '/documentation/examples/powerup/js/dualshock3'
      %td.links
      %td.links
