
%h2 #{name}
%table
  %thead
    %th Example
    %th.links{:colspan => '3'} Links
  %tbody
    %tr
      %td blink
      %td.links= link_to 'Code', '/documentation/examples/skynet/js/blink'
      %td.links= link_to 'Fluent JS', '/documentation/examples/skynet/fluent/blink'
      %td.links
