
%h2 #{name}
%table
  %thead
    %th Example
    %th.links{:colspan => '3'} Links
  %tbody
    %tr
      %td speech
      %td.links= link_to 'Code', '/documentation/examples/speech/js/speech'
      %td.links= link_to 'Fluent JS', '/documentation/examples/speech/fluent/speech'
      %td.links
