%h2 #{name}
%table
  %thead
    %th Example
    %th.links{:colspan => '3'} Links
  %tbody
    %tr
      %td wiced-sense
      %td.links= link_to 'Code', '/documentation/examples/wiced-sense/js/wiced-sense'
      %td.links
      %td.links
