---
layout: documentation
page_title_show: true
title: "Cylon.JS Example - rapiro_walk"
page_title: "Example: rapiro_walk"
author: The Hybrid Group
description: A Cylon.JS code example
page_subtitle: "<a href='https://github.com/hybridgroup/cylon-rapiro/tree/master/examples/rapiro_walk' target='_blank'>View In Repo</a>"
active_menu_docs: true
---
.example
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connections: {
            rapiro: { adaptor: 'rapiro', port: '/dev/ttyUSB0' }
          },

          devices: {
            rapiro: { driver: 'rapiro' }
          },

          work: function(my) {
            var walking = false ;

            var startWalking = function() {
              console.log("forward");
              walking = true ;

              every(1..second(), function() {
                if (walking == true) {
                  my.rapiro.forward();
                }
              });
            }

            var stopWalking = function() {
              console.log("halt");
              walking = false;

              my.rapiro.stop();
              after(1..second(), function() {
                my.rapiro.led(255, 0, 0);
              });
            }

            startWalking();    
            after(10..seconds(), stopWalking);
          }
        }).start();

