:markdown
  ## digitalRead

  Emitted when a digital pin being read has a new value


  ### Values

  - **val**



  * * *

  ## analogRead

  Emitted when an analog pin being read has a new value


  ### Values

  - **val**


