:markdown
  ## firmwareName

  Gets the firmware name of the current platform Cylon is running on.

  For instance, running Cylon on the Edison and calling this function will
  return `"Intel Edison"`.


  ### Returns

  - (<code>String</code>) platform

  * * *

  ## digitalRead

  Reads a value from a digital pin


  ### Params


  - **pin** (<code>Number</code>) pin number to read from


  - **callback** (<code>Function</code>) triggered when the value has been read from the pin


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## digitalWrite

  Writes a value to a digital pin


  ### Params


  - **pin** (<code>Number</code>) pin to write to


  - **value** (<code>Number</code>) value to write to pin


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## analogRead

  Reads a value from an analog pin


  ### Params


  - **pin** (<code>Number</code>) pin to read from


  - **callback** (<code>Function</code>) triggered when the value has been read from the pin


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## servoWrite

  Writes a servo value to a pin


  ### Params


  - **pin** (<code>Number</code>) pin to write to


  - **value** (<code>Number</code>) value to write to pin


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## pwmWrite

  Writes a PWM value to a pin


  ### Params


  - **pinNum** (<code>Number</code>) pin to write to


  - **value** (<code>Number</code>) value to write to pin (0..1)


  - **servo** (<a href="Bool.html">Bool</a>) whether values should be servo


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## analogWrite

  Writes an analog value to a pin


  ### Params


  - **pinNum** (<code>Number</code>) pin to write to


  - **value** (<code>Number</code>) value to write to pin (0..1)


  - **servo** (<a href="Bool.html">Bool</a>) whether values should be servo


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## i2cWrite

  Writes an I2C value to the board.


  ### Params


  - **address** (<code>Number</code>) I2C address to write to


  - **cmd** (<code>Number</code>) I2C command to write


  - **buff** (<code>Array</code>) buffered data to write


  - **callback** (<code>Function</code>) function to invoke when done


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## i2cRead

  Reads an I2C value from the board.


  ### Params


  - **address** (<code>Number</code>) I2C address to write to


  - **cmd** (<code>Number</code>) I2C command to write


  - **length** (<code>Number</code>) amount of data to read


  - **callback** (<code>Function</code>) function to invoke with data


  ### Returns

  - (<code>undefined</code>)
