:markdown
  ## attach

  Emitted when a controller is connected



  * * *

  ## remove

  Emitted when a controller is disconnected



  * * *

  ## move

  Emitted when any connected controller's analog sticks are moved



  * * *

  ## down

  Emitted when any connected controller's button is released



  * * *

  ## down

  Emitted when any connected controller's button is pressed


