---
layout: documentation
page_title_show: true
title: "Cylon.JS Example - blink"
page_title: "Example: blink"
author: The Hybrid Group
description: A Cylon.JS code example
page_subtitle: "<a href='https://github.com/hybridgroup/cylon-tessel/tree/master/examples/blink' target='_blank'>View In Repo</a>"
active_menu_docs: true
---
.example
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon
          .robot()
          .connection('tessel', { adaptor: 'tessel' })
          .device('led', { driver: 'led', pin: 1 })
          .on('ready', function(my) {
            setInterval(function() {
              my.led.toggle();
            }, 1000);
          });

        Cylon.start();
