---
layout: documentation
page_title_show: true
title: "Cylon.JS Example - button"
page_title: "Example: button"
author: The Hybrid Group
description: A Cylon.JS code example
page_subtitle: "<a href='https://github.com/hybridgroup/cylon-tessel/tree/master/examples/button' target='_blank'>View In Repo</a>"
active_menu_docs: true
---
.example
  :markdown
        :::javascript
        "use strict";

        var Cylon = require("cylon");

        Cylon
          .robot()
          .connection("tessel", { adaptor: "tessel" })
          .device("led", { driver: "led", pin: 1 })
          .device("button", { driver: "button", pin: "config" })
          .on("ready", function(robot) {
            robot.button.on("push", function() {
              robot.led.toggle();
            });
          });

        Cylon.start();
