:markdown
  ## message

  Posts a message to Octoblu


  ### Params


  - **data** (<code>Object</code>) to be posted


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## subscribe

  Subscribes to data from Octoblu


  ### Params


  - **opts** (<code>Object</code>) what to subscribe to


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## register

  Register a device on Octoblu


  ### Params


  - **opts** (<code>Object</code>) device data


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## unregister

  Unregister a device on Octoblu


  ### Params


  - **opts** (<code>Object</code>) device data


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## update

  Update a device on Octoblu


  ### Params


  - **data** (<code>Object</code>) device data to update


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## whoami

  Get device info for current device from Octoblu


  ### Params


  - **opts** (<code>Object</code>) device data


  - **callback** (<code>Function</code>) to be triggered with device info


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## status

  Get network status from Octoblu


  ### Params


  - **callback** (<code>Function</code>) to be triggered with network info


  ### Returns

  - (<code>undefined</code>)
