.hero-black
  .triangles
    .triangle-left-black
    .triangle-right-black
  .clear

  .hero-black-container
    .container
      = yield_content :black_top_title

  .triangles
    .triangle-left-grey
    .triangle-right-grey
  .clear
