- unless current_page.data.hero.nil?
  .hero
    .container
      .left-side
        %h1.title
          = current_page.data.hero_title

        %h2.subtitle
          = current_page.data.hero_subtitle

        = current_page.data.getting_started_button

        - if current_page.data.social == true
          = partial "/layouts/hybridpages/social"
      .animation

      .right-side
        %img{src: "/images/elements/soldier.svg"}/
