:markdown
  ## callFunction

  Calls a function on the Spark Core


  ### Params


  - **functionName** (<code>String</code>) name of the function to call


  - **args** (<code>Array</code>.&lt;<code>String</code>&gt;) array of strings to pass as params


  - **callback** (<code>Function</code>) optional callback to be triggered with the response_value from the API


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## getVariable

  Requests the value of a variable from the Spark Core.


  ### Params


  - **varName** (<code>String</code>) name of the variable to request


  - **callback** (<code>Function</code>) function to be triggered with the value


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## onEvent

  Adds an event listener to a specified event on the Spark Core.

  Emits the same event from the adaptor.


  ### Params


  - **eventName** (<code>String</code>) name of the event to listen for


  - **callback** (<code>Function</code>) function to be triggered when the event is emitted


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## digitalRead

  Reads a value from a digital pin


  ### Params


  - **pin** (<code>Number</code>) pin to read from


  - **callback** (<code>Function</code>) triggered when the value has been read from the pin


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## analogRead

  Reads a value from an analog pin


  ### Params


  - **pin** (<code>Number</code>) pin to read from


  - **callback** (<code>Function</code>) triggered when the value has been read from the pin


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## digitalWrite

  Writes a value to a digital pin


  ### Params


  - **pin** (<code>Number</code>) pin to write to


  - **value** (<code>Number</code>) value to write


  - **callback** (<code>Function</code>) function to call when done


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## analogWrite

  Writes a value to an analog pin


  ### Params


  - **pin** (<code>Number</code>) pin to write to


  - **value** (<code>Number</code>) value to write


  - **callback** (<code>Function</code>) function to call when done


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## pwmWrite

  Writes a PWM value to a pin


  ### Params


  - **pin** (<code>Number</code>) pin to write to


  - **value** (<code>Number</code>) value to write


  - **callback** (<code>Function</code>) function to call when done


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## servoWrite

  Writes a servo value to a pin


  ### Params


  - **pin** (<code>Number</code>) pin to write to


  - **value** (<code>Number</code>) value to write


  - **callback** (<code>Function</code>) function to call when done


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## coreAttrs

  Returns attributes of the Spark Core


  ### Returns

  - (<code>Object</code>) attributes

  * * *

  ## pinVal

  Checks if a value is HIGH or LOW


  ### Params


  - **value** (<code>Number</code>) 1 or 0 value to check


  ### Returns

  - (<code>String</code>) 'LOW' or 'HIGH'
