:markdown
  ## digitalRead

  Reads a value from a digital pin


  ### Params


  - **pin** (<code>Number</code>) which pin to read from


  - **callback** (<code>Function</code>) triggered when the value has been read from the pin


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## analogRead

  Reads a value from an analog pin


  ### Params


  - **pin** (<code>Number</code>) which pin to read from


  - **callback** (<code>Function</code>) triggered when the value has been read from the pin


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## digitalWrite

  Writes a value to a digital pin


  ### Params


  - **pin** (<code>Number</code>) which pin to read from


  - **value** (<code>Number</code>) the value to write


  - **callback** (<code>Function</code>) function to call when done


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## analogWrite

  Writes a value to an analog pin


  ### Params


  - **pin** (<code>Number</code>) which pin to read from


  - **value** (<code>Number</code>) the value to write


  - **callback** (<code>Function</code>) function to call when done


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## pwmWrite

  Writes a PWM value to a pin


  ### Params


  - **pin** (<code>Number</code>) which pin to read from


  - **value** (<code>Number</code>) the value to write


  - **callback** (<code>Function</code>) function to call when done


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## servoWrite

  Writes a servo value to a pin


  ### Params


  - **pin** (<code>Number</code>) which pin to read from


  - **value** (<code>Number</code>) the value to write


  - **callback** (<code>Function</code>) function to call when done


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## pinVal

  Checks if a value is HIGH or LOW


  ### Params


  - **value** (<code>Number</code>) 1 or 0 value to check


  ### Returns

  - (<code>String</code>) 'LOW' or 'HIGH'
