:markdown
  ## wake

  Tells the Ollie to wake up


  ### Params


  - **callback** (<code>Function</code>) function to be triggered when the Ollie is awake


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## setTXPower

  Sets the BLE transmit power for the Ollie.

  Uses more battery, but gives longer range


  ### Params


  - **level** (<code>Number</code>) power to set


  - **callback** (<code>Function</code>) function to call when done


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## setRGB

  Sets the RGB color of Ollie's built-in LED


  ### Params


  - **color** (<code>Number</code>) color value to set


  - **persist** (<code>Boolean</code>) whether color should persist through power cycles


  - **callback** (<code>Function</code>) function to call when done


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## roll

  Tells Ollie to roll in a particular speed and heading


  ### Params


  - **speed** (<code>Number</code>) speed to roll at


  - **heading** (<code>Number</code>) heading to roll at


  - **state** (<code>Number</code>) roll state value


  - **callback** (<code>Function</code>) function to call when done


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## stop

  Tells Ollie to stop rolling


  ### Params


  - **callback** (<code>Function</code>) function to call when done


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## setRawMotorValues

  Allows for direct control of both motors, rather than auto-control via the
  stabilization system.

  Each motor (left and right) requires a mode (see below) and a power value
  from 0-255. This command will disable stabilization if both modes aren't
  "ignore" so you'll need to re-enable it via setStabilization() once you're
  done.


  ### Params


  - **lm** (<code>Number</code>) left motor mode


  - **lp** (<code>Number</code>) left motor power


  - **rm** (<code>Number</code>) right motor mode


  - **rp** (<code>Number</code>) right motor power


  - **callback** (<code>Function</code>) function to call when done


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## setStabilization

  Used to enable/disable Ollie's auto-stabilization

  Often used after setting raw motor commands.


  ### Params


  - **enable** (<code>Number</code>) stabilization enable mode


  - **callback** (<code>Function</code>) function to call when done


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## devModeOn

  Enables developer mode on the Ollie.

  This is accomplished via sending a special string to the Anti-DoS service,
  setting TX power to 7, and telling the Sphero to wake up.


  ### Params


  - **callback** (<code>Function</code>) function to call when done


  ### Returns

  - (<code>undefined</code>)
