:markdown
  ## setDataStreaming

  Enables Sphero data streaming


  ### Params


  - **opts** (<code>Object</code>) to be passed to sphero


  - **callback** (<code>Function</code>) to be triggered when done


  ### Returns

  - (<code>undefined</code>)
