:markdown
  ## disconnect

  Emitted when the connection to the Sphero is closed



  * * *

  ## error

  Emitted when Sphero encounters an error



  * * *

  ## message

  Emitted when Sphero sends a message through the serial port



  * * *

  ## notification

  Emitted when Sphero sends a notification through the serial port


  ### Values

  - **packet**



  * * *

  ## data

  Emitted when Sphero sends a notification through the serial port that
  contains data


  ### Values

  - **data**



  * * *

  ## collision

  Emitted when Sphero detects a collision


