:markdown
  ## roll

  Tells Sphero to roll at a specific speed, along a specific heading.

  Heading is considered relative to the last calibrated position.


  ### Params


  - **speed** (<code>Number</code>)


  - **heading** (<code>Number</code>)


  - **state** (<code>Number</code>)


  ### Returns

  - (<code>null</code>)

  * * *

  ## detectCollisions

  Tells Sphero to detect collisions, and report them.


  ### Returns

  - (<code>null</code>)

  * * *

  ## detectLocator

  Tells Sphero to enable sharing of locator data


  ### Returns

  - (<code>null</code>)

  * * *

  ## stop

  Tells Sphero to stop in place.


  ### Returns

  - (<code>null</code>)

  * * *

  ## setRGB

  Sets the color of Sphero's internal RGB LED


  ### Params


  - **color** (<code>Number</code>)


  - **persist** (<code>Boolean</code>)


  ### Returns

  - (<code>null</code>)

  * * *

  ## startCalibration

  Enables Sphero's tail light, and disables stabilization, to allow for
  orientation of Sphero


  ### Returns

  - (<code>null</code>)

  * * *

  ## finishCalibration

  Resets Sphero's heading, disables the rear LED, and re-enables stabilization


  ### Returns

  - (<code>null</code>)
