:markdown
  ## disconnect

  Emitted when the connection to the Sphero is closed



  * * *

  ## disconnect

  Emitted when the connection to the Sphero is closed



  * * *

  ## error

  Emitted when Sphero encounters an error



  * * *

  ## message

  Emitted when Sphero sends a message through the serial port



  * * *

  ## notification

  Emitted when Sphero sends a notification through the serial port


  ### Values

  - **packet**



  * * *

  ## data

  Emitted when Sphero sends a notification through the serial port that
  contains data


  ### Values

  - **data**



  * * *

  ## collision

  Emitted when Sphero detects a collision



  * * *

  ## collision

  Emitted when Sphero receives a version response



  * * *

  ## collision

  Emitted when Sphero receives getBluetoothInfo response



  * * *

  ## collision

  Emitted when Sphero receives autoRecoonect response



  * * *

  ## collision

  Emitted when Sphero receives power state response



  * * *

  ## collision

  Emitted when Sphero receives voltage trip points response



  * * *

  ## collision

  Emitted when Sphero receives level2diags response



  * * *

  ## collision

  Emitted when Sphero receives packetTimes



  * * *

  ## collision

  Emitted when Sphero receives chassisId response



  * * *

  ## collision

  Emitted when Sphero receives read locator response



  * * *

  ## collision

  Emitted when Sphero receives read rgb color response



  * * *

  ## collision

  Emitted when Sphero receives perm option flags response



  * * *

  ## collision

  Emitted when Sphero receives temp option flags response



  * * *

  ## collision

  Emitted when Sphero receives device mode response



  * * *

  ## collision

  Emitted when Sphero receives abort macro response



  * * *

  ## collision

  Emitted when Sphero receives macro status response



  * * *

  ## collision

  Emitted when Sphero receives battery status response



  * * *

  ## collision

  Emitted when Sphero receives level 1 diasgs async msg



  * * *

  ## collision

  Emitted when Sphero receives data streaming async msg



  * * *

  ## collision

  Emitted when Sphero receives config block async msg



  * * *

  ## collision

  Emitted when Sphero receives pre sleep warning async msg



  * * *

  ## collision

  Emitted when Sphero receives macro markers async msg



  * * *

  ## collision

  Emitted when Sphero receives orb basic print msg



  * * *

  ## collision

  Emitted when Sphero receives orb basic ascii error msg



  * * *

  ## collision

  Emitted when Sphero receives orb basic error msg



  * * *

  ## collision

  Emitted when Sphero receives self level async msg



  * * *

  ## collision

  Emitted when Sphero receives gyro axis exceeded async msg


