:markdown
  ## setThrust

  Sets the thrust value of the Powerup


  ### Params


  - **value** (<code>Number</code>) the new value for the Powerup's thrust


  - **callback** (<code>Function</code>) to be triggered when the value is written


  ### Returns

  - (<code>null</code>)

  * * *

  ## setRudder

  Sets the rudder value of the Powerup


  ### Params


  - **value** (<code>Number</code>) the new value for the Powerup's rudder


  - **callback** (<code>Function</code>) to be triggered when the value is written


  ### Returns

  - (<code>null</code>)
