// Config

$body-bg-color: #e8e8e8;
$footer-text-color: #e6d6d6;

$link-color: #9e162e;
$link-hover-color: #580a25;

$title-color: #c51f3c;
$lesser-title-color: #523d47;
$header-subtitle-color: #505252;

$hero-color: #580a25;
$hero-title-color: #fafaf1;
$hero-subtitle-color: #b39f89;
$hero-link-color: #fffbda;
$hero-link-hover-color: white;

$cta-color: #c51f3c;
$cta-hover-color: $cta-color - 30;
$cta-text-color: $hero-link-color;
$cta-text-hover-color: $hero-link-hover-color;

$blog-title-color: #ee274a;
$blog-date-top-color: #b39f89;

$doc-description-color:  #808080;

$social-catcher-background-color: #FDFCF5;

$header-size: 66px;
$logo-size: 226px;

$small-screen: 479px;
$medium-screen: 767px;
$big-screen: 964px;

// NEW-TOP-MENU
$menu-background-color: #6a101c;
$menu-item-color: #eeeaec;

$green-info: #bbdd9e;

//URL SRC
$header-logo-src: '/images/elements/logo.svg';
$header-background-src: '/images/elements/back.png';

//Page Font
$page-title-font: "Montserrat", sans-serif;

// SubNav Drivers

$color-text-subnav-drivers: #504338;
