@import "../hybridpages/assets/stylesheets/main.scss";

// Custom
html, body {
  height: 100%;
}

.app {
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

.app-logo {

  a {

    @extend .hidden-text;
    margin-top: 10px;
  }
}

.section-nav {
  background: url($header-background-menu-src) no-repeat top center;
}

.content {

  .documentation {

    .api {

      img {

          width: 100%;
      }
    }

    .examples {

      table {

        tbody tr td:first-child, thead tr th:first-child {

          width: 580px;
        }
      }
    }
  }
}

.makerland {

  ul {

    li {

      p {

        font-size: 16pt;
      }
    }
  }
}

.makerland-hide {

  display:none;
}