@import "../hybridpages/assets/stylesheets/main.scss";

// Custom
html, body {
  height: 100%;
}

.app {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: 533px;
}

.app-footer {
  margin-top: -533px;
}

.app-logo {

  a {

    @extend .hidden-text;
    margin-top: 10px;
  }
}

.section-nav {
  background: url($header-background-menu-src) $hero-section-nav no-repeat top center;  background-size: cover;
}

.content {
  .documentation {
    .api {
      img {
        width: 100%;
      }
    }

    .examples {
      table {
        tbody tr td:first-child, thead tr th:first-child {
          width: 500px;
        }
      }
    }
  }
}

.makerland {
  ul {
    li {
      p {
        font-size: 16pt;
      }
    }
  }
}

.makerland-hide {

  display:none;
}

.column-footer>.img>img {
  max-width: 144px;
}

.parallax-container {
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.getting-started section:not(:last-child) {
  padding-bottom: 30px;
}

.animation{
  @include animation(star 5s infinite linear);
  @include animation-delay(1s);
  background: url(/images/elements/shoot.png) top center no-repeat;
  background-size: 7%;
  height: 117px;
  opacity:0;
  position: absolute;
  left: 526px;
  top: -17px;;
  width: 112px;

  @include small-screen{
    @include animation(none);
    left: 0px;
  }
}

@include keyframes(star) {

  0% {
    background-size:3%;
    left: 100px;
    top: 171px;
    opacity: 1;
  }
  10% {
    background-size:10%;
    left: 205px;
    top: 127px;
    opacity: .9;
  }
  15%{
    background-size:15%;
    left: 258px;
    top: 100px;
    opacity: 1;
  }
  40% {
    background: url(/images/elements/shoot.png) top center no-repeat;
    background-size: 10%;
    left: 526px;
    top: -17px;
    opacity: 0;
  }
  65%{
    opacity: 0;
  }
  70% {
    background: url(/images/elements/star.png) top center no-repeat;
    background-size: 3%;
    opacity: 1;
  }
  80%{
    opacity:.4;
  }
  85%{
    opacity:0;
  }
}
