---
layout: documentation
page_title_show: true
title: "Cylon.JS Example - Sphero Collisions"
page_title: "Example: Sphero Collisions"
author: The Hybrid Group
description: A Cylon.JS code example
page_subtitle: "<a href='https://github.com/hybridgroup/cylon-sphero/tree/master/examples/collision' target='_blank'>View In Repo</a>"
active_menu_docs: true
---
.example
  :markdown
        :::javascript
        "use strict";

        var Cylon = require("cylon");

        Cylon.robot({
          connections: {
            sphero: { adaptor: "sphero", port: "/dev/rfcomm0" }
          },

          devices: {
            sphero: { driver: "sphero" }
          },

          work: function(me) {
            var color = 0x00FF00,
                bitFilter = 0xFFFF00;

            console.log("Setting up Collision Detection...");

            me.sphero.on("collision", function() {
              console.log("Collision:");
              color = color ^ bitFilter;
              console.log("Color: " + (color.toString(16)) + " ");
              me.sphero.color(color);
              me.sphero.roll(90, Math.floor(Math.random() * 360));
            });

            me.sphero.color(color);
            me.sphero.detectCollisions();
          }
        }).start();
