---
layout: documentation
page_title_show: true
title: "Cylon.JS Example - Multiple Sphero"
page_title: "Example: Multiple Sphero"
author: The Hybrid Group
description: A Cylon.JS code example
page_subtitle: "<a href='https://github.com/hybridgroup/cylon-sphero/tree/master/examples/multiple' target='_blank'>View In Repo</a>"
active_menu_docs: true
---
.example
  :markdown
        :::javascript
        "use strict";

        var Cylon = require("cylon");

        var bots = [
          { name: "Thelma", port: "/dev/rfcomm0" },
          { name: "Louise", port: "/dev/rfcomm1" }
        ];

        bots.forEach(function(bot) {
          Cylon.robot({
            name: bot.name,

            connections: {
              sphero: { adaptor: "sphero", port: bot.port }
            },

            devices: {
              sphero: { driver: "sphero" }
            },

            work: function(my) {
              every((1).second(), function() {
                console.log(my.name);
                my.sphero.randomColor();
                my.sphero.roll(60, Math.floor(Math.random() * 360));
              });
            }
          });
        });

        Cylon.start();
