:markdown
  # Commands

  ## getManufacturerName

  Gets the manufacturer's name.

  ##### Returns

  String representation of the manufacturer's name.

  ## getModelNumber

  Gets the model Number.

  ## getSystemId

  Gets the System ID.