:markdown
  # Commands

  ## getDeviceName

  Gets the name of the device.

  ##### Returns

  String representation of the device's name.

  ## getAppearance

  Gets the unsigned integer value of the device.

  ##### Returns

  Value and description of the device.