---
title: Cylon.js - ARDrone Video Driver
author: The Hybrid Group
page_title: Drivers - ARDrone Video Driver
page_subtitle: Cylon has a extensible system for connecting to hardware devices.
page_title_docs: ARDrone Video
page_subtitle_docs: Driver
layout: documentation
page_title_show: true
subnav_driver: true
active_menu_docs: true
subnavjs: true
---
%section.intro
  =image_tag "/images/devices/ardrone-video.jpg", class: "display"
  .info-intro
    :markdown
      Allows user to receive in-flight video data from an ARDrone.
      Video data from the ARDrone is returned from either the front-facing, or the bottom-facing cameras.

  .clear

%section.how-to#HowToConnect
  :markdown
    ## How To Connect

    Communication with the ARDrone's video interface takes place using a WiFi connection.
    The ARDrone is a WiFi access point, so it normally can be the only device you connect to, without some additional effort to reconfigure the drone itself to put it into infrastructure mode.

  :markdown
        :::javascript
        coming soon

%section.public-methods#Events
  :markdown
    ## Events

    We're working on the documentation for the events. Stay tuned.

%section.example
  :markdown
    ## Example of receiving video data from an ARDrone.

        :::javascript
        coming soon

%section.compatability.hardware
  %h2 Compatibility
  .devices
    = partial "/partials/platforms_for_driver", locals: { driver: "ARDrone - Video" }
