---
title: Cylon.js - Audio Driver
author: The Hybrid Group
page_title: Drivers
page_subtitle: Cylon has a extensible system for connecting to hardware devices.
page_title_docs: Audio
page_subtitle_docs: "<a href='https://github.com/hybridgroup/cylon-audio' target='_blank' class='repository'>Repository</a> <a class='issues' href='https://github.com/hybridgroup/cylon-audio/issues' target='_blank'>Issues</a>"
layout: documentation
page_title_show: true
subnav_driver: true
active_menu_docs: true
subnavjs: true
audio_platform: true
---
-content_for :js_accordeon do
  :javascript
    $("#driver-panel").addClass("active-panel");
    $("#others li:nth-child(4)").addClass("active-link");

%section.intro
  = image_tag "/images/devices/audio.jpg", class: "display"
  .info-intro
    %p This is the Cylon Driver for Audio reproduction capabilities.

  .clear

%section.how_to#HowToConnect
  %h2 How To Connect
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({

          connection: { name: 'audio', adaptor: 'audio' },

          device: {name: 'audio', driver: 'audio'},

        ...

%section.how-to#HowToUse
  %h2 How To Use
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connection: { name: 'audio', adaptor: 'audio' },
          device: {name: 'audio', driver: 'audio'},

          work: function(my) {

            my.audio.on('playing', function(song){
              console.log('Playing this nice tune: "' + song + '"');
            });

            // You can pass a string with a full or relative path here,
            my.audio.play('./audio_samples/audio-sample.mp3');
          }
        }).start();

%section.public-methods
  .commands-api#Commands
    %h1 Commads

    %h2 play(audioFilePath)
    %p Plays the audio file passed as parameter.

  .commands-api#Events
    %h1 Events
    %p no events

%section.compatibility.hardware#Compatability
  %h2 Compatibility
  =# TODO: Update platform list with all that work with this driver in Cylon.js.
  .devices
    = partial "documentation/partials/devices_platforms"   
