---
title: Cylon.js - BLE Battery Service
author: The Hybrid Group
page_title: Drivers
page_subtitle: Cylon has an extensible system for connecting to hardware devices.
page_title_docs: BLE Battery Service
page_subtitle_docs: "<a href='https://github.com/hybridgroup/cylon-ble' target='_blank' class='repository'>Repository</a> <a class='issues' href='https://github.com/hybridgroup/cylon-ble/issues' target='_blank'>Issues</a>"
layout: documentation
page_title_show: true
subnav_driver: true
active_menu_docs: true
subnavjs: true
---
%section.intro
  = image_tag "/images/devices/battery-service.jpg", class: "display"
  .info-intro
    %p Bluetooth low energy battery service

  .clear

%section.how_to#HowToConnect
  :markdown
    ## How To Connect

        :::javascript


%section.how-to#HowToUse
  :markdown
    ## How To Use

        :::javascript


%section.public-methods
  .commands-api#Commands
    :markdown
      # Commands


  .commands-api#Events
    :markdown
      # Events



%section.compatibility.hardware#Compatability
  %h2 Compatibility
  .devices
    = partial "/partials/platforms_for_driver", locals: { driver: "Battery Service" }
