---
title: Cylon.js - BB-8 Driver
author: The Hybrid Group
page_title: Drivers - BB-8
page_subtitle: Cylon has an extensible system for connecting to hardware devices.
page_title_docs: BB-8
page_subtitle_docs: Driver
layout: documentation
page_title_show: true
subnav_driver: true
active_menu_docs: true
subnavjs: true
---
%section.intro
  =image_tag "/images/devices/bb8.jpg", class: "display"
  .info-intro
    :markdown
      Allows users to interact with the Sphero BB-8 robot using Cylon.js.

      For more information click [here](http://www.sphero.com/bb8).

  .clear

%section#HowToConnect
  :markdown
    ## How To Connect

        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connections: {
            bluetooth: { adaptor: 'central', uuid: 'cc360e85785e', module: 'cylon-ble' }
          },

          devices: {
            bb8: { driver: 'bb8', module: "cylon-sphero-ble" }
          },
          ...


%section#HowToUse
  :markdown
    ## How To Use

        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connections: {
            bluetooth: { adaptor: 'central', uuid: 'cc360e85785e', module: 'cylon-ble' }
          },

          devices: {
            bb8: { driver: 'bb8', module: 'cylon-sphero-ble' }
          },

          work: function(my) {
            my.bb8.color(0x00FFFF);

            after(500, function() {
              my.bb8.color(0xFF0000);
            });

            after(1000, function() {
              my.bb8.roll(60, 0);
            });

            after(2000, function() {
              my.bb8.roll(60, 180);
            });

            after(3000, function() {
              my.bb8.stop();
            });
          }
        }).start();

%section.public-methods
  .commands-api#Commands
    %h1 Commands
    = partial "/documentation/import/cylon-sphero-ble/driver-commands"

%section.compatability.hardware#Compatability
  %h2 Compatibility
  .devices
    = partial "/partials/platforms_for_driver", locals: { driver: "BB-8" }
