---
title: Cylon.js - BlinkM Driver
author: The Hybrid Group
page_title: Drivers - BlinkM Driver
page_subtitle: Cylon has a extensible system for connecting to hardware devices.
page_title_docs: BlinkM
page_subtitle_docs: Driver
layout: documentation
page_title_show: true
subnav_driver: true
subnav_circuit_driver: true
active_menu_docs: true
subnavjs: true
---
%section.intro
  =image_tag "/images/devices/blinkm.jpg", class: "display"
  .info-intro
    :markdown
      Allows user to control BlinkM RGB LED via i2c interface.

      For more information click [here](http://thingm.com/products/blinkm/).

  .clear

%section#HowToConnect
  :markdown
    ## How To Connect

    Install the module with `npm install cylon-i2c`

        :::javascript
        Cylon.robot({
          connections: {
            arduino: { adaptor: 'firmata', port: '/dev/ttyACM0' }
          },

          devices: {
            led: { driver: 'led', pin: 13 }
          },
        });

%section#HowToUse
  :markdown
    ## How To Use

    Example, using a BlinkM LED:

        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connections: {
            arduino: { adaptor: 'firmata', port: '/dev/ttyACM0' }
          },

          devices: {
            led: { driver: 'led', pin: 13 }
          },

          work: function(my) {
            every((1).seconds(), function() {
              my.led.toggle();
            });
          }
        }).start();

%section.public-methods
  .commands-api#Commands
    = partial "/documentation/drivers/partials/i2c/commands_blinkm"
  .commands-api#Events
    = partial "/documentation/drivers/partials/i2c/events_blinkm"

%section.circuit#Circuit
  %h2 Circuit
  .description-circuit
    %p
  .image-circuit
    %img{:src => "/documentation/drivers/breadboards/i2c/blinkm_bb.png", :alt => ""}/
  .clear

%section.compatability.hardware#Compatability
  %h2 Compatibility
  .devices
    = partial "/partials/platforms_for_driver", locals: { driver: "BlinkM" }
