---
title: Cylon.js - Button Driver
author: The Hybrid Group
page_title: Drivers - Button
page_subtitle: Cylon has a extensible system for connecting to hardware devices.
page_title_docs: Button
page_subtitle_docs: Driver
layout: documentation
page_title_show: true
subnav_driver: true
subnav_circuit_driver: true
active_menu_docs: true
subnavjs: true
---
%section.intro
  = image_tag "/images/devices/button.jpg", class: "display"
  .info-intro
    :markdown
      Simple interface that makes it possible to register clicks through physical input.

      For more information click [here](http://en.wikipedia.org/wiki/Switch).

  .clear

%section#HowToConnect
  :markdown
    ## How To Connect

        :::javascript
        Cylon.robot({
          connection: { name: 'arduino', adaptor: 'firmata', port: '/dev/ttyACM0' },
          device: { name: 'button', driver: 'button', pin: 2 },
        });


%section#HowToUse
  :markdown
    ## How To Use

    This example detects when a button has been pushed.

        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connection: { name: 'arduino', adaptor: 'firmata', port: '/dev/ttyACM0' },

          device: { name: 'button', driver: 'button', pin: 2 },

          work: function(my) {
            my.button.on('push', function() {
              console.log("Button pushed!");
            });
          }
        }).start();

%section.public-methods
  .commands-api#Commands
    = partial "/documentation/drivers/partials/gpio/commands_button"
  .commands-api#Events
    = partial "/documentation/drivers/partials/gpio/events_button"

%section.circuit#Circuit
  %h2 Circuit
  .description-circuit
    %p
  .image-circuit
    %img{:src => "/documentation/drivers/breadboards/gpio/button_bb.png", :alt => ""}/
  .clear

%section.compatability.hardware#Compatability
  %h2 Compatibility
  .devices
    = partial "/partials/platforms_for_driver", locals: { driver: "Button" }
