---
title: Cylon.js - Continuous Servo Driver
author: The Hybrid Group
page_title: Drivers - Continuous Servo
page_subtitle: Cylon has a extensible system for connecting to hardware devices.
page_title_docs: Continous Servo
page_subtitle_docs: Driver
layout: documentation
page_title_show: true
subnav_driver: true
subnav_circuit_driver: true
active_menu_docs: true
subnavjs: true
---
%section.intro
  = image_tag "/images/devices/continuous-servo.jpg", class: "display"
  .info-intro
    :markdown
      Provides an interface for making servos easy to work and interact with from Cylon.js.

      For more information click [here](http://en.wikipedia.org/wiki/Servomechanism).

  .clear

%section#HowToConnect
  :markdown
    ## How To Connect

        :::javascript
        Cylon.robot({
          connections: {
            arduino: { adaptor: 'firmata', port: '/dev/ttyACM0' }
          },

          devices: {
            servo: { driver: 'continuous-servo', pin: 3 }
          },
        });

%section#HowToUse
  :markdown
    ## How To Use

    This example moves a servo from angle 45 to 90 to 135.

        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connections: {
            arduino: { adaptor: 'firmata', port: '/dev/ttyACM0' }
          },

          devices: {
            servo: { driver: 'continuous-servo', pin: 3 }
          },

          work: function(my) {
            var clockwise = true;

            my.servo.clockwise();

            every((1).second(), function() {
              if (clockwise) {
                my.servo.counterClockwise();
                clockwise = false;
              } else {
                my.servo.clockwise();
                clockwise = true;
              }
            });
          }
        }).start();


%section.public-methods
  .commands-api#Commands
    = partial "/documentation/drivers/partials/gpio/commands_continuous_servo"
  .commands-api#Events
    = partial "/documentation/drivers/partials/gpio/events_continuous_servo"

%section.circuit#Circuit
  %h2 Circuit
  .description-circuit
    %p
  .image-circuit
    %img{:src => "/documentation/drivers/breadboards/gpio/servo_bb.png", :alt => ""}/
  .clear

%section.compatability.hardware#Compatability
  %h2 Compatibility
  .devices
    = partial "/partials/platforms_for_driver", locals: { driver: "Continuous Servo" }
