---
title: Cylon.js - Crazyflie Driver
author: The Hybrid Group
page_title: Drivers - Crazyflie
page_subtitle: Cylon has a extensible system for connecting to hardware devices.
page_title_docs: Crazyflie
page_subtitle_docs: Driver
layout: documentation
page_title_show: true
subnav_driver: true
active_menu_docs: true
subnavjs: true
---
%section.intro
  =image_tag "/images/devices/crazyflie-flight.jpg", class: "display"
  .info-intro
    :markdown
      Allows user to send flight control commands to a Crazyflie micro-quadcopter.
      Flight control commands are those used to tell the Crazyflie to take off, land, and or any number of other autonomous flight manuvers.

      For more information click [here](http://www.bitcraze.se/).

  .clear

%section#HowToConnect
  :markdown
    ## How To Connect

    Communication with the Crazyflie's flight control interface takes place using a 2.4GHz radio connection.
    The Crazyflie is controlled from your computer using a Crazyradio, which is a custom USB 2.4GHz radio device.

        :::javascript
        Cylon.robot({
          connections: {
            crazyflie: { adaptor: 'crazyflie', port: 'radio://1/10/250KPS' }
          },

          devices: {
            drone: { driver: 'crazyflie' }
          },
        });


%section#HowToUse
  :markdown
    ## How To Use

    This small program causes the Crazyflie to takeoff for 10 seconds.

        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connections: {
            crazyflie: { adaptor: 'crazyflie', port: 'radio://1/10/250KPS' }
          },

          devices: {
            drone: { driver: 'crazyflie' }
          },

          work: function(my) {
            my.drone.takeoff();

            after((10).seconds(), function() {
              my.drone.land();
            });

            after((15).seconds(), function() {
              my.drone.stop();
            });
          }
        }).start();

%section.public-methods
  .commands-api#Commands
    %h1 Commands
    = partial "/documentation/import/cylon-crazyflie/commands-commands"

%section.compatability.hardware#Compatability
  %h2 Compatibility
  .devices
    = partial "/partials/platforms_for_driver", locals: { driver: "Crazyflie" }
