---
title: Cylon.js - Direct Pin Driver
author: The Hybrid Group
page_title: Drivers - Direct Pin
page_subtitle: Cylon has a extensible system for connecting to hardware devices.
page_title_docs: Direct Pin
page_subtitle_docs: Driver
layout: documentation
page_title_show: true
subnav_driver: true
active_menu_docs: true
subnavjs: true
---
%section.intro
  =image_tag "/images/devices/direct-pin.jpg", class: "display"
  .info-intro
    %p This a prototyping driver.
  .clear

%section#HowToConnect
  :markdown
    ## How To Connect

    Install the module with `npm install cylon-gpio`

        :::javascript
        Cylon.robot({
          connections: {
            arduino: { adaptor: 'firmata', port: '/dev/ttyACM0' }
          },

          devices: {
            pin: { driver: 'direct-pin', pin: 13 }
          },
        });

%section#HowToUse
  :markdown
    ## How To Use

    Example using a Direct Pin.

        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connections: {
            arduino: { adaptor: 'firmata', port: '/dev/ttyACM0' }
          },

          devices: {
            pin: { driver: 'direct-pin', pin: 13 }
          },

          work: function(my) {
            var value = 0;
            every((1).second(), function() {
              my.pin.digitalWrite(value);
              value = (value == 0) ? 1 : 0;
            });
          }
        }).start();

%section.public-methods
  .commands-api#Commands
    %h1 Commands
    = partial "/documentation/import/cylon-gpio/direct-pin-commands"

%section.compatability.hardware#Compatability
  %h2 Compatibility
  .devices
    = partial "/partials/platforms_for_driver", locals: { driver: "Direct Pin" }
