---
title: Cylon.js - Force Driver
author: The Hybrid Group
page_title: Drivers - Force Driver
page_subtitle: Cylon has a extensible system for connecting to hardware devices.
page_title_docs: Force
page_subtitle_docs: Driver
layout: documentation
page_title_show: true
subnav_driver: true
active_menu_docs: true
subnavjs: true
---
%section.intro
  = image_tag "/images/devices/force.jpg", class: "display"
  .info-intro
    :markdown
      This modules provides an adaptor/driver combination to communicate with Salesforce.

      It uses the official [JSForce module](https://github.com/jsforce/jsforce).

      For more info about the SalesForce platform, click [here](http://www.salesforce.com/platform/overview/).

  .clear

%section.how_to#HowToConnect
  :markdown
    ## How To Connect

        :::javascript
        Cylon.robot({
          connection: {
            name: 'sfcon',
            adaptor: 'force',
            sfuser: process.env.SF_USERNAME,
            sfpass: process.env.SF_SECURITY_TOKEN
          },

          device: {name: 'salesforce', driver: 'force'},


%section.how-to#HowToUse
  :markdown
    ## How To Use

    This example pushes data via an Apex rest call, and also subscribes to it using cylon-force

        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connection: {
            name: 'sfcon',
            adaptor: 'force',
            sfuser: process.env.SF_USERNAME,
            sfpass: process.env.SF_SECURITY_TOKEN
          },

          device: {name: 'salesforce', driver: 'force'},

          work: function(me) {
            me.salesforce.subscribe('SpheroMsgOutbound', function(data) {
              console.log(data);
            });

            var i = 0 ;
            every((2).seconds(), function() {
              var toSend = {spheroName: 'globo', bucks: i++}
              me.salesforce.push('/SpheroController/', toSend);
            });
          }
        });

        Cylon.start();


%section.public-methods
  .commands-api#Commands
    = partial "/documentation/drivers/partials/force/commands"
  .commands-api#Events
    = partial "/documentation/drivers/partials/force/events"

%section.compatibility.hardware#Compatability
  %h2 Compatibility
  .devices
    = partial "/partials/platforms_for_driver", locals: { driver: "Force" }
