---
title: Cylon.js - Hue Driver
author: The Hybrid Group
page_title: Drivers
page_subtitle: Cylon has a extensible system for connecting to hardware devices.
page_title_docs: Hue
page_subtitle_docs: "<a href='https://github.com/hybridgroup/cylon-hue' target='_blank' class='repository'>Repository</a> <a class='issues' href='https://github.com/hybridgroup/cylon-hue/issues' target='_blank'>Issues</a>"
layout: documentation
page_title_show: true
subnav_driver: true
active_menu_docs: true
subnavjs: true
---
%section.intro
  = image_tag "/images/devices/hue.jpg", class: "display"
  .info-intro
    %p 
  .clear

%section.how_to#HowToConnect
  :markdown
    ## How To Connect

        :::javascript
        

%section.how-to#HowToUse
  :markdown
    ## How To Use

        :::javascript
        

%section.public-methods
  .commands-api#Commands
    = partial "/documentation/drivers/partials/hue/commands_light"
      

  .commands-api#Events
    :markdown
      # Events
      no events

      

%section.compatibility.hardware#Compatability
  %h2 Compatibility
  .devices
    = partial "/partials/platforms_for_driver", locals: { driver: "Light" }
