---
title: Cylon.js - Imp Driver
author: The Hybrid Group
page_title: Drivers
page_subtitle: Cylon has na extensible system for connecting to hardware devices.
page_title_docs: Imp
page_subtitle_docs: "<a href='https://github.com/hybridgroup/cylon-imp' target='_blank' class='repository'>Repository</a> <a class='issues' href='https://github.com/hybridgroup/cylon-imp/issues' target='_blank'>Issues</a>"
layout: documentation
page_title_show: true
subnav_driver: true
active_menu_docs: true
subnavjs: true
---
%section.intro
  = image_tag "/images/devices/imp.jpg", class: "display"
  .info-intro
    %p This is the Cylon Driver for Imp.

  .clear

%section#HowToConnect
  :markdown
    ## How To Connect

        :::javascript
        

%section#HowToUse
  :markdown
    ## How To Use

        :::javascript
        

%section.public-methods
  .commands-api#Commands
    :markdown
      # Commands


  .commands-api#Events
    :markdown
      # Events


%section.compatibility.hardware#Compatability
  %h2 Compatibility
  .devices
    = partial "/partials/platforms_for_driver", locals: { driver: "Imp" }
