---
title: Cylon.js - Keyboard Driver
author: The Hybrid Group
page_title: Drivers - Keyboard
page_subtitle: Cylon has a extensible system for connecting to hardware devices.
page_title_docs: Keyboard
page_subtitle_docs: Driver
layout: documentation
page_title_show: true
subnav_driver: true
active_menu_docs: true
subnavjs: trues
---
%section.intro
  =image_tag "/images/devices/keyboard.jpg", class: "display"
  .info-intro
    :markdown
      The Cylon adaptor for keyboard input.

      For more information click [here](http://en.wikipedia.org/wiki/Computer_keyboard).
  .clear

%section#HowToConnect
  :markdown
    ## How To Connect

        :::javascript
        Cylon.robot({
          connections: {
            keyboard: { adaptor: 'keyboard' }
          },

          devices: {
            keyboard: { driver: 'keyboard' }
          }
        });

%section#HowToUse
  :markdown
    ## How To Use

    Example receiving button events from a generic joystick.

        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connections: {
            keyboard: { adaptor: 'keyboard' }
          },

          devices: {
            keyboard: { driver: 'keyboard' }
          }

          work: function(my) {
            my.keyboard.on('a', function(key) {
              console.log("a pressed");
            });
          }
        }).start();

%section.public-methods
  .commands-api#Events
    = partial "/documentation/drivers/partials/keyboard/events"

%section.compatability.hardware#Compatability
  %h2 Compatibility
  .devices
    = partial "/partials/platforms_for_driver", locals: { driver: "Keyboard" }
