---
title: Cylon.js - Leap Motion Driver
author: The Hybrid Group
page_title: Drivers - Leap Motion
page_subtitle: Cylon has a extensible system for connecting to hardware devices.
page_title_docs: Leap Motion
page_subtitle_docs: Driver
layout: documentation
page_title_show: true
subnav_driver: true
active_menu_docs: true
subnavjs: true
---
%section.intro
  =image_tag "/images/devices/leapmotion.jpg", class: "display"
  .info-intro
    :markdown
      Allows user to interact with Cylon.js devices using a Leap Motion controller.
      The Leap Motion uses its built in cameras to track the user's hand motions, and translations those to events that Cylon.js can use to trigger actions or control hardware.

      For more information click [here](https://www.leapmotion.com/).
  .clear

%section#HowToConnect
  :markdown
    ## How To Connect

        :::javascript
        Cylon.robot({
          connections: {
            leapmotion: { adaptor: 'leapmotion' }
          },

          devices: {
            leapmotion: { driver: 'leapmotion' }
          },

        });


%section#HowToUse
  :markdown
    ## How To Use

    Example receiving hand gesture events from a Leap Motion.

        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connections: {
            leapmotion: { adaptor: 'leapmotion' }
          },

          devices: {
            leapmotion: { driver: 'leapmotion' }
          },

          work: function(my) {
            my.leapmotion.on('hand', function(hand) {
              console.log(hand);
            });
          }
        }).start();


%section.public-methods
  .commands-api#Events
    %h1 Events
    = partial "/documentation/import/cylon-leapmotion/driver-events"

%section.compatability.hardware#Compatability
  %h2 Compatibility
  .devices
    = partial "/partials/platforms_for_driver", locals: { driver: "Leap Motion" }
