---
title: Cylon.js - LSM9DS0XM Driver
author: The Hybrid Group
page_title: Drivers - LSM9DS0XM
page_subtitle: Cylon has a extensible system for connecting to hardware devices.
page_title_docs: LSM9DS0XM
page_subtitle_docs: Driver
layout: documentation
page_title_show: true
subnav_driver: true
subnav_circuit_driver: true
active_menu_docs: true
subnavjs: true
---
%section.intro
  = image_tag "/images/devices/LSM9DS0.jpg", class: "display"
  .info-intro
    :markdown
      The LSM9DS0 is a system-in-package featuring a 3D digital linear acceleration sensor, a 3D digital 
      angular rate sensor, and a 3D digital magnetic sensor. LSM9DS0XM Magnetic and accelerometer sensing can be enabled for smart power management.

      For more information click [here](http://www.st.com/web/catalog/sense_power/FM89/SC1448/PF258556).
  .clear

%section.how_to#HowToConnect
  :markdown
    ## How To Connect

        :::javascript
        Cylon.robot({
          connection: { name: 'arduino', adaptor: 'firmata', port: '/dev/tty.usbmodem1421' },
          device: { name: 'accel', driver: 'lsm9ds0xm' }
        });

%section.how-to#HowToUse
  :markdown
    ## How To Use

        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connection: { name: 'arduino', adaptor: 'firmata', port: '/dev/tty.usbmodem1421' },
          device: { name: 'accel', driver: 'lsm9ds0xm' },

          work: function(my) {
            every((1).second(), function() {
              my.accel.getAccel(function(err, data) {
                console.log(data);
              });
            });
          }
        }).start();


%section.public-methods
  .commands-api#Commands
    = partial "/documentation/drivers/partials/i2c/_commands_lsm9ds0xm"
  .commands-api#Events
    = partial "/documentation/drivers/partials/i2c/_events_lsm9ds0xm"

%section.circuit#Circuit
  %h2 Circuit
  .description-circuit
    %p
  .image-circuit
    //%img{:src => "/documentation/drivers/breadboards/i2c/mpu6050_bb.png", :alt => ""}/
  .clear

%section.compatability.hardware#Compatability
  %h2 Compatibility
  .devices
    = partial "/partials/platforms_for_driver", locals: { driver: "LSM9DS0XM" }
