---
title: Cylon.js - Makey Button Driver
author: The Hybrid Group
page_title: Drivers - Makey Button
page_subtitle: Cylon has a extensible system for connecting to hardware devices.
page_title_docs: Makey Button
page_subtitle_docs: Driver
layout: documentation
page_title_show: true
subnav_driver: true
subnav_circuit_driver: true
active_menu_docs: true
subnavjs: trues
---
%section.intro
  = image_tag "/images/devices/makey-button.jpg", class: "display"
  .info-intro
    :markdown
      Inspired by the awesome [MakeyMakey](http://makeymakey.com), this GPIO driver allows you to connect a 10 MOhm resistor to a digital pin on your Arduino or Raspberry Pi to control your robots with bananas, clay, or drawable circuitry.

      For more information click [here](https://learn.sparkfun.com/tutorials/makey-makey-quickstart-guide).
  .clear

%section#HowToConnect
  :markdown
    ## How To Connect

        :::javascript
        Cylon.robot({
          connections: {
            arduino: { adaptor: 'firmata', port: '/dev/ttyACM0' }
          },

          devices: {
            makey: { driver: 'makey-button', pin: 2 }
          },
        });

%section#HowToUse
  :markdown
    ## How To Use

        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connections: {
            arduino: { adaptor: 'firmata', port: '/dev/ttyACM0' }
          },

          devices: {
            makey: { driver: 'makey-button', pin: 2 }
          },

          work: function(my) {
            my.makey.on('push', function() {
              console.log("Button pushed!");
            });
          }
        }).start();

%section.public-methods
  .commands-api#Events
    %h1 Events
    = partial "/documentation/import/cylon-gpio/makey-button-events"

%section.circuit#Circuit
  %h2 Circuit
  .description-circuit
    %p
  .image-circuit
    %img{:src => "/documentation/drivers/breadboards/gpio/makey_button_bb.png", :alt => ""}/
  .clear

%section.compatability.hardware#Compatability
  %h2 Compatability
  .devices
    = partial "/partials/platforms_for_driver", locals: { driver: "Makey Button" }
