---
title: Cylon.js - Maxbotix Driver
author: The Hybrid Group
page_title: Drivers - Maxbotix
page_subtitle: Cylon has a extensible system for connecting to hardware devices.
page_title_docs: Maxbotix
page_subtitle_docs: Driver
layout: documentation
page_title_show: true
subnav_driver: true
subnav_circuit_driver: true
active_menu_docs: true
subnavjs: trues
---
%section.intro
  =image_tag "/images/devices/maxbotix.jpg", class: "display"
  .info-intro
    :markdown
      This module provides tooling to use the Maxbotix Sonar range finder, a set of easy-to-use ultrasonic sensors that provide stable range readings.

      For more information click [here](http://www.maxbotix.com/?gclid=CI7VpM791r0CFenm7AodOSoAjA).

  .clear

%section.how-to#HowToConnect
  :markdown
    ## How To Connect

        :::javascript
        Cylon.robot({
          connection: { name: 'arduino', adaptor: 'firmata', port: '/dev/ttyACM0' },
          device: { name: 'maxbotix', driver: 'maxbotix' },
        });


%section.how-to#HowToUse
  :markdown
    ## How To Use

        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connection: { name: 'arduino', adaptor: 'firmata', port: '/dev/ttyACM0' },
          device: { name: 'maxbotix', driver: 'maxbotix' },

          work: function(my) {
            every((1).seconds(), function() {
              my.maxbotix.range(function(data) {
                console.log("range: " + data);
              });
            });
          }
        }).start();

%section.public-methods
  .commands-api#Commands
    = partial "/documentation/drivers/partials/gpio/commands_maxbotix"
  .commands-api#Events
    = partial "/documentation/drivers/partials/gpio/events_maxbotix"

%section.circuit#Circuit
  %h2 Circuit
  .description-circuit
    %p
  .image-circuit
    %img{:src => "/documentation/drivers/breadboards/gpio/maxbotix_bb.png", :alt => ""}/
  .clear

%section.compatability.hardware#Compatability
  %h2 Compatibility
  .devices
    = partial "/partials/platforms_for_driver", locals: { driver: "Maxbotix" }
