---
title: Cylon.js - MiP Driver
author: The Hybrid Group
page_title: Drivers - MiP
page_subtitle: Cylon has an extensible system for connecting to hardware devices.
page_title_docs: MiP
page_subtitle_docs: Driver
layout: documentation
page_title_show: true
subnav_driver: true
subnav_circuit_driver: true
active_menu_docs: true
subnavjs: true
---
%section.intro
  = image_tag "/images/devices/mip.jpg", class: "display"
  .info-intro
    :markdown
      This is the cylon driver for the MiP allowing you to interract with its motion sensor capabilities.

  .clear

%section#HowToConnect
  :markdown
    ## How To Connect

        :::javascript
        

%section#HowToUse
  :markdown
    ## How To Use

        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connection: { name: 'bluetooth', adaptor: 'central', uuid: 'd03972a24e55', module: 'cylon-ble'},
          devices: [{name: 'mip', driver: 'mip'}],

          work: function(my) {
            my.mip.setHeadLED(2, 2, 2, 2);
            after((2).seconds(), function() {
              my.mip.distanceDrive(0, 10, 0, 0);
            });
            after((3).seconds(), function() {
              my.mip.setHeadLED(1, 1, 1, 1);
            });
          }
        }).start();


%section.public-methods
  .commands-api#Commands
    = partial "/documentation/drivers/partials/mip/commands"
  .commands-api#Events
    = partial "/documentation/drivers/partials/mip/events"

%section.compatability.hardware#Compatability
  %h2 Compatibility
  .devices
    = partial "/partials/platforms_for_driver", locals: { driver: "MiP" }
