---
title: Cylon.js - Motor Driver
author: The Hybrid Group
page_title: Drivers - Moto
page_subtitle: Cylon has a extensible system for connecting to hardware devices.
page_title_docs: Motor
page_subtitle_docs: Driver
layout: documentation
page_title_show: true
subnav_driver: true
subnav_circuit_driver: true
active_menu_docs: true
subnavjs: trues
---
%section.intro
  =image_tag "/images/devices/motor.jpg", class: "display"
  .info-intro
    :markdown
      Provides motor manipulation tools for Cylon.js like on/off, speed modulation using PWM, use of bidirectional motors using forward/backward pins.

      For more information click [here](http://en.wikipedia.org/wiki/Motor_controller).
  .clear

%section#HowToConnect
  :markdown
    ## How To Connect

        :::javascript
        Cylon.robot({
          connections: {
            arduino: { adaptor: 'firmata', port: '/dev/ttyACM0' }
          },

          devices: {
            motor: { driver: 'motor', pin: 3 }
          },

        });

%section#HowToUse
  :markdown
    ## How To Use

        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connections: {
            arduino: { adaptor: 'firmata', port: '/dev/ttyACM0' }
          },

          devices: {
            motor: { driver: 'motor', pin: 3 }
          },

          work: function(my) {
            my.motor.speed(100);

            after((5).seconds(), function() {
              my.motor.stop();
            });
          }
        }).start();

%section.public-methods
  .commands-api#Commands
    %h1 Commands
    = partial "/documentation/import/cylon-gpio/motor-commands"

%section.circuit#Circuit
  %h2 Circuit
  .description-circuit
    %p
  .image-circuit
    %img{:src => "/documentation/drivers/breadboards/gpio/motor_bb.png", :alt => ""}/
  .clear

%section.compatability.hardware#Compatability
  %h2 Compatibility
  .devices
    = partial "/partials/platforms_for_driver", locals: { driver: "Motor" }
