---
title: Cylon.js - MPU6050 Driver
author: The Hybrid Group
page_title: Drivers - MPU6050
page_subtitle: Cylon has a extensible system for connecting to hardware devices.
page_title_docs: MPU6050
page_subtitle_docs: Driver
layout: documentation
page_title_show: true
subnav_driver: true
subnav_circuit_driver: true
active_menu_docs: true
subnavjs: true
---
%section.intro
  = image_tag "/images/devices/mpu6050.jpg", class: "display"
  .info-intro
    :markdown
      The MPU-6050 is a serious little piece of motion processing tech!
      By combining a MEMS 3-axis gyroscope and a 3-axis accelerometer on the same silicon die together with an onboard Digital Motion Processor™ capable of processing complex 9-axis MotionFusion algorithms, the MPU-6050 does away with the cross-axis alignment problems that can creep up on discrete parts.

      For more information click [here](http://playground.arduino.cc/Main/MPU-6050).
  .clear

%section#HowToConnect
  :markdown
    ## How To Connect

        :::javascript
        Cylon.robot({
          connections: {
            arduino: { adaptor: 'firmata', port: '/dev/tty.usbmodem1421' }
          },

          devices: {
            mpu6050: { driver: 'mpu6050' }
          },
        });

%section#HowToUse
  :markdown
    ## How To Use

        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connections: {
            arduino: { adaptor: 'firmata', port: '/dev/tty.usbmodem1421' }
          },

          devices: {
            mpu6050: { driver: 'mpu6050' }
          },

          work: function(my) {
            every((1).seconds(), function() {
              my.mpu6050.getMotionAndTemp(function(err, data) {
                console.log(data);
              });

            });
          }
        }).start();


%section.public-methods
  .commands-api#Commands
    %h1 Commands
    = partial "/documentation/import/cylon-i2c/mpu6050-commands"

%section.circuit#Circuit
  %h2 Circuit
  .description-circuit
    %p The MPU6050 is a 3.3V device. Please note if you are using the Sparkfun version, you need to connect both the VDD and also the VIO to 3.3V power for it to work correctly.
  .image-circuit
    %img{:src => "/documentation/drivers/breadboards/i2c/mpu6050_bb.png", :alt => ""}/
  .clear

%section.compatability.hardware#Compatability
  %h2 Compatibility
  .devices
    = partial "/partials/platforms_for_driver", locals: { driver: "MPU6050" }
