---
title: Cylon.js - Nest Thermostat Driver
author: The Hybrid Group
page_title: Drivers
page_subtitle: Cylon has a extensible system for connecting to hardware devices.
page_title_docs: Nest Thermostat
page_subtitle_docs: Driver
layout: documentation
page_title_show: true
subnav_driver: true
active_menu_docs: true
subnavjs: true
nest_platform: true
---
-content_for :js_accordion do
  :javascript
    $("#driver-panel").addClass("active-panel");
    $("#others li:nth-child(3)").addClass("active-link");

%section.intro
  = image_tag "/images/devices/nest_thermostat.jpg", class: "display"
  .info-intro
    :markdown
      Most people leave the house at one temperature and forget to change it.
      So the Nest Learning Thermostat learns your schedule, programs itself and can be controlled from your phone.
      Teach it well and the Nest Thermostat can lower your heating and cooling bills up to 20%.

      For more information click [here](https://nest.com/thermostat/life-with-nest-thermostat/).
  .clear

%section.how_to#HowToConnect
  :markdown
    ## How To Connect

        :::javascript
        Cylon.robot({
          connection: {
            name: 'nest',
            adaptor: 'nest',
            accessToken: 'YOUR_ACCESS_TOKEN'
          },

          device: {
            name: 'thermostat',
            driver: 'nest-thermostat',
            deviceId: 'YOUR_DEVICE_ID'
          },
        });


%section.how-to#HowToUse
  %h2 How To Use
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connection: {
            name: 'nest',
            adaptor: 'nest',
            accessToken: 'YOUR_ACCESS_TOKEN'
          },

          device: {
            name: 'thermostat',
            driver: 'nest-thermostat',
            deviceId: 'YOUR_DEVICE_ID'
          },

          work: function() {
            every((10).seconds(), function(){
              var temp = my.thermostat.ambientTemperatureC();
              console.log('Ambient Temperature', temp);
            });
          }
        }).start();


%section.public-methods
  .commands-api#Commands
    Coming soon.
    -# TODO: needs in-repo docs to sync, then add partial here

  .commands-api#Events
    %h1 Events
    %p no events


%section.compatibility.hardware#Compatability
  %h2 Compatibility
  =# TODO: Update platform list with all that work with this driver in Cylon.js.
  .devices
    = partial "documentation/partials/devices_platforms"
