---
title: Cylon.js - Nest Thermostat Driver
author: The Hybrid Group
page_title: Drivers
page_subtitle: Cylon has a extensible system for connecting to hardware devices.
page_title_docs: Nest Thermostat
page_subtitle_docs: Driver
layout: documentation
page_title_show: true
subnav_driver: true
active_menu_docs: true
subnavjs: true
nest_platform: true
---
-content_for :js_accordeon do
  :javascript
    $("#driver-panel").addClass("active-panel");
    $("#others li:nth-child(3)").addClass("active-link");
    $(".accordion-docs dt:nth-child(9) a:nth-child(2) img").addClass("rotate");

%section.intro
  = image_tag "/images/devices/nest.jpg", class: "display"
  .info-intro
    %p Most people leave the house at one temperature and forget to change it. So the Nest Learning Thermostat learns your schedule, programs itself and can be controlled from your phone. Teach it well and the Nest Thermostat can lower your heating and cooling bills up to 20%.
    %p
      For more information click
      = link_to "here", "https://nest.com/thermostat/life-with-nest-thermostat/", target: "_blank"

  .clear

%section.how_to#HowToConnect
  %h2 How To Connect
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connection: {
            name: 'nest',
            adaptor: 'nest',
            accessToken: 'XXX',
            deviceId: 'ABC123'
          },
          device: {name: 'thermostat', driver: 'nest-thermostat'},
        ...


%section.how-to#HowToUse
  %h2 How To Use
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connection: {
            name: 'nest',
            adaptor: 'nest',
            accessToken: 'XXX',
            deviceId: 'ABC123'
          },
          device: {name: 'thermostat', driver: 'nest-thermostat'},

          work: function(my) {
            every((60).seconds(), function(){
              console.log(my.thermostat.ambientTemperatureC());
            });
          }
        }).start();


%section.public-methods
  .commands-api#Commands
    %h1 Commands
    %h2 name()
    %p Gets the name of the nest
    %h2 ambientTemperatureF()
    %p Gets the ambient temperature in Fº
    %h2 ambientTemperatureC()
    %p Gets the ambient temperature in Cº
    %h2 targetTemperatureF()
    %p Gets the target temperature in Fº
    %h2 targetTemperatureC()
    %p Gets the ambient temperature in Cº
    %h2 setTargetTemperatureF(value)
    %p Sets the target temperature in Fº
    %h5 Params
    :markdown
      - **value** - The value for the temperature
    %h5 Returns
    :markdown
      `nil`
    %h2 setTargetTemperatureC(value)
    %p Sets the target temperature in Cº
    %h5 Params
    :markdown
      - **value** - The value for the temperature
    %h5 Returns
    :markdown
      `nil`

  .commands-api#Events
    %h1 Events
    %p no events


%section.compatibility.hardware#Compatability
  %h2 Compatibility
  =# TODO: Update platform list with all that work with this driver in Cylon.js.
  .devices
    = partial "documentation/partials/devices_platforms"
