---
title: Cylon.js - Neurosky Mindwave Driver
author: The Hybrid Group
page_title: Drivers - Neurosky Mindwave
page_subtitle: Cylon has a extensible system for connecting to hardware devices.
page_title_docs: Neurosky Mindwave
page_subtitle_docs: Driver
layout: documentation
page_title_show: true
subnav_driver: true
active_menu_docs: true
subnavjs: true
---
%section.intro
  = image_tag "/images/devices/neurosky.jpg", class: "display"
  .info-intro
    :markdown
      The MindWave headset turns your computer into a brain activity monitor.
      The headset safely measures brainwave signals and monitors the attention levels of individuals as they interact with math, memory and pattern recognition applications.

      For more information click [here](http://store.neurosky.com/products/mindwave-mobile).

  .clear

%section#HowToConnect
  :markdown
    ## How To Connect

        :::javascript
        Cylon.robot({
          connections: {
            neurosky: { adaptor: 'neurosky' }
          },

          devices: {
            neurosky: { driver: 'neurosky' }
          },
        });

%section#HowToUse
  :markdown
    ## How To Use

        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connections: {
            neurosky: { adaptor: 'neurosky' }
          },

          devices: {
            neurosky: { driver: 'neurosky' }
          },

          work: function(my) {
            my.headset.on('attention', function(data) {
              console.log("attention:" + data);
            });
            my.headset.on('meditation', function(data) {
              console.log("meditation:" + data);
            });
          }
        });

        Cylon.start();

%section.public-methods
  .commands-api#Commands
    %h1 Commands
    %p no commands
  .commands-api#Events
    = partial "/documentation/drivers/partials/neurosky/events"

%section.compatibility.hardware#Compatability
  %h2 Compatibility
  .devices
    = partial "/partials/platforms_for_driver", locals: { driver: "Neurosky Mindwave" }
