---
title: Cylon.js - Pebble Driver
author: The Hybrid Group
page_title: Drivers - Pebble
page_subtitle: Cylon has a extensible system for connecting to hardware devices.
page_title_docs: Pebble
page_subtitle_docs: Driver
layout: documentation
page_title_show: true
subnav_driver: true
active_menu_docs: true
subnavjs: true
---
%section.intro
  =image_tag "/images/devices/pebble.jpg", class: "display"
  .info-intro
    :markdown
      Allows user to interact with Cylon.js devices using a Pebble smart watch.

      For more information click [here](https://getpebble.com).
  .clear

%section#HowToConnect
  :markdown
    ## How To Connect

        :::javascript

        Cylon.api({
          host: '0.0.0.0',
          port: '8080',
          ssl:  false
        });

        Cylon.robot({
          name: 'pebble',

          connection: { name: 'pebble', adaptor: 'pebble' },
          device: { name: 'pebble', driver: 'pebble' },
        });

%section#HowToUse
  :markdown
    ## How To Use

        :::javascript
        var Cylon = require('cylon');

        Cylon.api({
          host: '0.0.0.0',
          port: '8080',
          ssl:  false
        });

        Cylon.robot({
          name: 'pebble',

          connection: { name: 'pebble', adaptor: 'pebble' },
          device: { name: 'pebble', driver: 'pebble' },

          work: function(my) {
            my.pebble.send_notification("Hello Pebble!");

            my.pebble.on('button', function(data) {
              console.log("Button pushed: " + data);
            });
          }

        });

        Cylon.start();


%section.public-methods
  .commands-api#Commands
    = partial "/documentation/drivers/partials/pebble/commands"
  .commands-api#Events
    = partial "/documentation/drivers/partials/pebble/events"

%section.compatability.hardware#Compatability
  %h2 Compatibility
  .devices
    = partial "/partials/platforms_for_driver", locals: { driver: "Pebble" }
