---
title: Cylon.js - Rapiro Driver
author: The Hybrid Group
page_title: Drivers - Rapiro
page_subtitle: Cylon has a extensible system for connecting to hardware devices.
page_title_docs: Rapiro
page_subtitle_docs: Driver
layout: documentation
page_title_show: true
subnav_driver: true
active_menu_docs: true
subnavjs: true
---
%section.intro
  =image_tag "/images/devices/rapiro.jpg", class: "display"
  .info-intro
    :markdown
      Allows user to interact with the Rapiro robot using Cylon.js.

      For more information click [here](http://www.rapiro.com/).
  .clear

%section#HowToConnect
  :markdown
    ## How To Connect

    Connecting to the Rapiro uses a simple serial port protocol.
    You will need to know which serial port the Rapiro's board is connected to.

        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connections: {
            rapiro: { adaptor: 'rapiro', port: '/dev/ttyACM0' }
          },

          devices: {
            rapiro: { driver: 'rapiro' }
          },
        });

%section#HowToUse
  :markdown
    ## How To Use

    Example of a simple program that makes the Rapiro's LED blink.

        :::javascript

        var Cylon = require('cylon');

        Cylon.robot({
          connections: {
            rapiro: { adaptor: 'rapiro', port: '/dev/ttyUSB0' }
          },

          devices: {
            rapiro: { driver: 'rapiro' }
          },

          work: function(my) {
            var on = false;
            every((1).second(), function() {
              if (on == true) {
                my.rapiro.led(0, 0, 0);
                on = false;
              } else {
                my.rapiro.led(255, 0, 0);
                on = true;
              }
            });
          }

%section.public-methods
  .commands-api#Commands
    %h1 Commands
    = partial "/documentation/import/cylon-rapiro/driver-commands"

%section.compatability.hardware#Compatability
  %h2 Compatibility
  .devices
    = partial "/partials/platforms_for_driver", locals: { driver: "Rapiro" }
