---
title: Cylon.js - RGB LED Driver
author: The Hybrid Group
page_title: Drivers - RGB LED
page_subtitle: Cylon has an extensible system for connecting to hardware devices.
page_title_docs: RGB LED
page_subtitle_docs: Driver
layout: documentation
page_title_show: true
subnav_driver: true
subnav_circuit_driver: true
active_menu_docs: true
subnavjs: true
---
%section.intro
  =image_tag "/images/devices/rgb-led.jpg", class: "display"
  .info-intro
    :markdown
      Allows user to interact with LED strips, with each light accepting RBG values through PWM (Pulse Width Modulation)

      For more information click [here](http://es.wikipedia.org/wiki/Led).
  .clear

%section#HowToConnect
  :markdown
    ## How To Connect

        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connections: {
            edison: { adaptor: 'intel-iot' }
          },

          devices: {
            leds: { driver: 'rgb-led', redPin: 3, greenPin: 5, bluePin: 6 },
          },
        });


%section#HowToUse
  :markdown
    ## How To Use

    This example turns an LED on and off.

        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connections: {
            edison: { adaptor: 'intel-iot' }
          },

          devices: {
            leds: { driver: 'rgb-led', redPin: 3, greenPin: 5, bluePin: 6 },
          },

          work: function(my) {
            var color;
            every((1).second(), function() {
              if (color == "ff0000") {
                color = "00ff00"
              } else
              {
                color = "ff0000"
              };
              my.leds.setRGB(color);
            });
          }
        }).start();

%section.public-methods
  .commands-api#Commands
    %h1 Commands
    = partial "/documentation/import/cylon-gpio/rgb-led-commands"

%section.compatability.hardware#Compatability
  %h2 Compatibility
  .devices
    = partial "/partials/platforms_for_driver", locals: { driver: "RGB LED" }
