---
title: Cylon.js - Servo Driver
author: The Hybrid Group
page_title: Drivers - Servo 
page_subtitle: Cylon has a extensible system for connecting to hardware devices.
page_title_docs: Servo
page_subtitle_docs: Driver
layout: documentation
page_title_show: true
subnav_driver: true
subnav_circuit_driver: true
active_menu_docs: true
subnavjs: true
---
%section.intro
  = image_tag "/images/devices/servo.jpg", class: "display"
  .info-intro
    :markdown
      Provides an interface for making servos easy to work and interact with from Cylon.js.

      For more information click [here](http://en.wikipedia.org/wiki/Servomechanism).
  .clear

%section.how-to#HowToConnect
  :markdown
    ## How To Connect

        :::javascript
        Cylon.robot({
          connection: { name: 'arduino', adaptor: 'firmata', port: '/dev/ttyACM0' },
          device: { name: 'servo', driver: 'servo', pin: 3 },
        });

%section.how-to#HowToUse
  :markdown
    ## How To Use

    This example moves a servo from angle 45 to 90 to 135.

        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connection: { name: 'arduino', adaptor: 'firmata', port: '/dev/ttyACM0' },
          device: { name: 'servo', driver: 'servo', pin: 3 },

          work: function(my) {
            var angle = 45 ;
            my.servo.angle(angle);
            every((1).second(), function() {
              angle = angle + 45 ;
              if (angle > 135) {
                angle = 45
              }
              my.servo.angle(angle);
            });
          }
        }).start();

%section.public-methods
  .commands-api#Commands
    = partial "/documentation/drivers/partials/gpio/commands_servo"
  .commands-api#Events
    = partial "/documentation/drivers/partials/gpio/events_servo"

%section.circuit#Circuit
  %h2 Circuit
  .description-circuit
    %p
  .image-circuit
    %img{:src => "/documentation/drivers/breadboards/gpio/servo_bb.png", :alt => ""}/
  .clear
%section.compatability.hardware#Compatability
  %h2 Compatability
  .devices
    = partial "/partials/platforms_for_driver", locals: { driver: "Servo" }
