---
title: Cylon.js - Speech Driver
author: The Hybrid Group
page_title: Drivers - Speech
page_subtitle: Cylon has a extensible system for connecting to hardware devices.
page_title_docs: Text to Speech
page_subtitle_docs: "<a href='https://github.com/hybridgroup/cylon-speech' target='_blank' class='repository'>Repository</a> <a class='issues' href='https://github.com/hybridgroup/cylon-speech/issues' target='_blank'>Issues</a>"
layout: documentation
page_title_show: true
subnav_driver: true
active_menu_docs: true
subnavjs: true
---
%section.intro
  = image_tag "/images/devices/speech.jpg", class: "display"
  .info-intro
    :markdown
      eSpeak is a compact open source software speech synthesizer for English and other languages, for Linux and Windows.

      Learn more about eSpeak [here](http://espeak.sourceforge.net).

  .clear

%section#HowToConnect
  :markdown
    ## How To Connect

        :::javascript
        Cylon.robot({
          connection: { name: 'speech', adaptor: 'speech' },
          device: { name: 'mouth', driver: 'speech' },
        });

%section#HowToUse
  :markdown
    ## How To Use

        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          // voice for espeak can be specified either in one string or as params for the adaptor.
          // both connections below will reproduce with the same voice.
          // connection: { name: 'speech', adaptor: 'speech', language: 'en, gender: 'f', 'voice: '3' },
          connection: { name: 'speech', adaptor: 'speech', voice: 'en-f3', speed: 130 },
          device: { name: 'mouth', driver: 'speech' },

          work: function(my) {
            my.mouth.say("This is awesome!");
            my.mouth.say("I'm a Cylon.JS robot, and I'm talking!");
          }
        }).start();

%section.public-methods
  .commands-api#Commands
    :markdown
      # Commads

      ## say(message)

      Reproduces the text string passed as audio, text to speech.

  .commands-api#Events
    :markdown
      # Events

      no events

%section.compatibility.hardware#Compatability
  %h2 Compatibility
  .devices
    = partial "/partials/platforms_for_driver", locals: { driver: "Speech" }
