---
title: Cylon.js - Tessel Ambient
author: The Hybrid Group
page_title: Tessel Module
page_subtitle: Cylon has a extensible system for connecting to hardware devices.
page_title_docs: Tessel Ambient
page_subtitle_docs: Module
layout: documentation
page_title_show: true
active_menu_docs: true
subnavjs: true
subnav_driver: true

tessel_platform: true
---
-content_for :js_accordeon do
  :javascript
    $("#driver-panel").addClass("active-panel");
    $("#tessel li:nth-child(2)").addClass("active-link");
    $(".accordion-docs dt:nth-child(9) a:nth-child(2) img").addClass("rotate");

%section.intro
  =image_tag "/images/devices/tessel-ambient.jpg", class: "display"
  .info-intro
    %p The Ambient sensor can detect ambient light and sound levels.
    %p Clap to turn on the TV (paired with infrared) or know from a webapp if the lights are on at home.
    %ul
      %li The microphone is optimized for detecting the ambient noise level in a room or building a sound-activated device.
      %li The ambient light sensor and can be used for detecting fine-grain brightness in a room.
    %p
      For more info visit
      = link_to "here.", "http://start.tessel.io/modules/ambient", target: :blank
  .clear

%section.how-to#HowToConnect
  %h2 How To Connect
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connection: { name: 'tessel', adaptor: 'tessel', port: 'A' },
          device: { name: 'ambient', driver: 'ambient-attx4' },
        ...


%section.how-to#HowToUse
  %h2 How To Use
  %p Example using a Direct Pin.
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connection: { name: 'tessel', adaptor: 'tessel', port: 'A' },
          device: { name: 'ambient', driver: 'ambient-attx4' },
          work: function(my) {
            my.ambient.on('error', function (err) {
              console.log(err)
            });

            my.ambient.on('light', function (data) {
              console.log('Light stream: ' + data);
            });

            my.ambient.on('sound', function (data) {
              console.log('Sound stream: ' + data);
            });

            every((1).seconds(), function() {
              my.ambient.getLightLevel(function(err, data) {
                console.log('Current Light level: ' + data);
              });
              my.ambient.getSoundLevel(function(err, data) {
                console.log('Current Sound level:  ' + data);
              });
            });
          }
        }).start();

%section.public-methods
  .commands-api#Commands
    %h1 Commands
    %h2 ambient.clearLightTrigger( callback(err, triggerVal) )
    %p Clears trigger listener for light trigger.

    %h2 ambient.clearSoundTrigger( callback(err, triggerVal) )
    %p Clears trigger listener for sound trigger.

    %h2 ambient.getLightBuffer( callback(err, data) )
    %p Gets the last 10 light readings.

    %h2 ambient.getLightLevel( callback(err, data) )
    %p Gets a single data point of light level.

    %h2 ambient.getSoundBuffer( callback(err, data) )
    %p Gets the last 10 sound readings.

    %h2 ambient.getSoundLevel( callback(err, data) )
    %p Gets a single data point of sound level.

    %h2 ambient.setLightTrigger( triggerVal, callback(err, triggerVal) )
    %p Sets a trigger to emit a 'light-trigger' event when triggerVal is reached. triggerVal is a float between 0 and 1.0.

    %h2 ambient.setSoundTrigger( triggerVal, callback(err, triggerVal) )
    %p Sets a trigger to emit a 'sound-trigger' event when triggerVal is reached. triggerVal is a float between 0 and 1.0.
  .commands-api#Events
    %h1 Events
    %h2 ambient.on( 'error', callback(err) )
    %p Emitted upon error.

    %h2 ambient.on( 'light', callback(lightData) )
    %p Get a stream of light data.

    %h2 ambient.on( 'light-trigger', callback(lightTriggerValue) )
    %p Emitted upon crossing light trigger threshold.

    %h2 ambient.on( 'ready', callback() )
    %p Emitted upon first successful communication between the Tessel and the module.

    %h2 ambient.on( 'sound', callback(soundData) )
    %p Get a stream of sound level data.

    %h2 ambient.on( 'sound-trigger', callback(soundTriggerValue) )
    %p Emitted upon crossing sound trigger threshold.



%section.compatability.hardware#Compatability
  %h2 Compatibility
  .devices
    = partial "documentation/partials/devices_platforms"
