---
title: Cylon.js - Tessel Bluetooth
author: The Hybrid Group
page_title: Tessel Module
page_subtitle: Cylon has a extensible system for connecting to hardware devices.
page_title_docs: Tessel Bluetooth
page_subtitle_docs: Module
layout: documentation
page_title_show: true
active_menu_docs: true
subnavjs: true

tessel_platform: true
---
-content_for :js_accordeon do
  :javascript
    $("#driver-panel").addClass("active-panel");
    $("#tessel li:nth-child(4)").addClass("active-link");
    $(".accordion-docs dt:nth-child(9) a:nth-child(2) img").addClass("rotate");

%section.intro
  =image_tag "/images/devices/tessel-bluetooth.jpg", class: "display"
  .info-intro
    %p Allows your tesselation to work as a Bluetooth LE master or slave device.
    %p Connect to your phone, FitBit, or other low-powered device.
    %ul
      %li Compatible with iOS 5+, Android 4.3+
      %li Supports master mode to connect to other BLE devices and Tessels
  .clear

%section.how-to#HowToConnect
  %h2 How To Connect
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connection: { name: 'tessel', adaptor: 'tessel', port: 'A' },
          device: { name: 'ble', driver: 'ble-ble113a' },
        ...


%section.how-to#HowToUse
  %h2 How To Use
  %p Example using a Direct Pin.
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connection: { name: 'tessel', adaptor: 'tessel', port: 'A' },
          device: { name: 'ble', driver: 'ble-ble113a' },

          work: function(my) {
            my.ble.on('error', function (err) {
              console.log(err)
            });

            my.ble.on('discover', function(peripheral) {
              console.log("Discovered peripheral!", peripheral.toString());
            });

            after((2).seconds, function() {
              console.log("scanning...");
              my.ble.startScanning();
            });
          }
        }).start();



%section.compatability.hardware#Compatability
  %h2 Compatibility
  .devices
    = partial "documentation/partials/devices_platforms"
