---
title: Cylon.js - UPM Grove Temperature
author: The Hybrid Group
page_title: UPM Module - Grove Temperature
page_subtitle: Cylon has a extensible system for connecting to hardware devices.
page_title_docs: UPM Grove Temperature
page_subtitle_docs: Module
layout: documentation
page_title_show: true
active_menu_docs: true
subnavjs: true
subnav_driver: true
---
%section.intro
  =image_tag "/images/devices/upm-grovetemp.jpg", class: "display"
  .info-intro
    :markdown
      The UPM Grove Temperature Sensor can be used to measure the temperature of the ambient environment. 

      For more info visit [here](http://iotdk.intel.com/docs/master/upm/).
  .clear

%section#HowToConnect
  :markdown
    ## How To Connect

    You plug in the "Grove Temperature Sensor" by connecting the Grove cable to the sensor, and then plugging the other end of the cable to whichever analog port you wish to use on your Grove shield. For example, `A0`.

        :::javascript
        Cylon.robot({
          connections: {
            edison: { adaptor: "intel-iot" }
          },

          devices: {
            sensor: {
              driver: "upm-grovetemp",
              pin: 0
            }
          },        
        ...

%section#HowToUse
  :markdown
    ## How To Use

    Example using the UPM Grove Temperature driver:

        :::javascript
        var Cylon = require("cylon");

        Cylon.robot({
          connections: {
            edison: { adaptor: "intel-iot" }
          },

          devices: {
            sensor: {
              driver: "upm-grovetemp",
              pin: 0
            }
          },

          work: function(my) {
            every((5).seconds(), function() {
              var value = my.sensor.value();
              console.log(value);
            });
          }

        }).start();
        

%section.public-methods
  .commands-api#Commands
    :markdown
      # Commands

      ## value()

      Returns the current temperature value reading from the Grove Temperature sensor.

  .commands-api#Events
    :markdown
      # Events

      ## 'ready'

      Emitted upon first successful communication between the Edison and the module.

%section.compatability.hardware#Compatability
  %h2 Compatibility
  .devices
    = partial "/partials/platforms_for_driver", locals: { driver: "UPM - Grove Temperature" }
