---
title: Cylon.js - UPM Grove Speaker
author: The Hybrid Group
page_title: UPM Module - Grove Speaker
page_subtitle: Cylon has a extensible system for connecting to hardware devices.
page_title_docs: UPM Grove Speaker
page_subtitle_docs: Module
layout: documentation
page_title_show: true
active_menu_docs: true
subnavjs: true
subnav_driver: true
---
%section.intro
  =image_tag "/images/devices/upm-grovespeaker.jpg", class: "display"
  .info-intro
    :markdown
      The UPM Grove Speaker can be used to play simple tones to serve as an audio indicator that something has happened.

      For more info visit [here](http://iotdk.intel.com/docs/master/upm/).
  .clear

%section#HowToConnect
  :markdown
    ## How To Connect

    You plug in the "Grove Speaker" by connecting the Grove cable to the speaker, and then plugging the other end of the cable to whichever digital port you wish to use on your Grove shield. For example, `D4`.

        :::javascript
        Cylon.robot({
          connections: {
            edison: { adaptor: "intel-iot" }
          },

          devices: {
            speaker: {
              driver: "upm-grovespeaker",
              pin: 4
            }
          },
        ...

%section#HowToUse
  :markdown
    ## How To Use

    Example using the UPM Grove Speaker driver:

        :::javascript
        var Cylon = require("cylon");

        Cylon.robot({
          connections: {
            edison: { adaptor: "intel-iot" }
          },

          devices: {
            speaker: {
              driver: "upm-grovespeaker",
              pin: 4
            }
          },

          work: function(my) {
            my.speaker.playSound("a", true, "low");
            my.speaker.playSound("c", true, "low");
            my.speaker.playSound("d", true, "low");
            my.speaker.playSound("b", false, "low");
          }

        }).start();


%section.public-methods
  .commands-api#Commands
    :markdown
      # Commands

      ## playSound(char letter, bool sharp, string vocalWeight)

      Play back a sound using the speaker. For example: `speaker.playSound("c", true, "med");` will play back a C-sharp note in the medium register.

      ## playAll()

      Play all 7 of the lowest notes.

  .commands-api#Events
    :markdown
      # Events

      ## 'ready'

      Emitted upon first successful communication between the Edison and the module.

%section.compatability.hardware#Compatability
  %h2 Compatibility
  .devices
    = partial "/partials/platforms_for_driver", locals: { driver: "UPM - Grove Speaker" }
