---
title: Cylon.js - UPM Grove Relay
author: The Hybrid Group
page_title: UPM Module - Grove Relay
page_subtitle: Cylon has a extensible system for connecting to hardware devices.
page_title_docs: UPM Grove Relay
page_subtitle_docs: Module
layout: documentation
page_title_show: true
active_menu_docs: true
subnavjs: true
subnav_driver: true
---
%section.intro
  =image_tag "/images/devices/upm-groverelay.jpg", class: "display"
  .info-intro
    :markdown
      The UPM Grove Relay can be used to turn on or off an external applicance that uses a separate DC or AC power supply. For example, lights or fans.

      For more info visit [here](http://iotdk.intel.com/docs/master/upm/).
  .clear

%section#HowToConnect
  :markdown
    ## How To Connect

        :::javascript
        Cylon.robot({
        connections: {
          edison: { adaptor: "intel-iot" }
        },

        devices: {
          relay: {
            driver: "upm-groverelay",
            pin: 4
          }
        },
        ...

%section#HowToUse
  :markdown
    ## How To Use

    Example using the UPM Grove Relay driver:

        :::javascript
        var Cylon = require("cylon");

        Cylon.robot({
          connections: {
            edison: { adaptor: "intel-iot" }
          },

          devices: {
            relay: {
              driver: "upm-groverelay",
              pin: 4
            }
          },

          work: function(my) {
            every((10).seconds(), function(){
              if (my.relay.isOff()) {
                my.relay.turnOn();
                console.log("on");
              } else {
                my.relay.turnOff();
                console.log("off");
              }
            });
          }

        }).start();


%section.public-methods
  .commands-api#Commands
    :markdown
      # Commands

      ## relay.turnOn()

      Turns on the voltage controlled by the relay.

      ## relay.turnOff()

      Turns off the voltage controlled by the relay.

      ## relay.isOn()

      Returns the state of the relay, if it is currently on.

      ## relay.turnOff()

      Returns the state of the relay, if it is currently off.

  .commands-api#Events
    :markdown
      # Events

      ## 'ready'

      Emitted upon first successful communication between the Edison and the module.

%section.compatability.hardware#Compatability
  %h2 Compatibility
  .devices
    = partial "/partials/platforms_for_driver", locals: { driver: "UPM - Grove Relay" }
