---
title: Audio with Cylon.js
author: The Hybrid Group
page_title: Platforms - Audio
page_subtitle: Cylon has an extensible system for connecting to hardware devices.
page_title_docs: Audio
page_subtitle_docs: "<a href='https://github.com/hybridgroup/cylon-audio' target='_blank' class='repository'>Repository</a>| <a class='issues' href='https://github.com/hybridgroup/cylon-audio/issues' target='_blank'>Issues</a>"
layout: documentation
page_title_show: true
subnav_nodriver_platform: true
active_menu_platforms: true
subnavjs: true
---
%section.intro
  = image_tag "/images/devices/audio.jpg", class: "display"
  .info-intro
    %h4.subtitle= current_page.data.page_subtitle_docs
    %p This is the Cylon adaptor for Audio reproduction capabilities.
  .clear

= partial "documentation/platforms/partials/audio"

%section.drivers#Drivers
  %h2 Drivers
  %p There is only one driver for Audio as listed below.

  .hardware
    .devices
      = partial "/partials/devices_for_platform", locals: { platform: "Audio" }
