---
page_title_show: true
title: BeagleBone with Cylon
author: The Hybrid Group
page_title: Platforms - BeagleBone
page_subtitle: Cylon has an extensible system for connecting to hardware devices.
page_title_docs: BeagleBone
page_subtitle_docs: "<a href='https://github.com/hybridgroup/cylon-beaglebone' class='repository'>Repository</a>| <a class='issues' href='https://github.com/hybridgroup/cylon-beaglebone/issues'>Issues</a>"
layout: documentation
subnav_platform: true
active_menu_platforms: true
subnavjs: true
---
%section.intro
  = image_tag "/images/devices/beaglebone.jpg", class: "display"
  .info-intro
    %h4.subtitle= current_page.data.page_subtitle_docs
    :markdown
      The BeagleBone Black is an ARM based single-board Linux computer, with many different GPIO interfaces built in.

      For more info about the BeagleBone platform click [here](http://beagleboard.org/Products/BeagleBone).
  .clear

= partial "documentation/platforms/partials/beaglebone"

%section.drivers#Drivers
  %h2 Drivers
  %p All Cylon.js Digital, Analog & PWM GPIO drivers, as well as i2c drivers listed below should work with the BeagleBone:

  .hardware
    .devices
      = partial "/partials/devices_for_platform", locals: { platform: "Beaglebone Black"}
