---
title: Bean with Cylon.js
author: The Hybrid Group
page_title: Platforms - Bean
page_subtitle: Cylon has an extensible system for connecting to hardware devices.
page_title_docs: LightBlue Bean
page_subtitle_docs: "<a href='https://github.com/hybridgroup/cylon-bean' target='_blank' class='repository'>Repository</a>|<a class+'issues' href='https://github.com/hybridgroup/cylon-bean/issues' target='_blank'> Issues</a>"
layout: documentation
page_title_show: true
subnav_platform: true
active_menu_platforms: true
subnavjs: true
---
%section.intro
  = image_tag "/images/devices/bean.jpg", class: "display"
  .info-intro
    %h4.subtitle= current_page.data.page_subtitle_docs
    :markdown
      The LightBlue Bean+ is an Arduino-compatible board that is programmed wirelessly using Bluetooth Low Energy.

      For more info about the Bean platform click [here](https://punchthrough.com/bean).

  .clear

= partial "documentation/platforms/partials/bean"

%section.drivers#Drivers
  :markdown
    ## Drivers

    Available drivers for the Bean platform are listed below.

  .hardware
    .devices
      = partial "/partials/devices_for_platform", locals: { platform: "Bean" }
