---
page_title_show: true
title: BLE with Cylon
author: The Hybrid Group
page_title: Platforms - BLE
page_subtitle: Cylon has an extensible system for connecting to hardware devices.
page_title_docs: BLE
page_subtitle_docs: "<a href='https://github.com/hybridgroup/cylon-ble' class='repository'>Repository</a>| <a class='issues' href='https://github.com/hybridgroup/cylon-ble/issues'>Issues</a>"
layout: documentation
subnav_platform: true
active_menu_platforms: true
subnavjs: true
---
%section.intro
  = image_tag "/images/devices/ble.jpg", class: "display"
  .info-intro
    %h4.subtitle= current_page.data.page_subtitle_docs
    :markdown
      Bluetooth Low Energy (BLE) is a newer standard for communicating with Bluetooth devices.
      It's focused on lower cost and power consumption.
      A number of newer hardware devices come with BLE on-board.

      `cylon-ble` can be used to communicate directly with BLE devices, requesting low-level details such as battery status and generic device info.
      It can also be used as an adaptor for more complicated modules that control larger-scale devices, such as the Orbotix Ollie.

      For more info about BLE click [here](http://www.bluetooth.com/Pages/Bluetooth-Smart.aspx).
  .clear

= partial "documentation/platforms/partials/ble"

%section.drivers#Drivers
  .hardware
    .devices
      = partial "/partials/devices_for_platform", locals: { platform: "BLE"}
