---
title: Crazyflie with Cylon.js
author: The Hybrid Group
page_title: Platforms - Crazyflie
page_subtitle: Cylon has an extensible system for connecting to hardware devices.
page_title_docs: Crazyflie
page_subtitle_docs: "<a href='https://github.com/hybridgroup/cylon-crazyflie' class='repository'>Repository</a>| <a class+'issues' href='https://github.com/hybridgroup/cylon-crazyflie/issues'>Issues</a>"
layout: documentation
page_title_show: true
subnav_platform: true
active_menu_platforms: true
subnavjs: true
---
%section.intro
  = image_tag "/images/devices/crazyflie.jpg", class: "display"
  .info-intro
    %h4.subtitle= current_page.data.page_subtitle_docs
    :markdown
      You can use Cylon.js with the Crazyflie micro-quadcopter.

      This module provides an adaptor and drivers for the [Crazyflie nanocopter](http://www.bitcraze.se/).
      It uses the [Aerogel](https://github.com/ceejbot/aerogel) node module, created by @ceejbot.
  .clear

= partial "documentation/platforms/partials/crazyflie"

%section.drivers#Drivers
  %h2 Drivers
  %p There is currently only one driver for the Crazyflie, as listed below.

  .hardware
    .devices
      = partial "/partials/devices_for_platform", locals: { platform: "Crazyflie"}
