---
title: Force with Cylon.js
author: The Hybrid Group
page_title: Platforms - Force
page_subtitle: Cylon has an extensible system for connecting to hardware devices.
page_title_docs: Force
page_subtitle_docs: "<a href='https://github.com/hybridgroup/cylon-force' class='repository'>Repository</a>| <a class+'issues' href='https://github.com/hybridgroup/cylon-force/issues'>Issues</a>"
layout: documentation
page_title_show: true
subnav_platform: true
active_menu_platforms: true
subnavjs: true
---
%section.intro
  = image_tag "/images/devices/force.jpg", class: "display"
  .info-intro
    %h4.subtitle= current_page.data.page_subtitle_docs
    :markdown
      This modules provides an adaptor + driver combination for communicating with the Salesforce Force.com platform.

      It uses the official [jsforce](https://github.com/jsforce/jsforce) module.

      For more info about the Force platform, click [here](http://www.salesforce.com/platform/overview/).

  .clear

= partial "documentation/platforms/partials/force"

%section.drivers#Drivers
  :markdown
    ## Drivers

    There is only a single driver as listed below for cylon-force:

  .hardware
    .devices
      = partial "/partials/devices_for_platform", locals: { platform: "Salesforce" }
