---
title: Hue with Cylon.js
author: The Hybrid Group
page_title: Platforms - Hue
page_subtitle: Cylon has an extensible system for connecting to hardware devices.
page_title_docs: Hue
page_subtitle_docs: "<a href='https://github.com/hybridgroup/cylon-hue' target='_blank' class='repository'>Repository</a>| <a class='issues' href='https://github.com/hybridgroup/cylon-hue/issues' target='_blank'>Issues</a>"
layout: documentation
page_title_show: true
subnav_nodriver_platform: true
active_menu_platforms: true
subnavjs: true
---
%section.intro
  = image_tag "/images/devices/hue.jpg", class: "display"
  .info-intro
    = partial '/hybridpages/partials/widgets/repo_issues'
    %p 
  .clear

%section.how-to#HowToInstall
  :markdown
    ## How To Install

    Install the module with:

      
%section.how-to#HowToUse
  :markdown
    ## How To Use

    

    Here's an example:

        :::javascript
        

%section.drivers#Drivers
  %h2 Drivers
  %p There is only one driver for Hue as listed below.

  .hardware
    .devices
      = partial "/partials/devices_for_platform", locals: { platform: "Hue" }
