---
title: Phillips Hue with Cylon.js
author: The Hybrid Group
page_title: Platforms - Phillips Hue
page_subtitle: Cylon has an extensible system for connecting to hardware devices.
page_title_docs: Phillips Hue
page_subtitle_docs: "<a href='https://github.com/hybridgroup/cylon-hue' target='_blank' class='repository'>Repository</a>| <a class='issues' href='https://github.com/hybridgroup/cylon-hue/issues' target='_blank'>Issues</a>"
layout: documentation
page_title_show: true
subnav_nodriver_platform: true
active_menu_platforms: true
subnavjs: true
---
%section.intro
  = image_tag "/images/devices/hue.jpg", class: "display"
  .info-intro
    %h4.subtitle= current_page.data.page_subtitle_docs
    :markdown
      The Phillips Hue is a wireless lighting system, that consists of a base station, and 1 or more LED lights controlled by the built-in Zigbee radios.

      For more info about the Phillips Hue click [here](http://meethue.com).
  .clear

%section#HowToInstall
  :markdown
    ## How To Install

    Install the module with:

        $ npm install cylon-hue

    #### Setting up your Phillips Hue

    To connect cylon-hue to a Phillips Hue bridge, you will need to know which host IP address the bridge has on the local network. You can find this out by using your router, or logging into the "Meet Hue" website at [https://www.meethue.com/en-us/user/bridge](https://www.meethue.com/en-us/user/bridge) if you have linked your bridge.

    You also need to either already have a user account on the bridge, or create a new account, so you can obtain the username. You can do this by using the JS file located at `examples/create_user.js`.

    Lastly, you need to know the ID for each light bulb that you want to control. You can do this by using the JS file located at `examples/bridge_state.js`.

%section#HowToUse
  :markdown
    ## How To Use

    Here's an example:

        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connections: {
            hue: { adaptor: 'hue', host: '192.168.1.85', username: 'XXX' }
          },

          devices: {
            bulb: { driver: 'hue-light', lightId: 2 }
          },


          work: function(my) {
            every((1).second(), function() {
              my.bulb.toggle();
            });
          }
        }).start();


%section.drivers#Drivers
  %h2 Drivers
  %p There are 2 drivers for Hue as listed below.

  .hardware
    .devices
      = partial "/partials/devices_for_platform", locals: { platform: "Philips Hue" }
