---
page_title_show: true
title: Cylon.js Platforms
author: The Hybrid Group
description: Cylon.js Platforms
page_title: Platforms
page_subtitle: Cylon.js has an extensible system for connecting to hardware devices.
layout: documentation
active_menu_platforms: true
main_nav: true
---

%ul.platform-list
  - data.platforms.each do |name, info|
    %li.platform
      %a{:href => "/documentation/platforms/#{info.slug}"}
        %p.title= name
        %img{src: "/images/devices/#{info.slug}.jpg", style: "width: 90%"}
