---
title: Intel IoT Analytics with Cylon.js
author: The Hybrid Group
page_title: Platforms - Intel IoT Analytics
page_subtitle: Cylon has an extensible system for connecting to hardware devices.
page_title_docs: Intel IoT Analytics
page_subtitle_docs: "<a href='https://github.com/hybridgroup/cylon-intel-iot-analytics' target='_blank' class='repository'>Repository</a>| <a class+'issues' href='https://github.com/hybridgroup/cylon-intel-iot-analytics/issues' target='_blank'>Issues</a>"
layout: documentation
page_title_show: true
subnav_platform: true
active_menu_platforms: true
subnavjs: true
---
%section.intro
  = image_tag "/images/devices/intel-iot-analytics.jpg", class: "display"
  .info-intro
    %h4.subtitle= current_page.data.page_subtitle_docs
    :markdown
      Intel IoT Analytics is a cloud-based system designed for the Internet-of-Things (IoT) with resources for Intel Galileo/Edison device developers enabling easily acquirable data and analysis.

      For more info on the Intel IoT Analytics platform click [here](https://software.intel.com/en-us/intel-iot-developer-kit-cloud-based-analytics-user-guide).
  .clear

= partial "documentation/platforms/partials/intel-iot-analytics"

%section.drivers#Drivers
  :markdown
    ## Drivers

    Available drivers for the Edison platform are listed below.

  .hardware
    .devices
      = partial "/partials/devices_for_platform", locals: { platform: "Intel IoT Analytics"}
