---
title: Joysticks with Cylon.js
author: The Hybrid Group
page_title: Platforms
page_subtitle: Cylon has a extensible system for connecting to hardware devices.
page_title_docs: Joysticks
page_subtitle_docs: "<a href='https://github.com/hybridgroup/cylon-joystick' class='repository' target='blank'>Repository</a> <a class+'issues' href='https://github.com/hybridgroup/cylon-joystick/issues'  target='blank'>Issues</a>"
layout: documentation
page_title_show: true
subnav_platform: true
active_menu_platforms: true
subnavjs: true

xbox360_driver: true
dualshock_driver: true
---
-content_for :js_accordeon do
  :javascript
    $("#platform-panel").addClass("active-panel");
    $("#platform-panel ul li:nth-child(7)").addClass("active-link");

%section.intro
  = image_tag "/images/devices/joystick.jpg", class: "display"
  .info-intro
    %p You can use Cylon.js with a DualShock 3 controller, the XBox360 controller, or any SDL (Simple DirectMedia Layer) compatible USB joystick or game controller.
    %p
      For more info about SDL, go to
      = link_to "http://www.libsdl.org/", "http://www.libsdl.org/", target: :blank
  .clear

%section.how-to#HowToInstall
  %h2 How To Install
  %p Installing Cylon.js with Joystick support is pretty easy.
  :markdown
        :::bash
        npm install cylon-joystick

  %h3 Note
  %p If you're using a PS3 controller and want to communicate with it over USB, plug it in and then press the PlayStation button to make sure it's connected.

%section.how-to#HowToUse
  %h2 How To Use

  %p
    This short Cylon.js program will respond to joystick input, as well as
    button presses:

  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connection: { name: 'joystick', adaptor: 'joystick' },
          device: { name: 'controller', driver: 'dualshock-3' },

          work: function(my) {
            ["square", "circle", "x", "triangle"].forEach(function(button) {
              my.controller.on(button + ":press", function() {
                console.log("Button " + button + " pressed.");
              });

              my.controller.on(button + ":release", function() {
                console.log("Button " + button + " released.");
              });
            });

            my.controller.on("left_x:move", function(pos) {
              console.log("Left Stick - X:", pos);
            });

            my.controller.on("right_x:move", function(pos) {
              console.log("Right Stick - X:", pos);
            });

            my.controller.on("left_y:move", function(pos) {
              console.log("Left Stick - Y:", pos);
            });

            my.controller.on("right_y:move", function(pos) {
              console.log("Right Stick - Y:", pos);
            });
          }
        });

        Cylon.start();


%section.how-to#HowToConnect
  %h2 How To Connect

  %p
    Plug your USB joystick or game controller into your USB port. If your device
    is supported by SDL, you are now ready.

%section.drivers#Drivers
  %h2 Drivers
  %p Available drivers for the joystick platform are listed below:

  .hardware
    .devices
      = partial "/documentation/partials/devices_joystick_drivers"
