---
title: Joysticks with Cylon.js
author: The Hybrid Group
page_title: Platforms - Joysticks
page_subtitle: Cylon has an extensible system for connecting to hardware devices.
page_title_docs: Joysticks
page_subtitle_docs: "<a href='https://github.com/hybridgroup/cylon-joystick' class='repository' target='blank'>Repository</a>| <a class+'issues' href='https://github.com/hybridgroup/cylon-joystick/issues'  target='blank'>Issues</a>"
layout: documentation
page_title_show: true
subnav_platform: true
active_menu_platforms: true
subnavjs: true

xbox360_driver: true
dualshock_driver: true
---
%section.intro
  = image_tag "/images/devices/joystick.jpg", class: "display"
  .info-intro
    = partial '/hybridpages/partials/widgets/repo_issues'
    :markdown
      You can use Cylon.js with a DualShock 3 controller, an Xbox 360 controller, or any other Simple DirectMedia Layer (SDL) compatible USB joystick or game controller.

      For more info about SDL, click [here](http://www.libsdl.org/).
  .clear

%section.how-to#HowToInstall
  :markdown
    ## How To Install
    Installing Cylon.js with Joystick support is pretty easy.

        $ npm install cylon-joystick

    ### Note
    If you're using a PS3 controller and want to communicate with it over USB, plug it in and then press the PlayStation button to make sure it's connected.

%section.how-to#HowToUse
  :markdown
    ## How To Use

    This short Cylon.js program will respond to joystick input, as well as
    button presses:

        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connection: { name: 'joystick', adaptor: 'joystick' },
          device: { name: 'controller', driver: 'dualshock-3' },

          work: function(my) {
            ["square", "circle", "x", "triangle"].forEach(function(button) {
              my.controller.on(button + ":press", function() {
                console.log("Button " + button + " pressed.");
              });

              my.controller.on(button + ":release", function() {
                console.log("Button " + button + " released.");
              });
            });

            my.controller.on("left_x:move", function(pos) {
              console.log("Left Stick - X:", pos);
            });

            my.controller.on("right_x:move", function(pos) {
              console.log("Right Stick - X:", pos);
            });

            my.controller.on("left_y:move", function(pos) {
              console.log("Left Stick - Y:", pos);
            });

            my.controller.on("right_y:move", function(pos) {
              console.log("Right Stick - Y:", pos);
            });
          }
        }).start();

%section.how-to#HowToConnect
  :markdown
    ## How To Connect

    Plug your USB joystick or game controller into your USB port.
    If your device is supported by SDL, you are now ready.

%section.drivers#Drivers
  :markdown
    ## Drivers

    Available drivers for the joystick platform are listed below:

  .hardware
    .devices
      = partial "/documentation/partials/devices_joystick_drivers"
