---
title: Keyboard with Cylon.js
author: The Hybrid Group
page_title: Platforms - Keyboard
page_subtitle: Cylon has an extensible system for connecting to hardware devices.
page_title_docs: Keyboard
page_subtitle_docs: "<a href='https://github.com/hybridgroup/cylon-keyboard' target='_blank' class='repository'>Repository</a>| <a class+'issues' href='https://github.com/hybridgroup/cylon-keyboard/issues' target='_blank'>Issues</a>"
layout: documentation
page_title_show: true
subnav_platform: true
active_menu_platforms: true
subnavjs: true
---
%section.intro
  = image_tag "/images/devices/keyboard.jpg", class: "display"
  .info-intro
    %h4.subtitle= current_page.data.page_subtitle_docs
    :markdown
      The Cylon adaptor for keyboard input.

      For more info about keyboards, click [here](http://en.wikipedia.org/wiki/Computer_keyboard).

  .clear

%section#HowToInstall
  :markdown
    ## How To Install

    Installing cylon.js with a keyboard support is pretty easy.

        $ npm install cylon-keyboard

%section#HowToUse
  :markdown
    ## How To Use

        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connection: { name: 'keyboard', adaptor: 'keyboard' },
          device: { name: 'keyboard', driver: 'keyboard' },

          work: function(my) {
            my.keyboard.on('a', function(key) {
              console.log("a pressed");
            });
          }
        }).start();

%section#HowToConnect
  :markdown
    ## How to Connect

    Plug the keyboard to your computer as usual.

%section.drivers#Drivers
  :markdown
    ## Drivers

    Available drivers for the keyboard platform are listed below.

  .hardware
    .devices
      = partial "/partials/devices_for_platform", locals: { platform: "Keyboard" }
