---
title: Leapmotion with Cylon.js
author: The Hybrid Group
page_title: Platforms - Leapmotion
page_subtitle: Cylon has an extensible system for connecting to hardware devices.
page_title_docs: Leapmotion
page_subtitle_docs: "<a href='https://github.com/hybridgroup/cylon-leapmotion' class='repository'>Repository</a>| <a class+'issues' href='https://github.com/hybridgroup/cylon-leapmotion/issues'>Issues</a>"
layout: documentation
page_title_show: true
subnav_platform: true
active_menu_platforms: true
subnavjs: true
---
%section.intro
  = image_tag "/images/devices/leapmotion.jpg", class: "display"
  .info-intro
    %h4.subtitle= current_page.data.page_subtitle_docs
    :markdown
      The Leap Motion is a user-interface device that tracks the user's hand motions, and translates them into events that can control robots and physical computing hardware.

      For more info about the Leap Motion platform click [here](https://www.leapmotion.com/).
  .clear

= partial "documentation/platforms/partials/leapmotion"

%section.drivers#Drivers
  :markdown
    ## Drivers

    There is only one driver for the Leap Motion platform as listed below.

  .hardware
    .devices
      = partial "/partials/devices_for_platform", locals: { platform: "Leap Motion" }
