---
title: Leapmotion with Cylon.js
author: The Hybrid Group
page_title: Platforms
page_subtitle: Cylon has an extensible system for connecting to hardware devices.
page_title_docs: Leapmotion
page_subtitle_docs: "<a href='https://github.com/hybridgroup/cylon-leapmotion' class='repository'>Repository</a>| <a class+'issues' href='https://github.com/hybridgroup/cylon-leapmotion/issues'>Issues</a>"
layout: documentation
page_title_show: true
subnav_platform: true
active_menu_platforms: true
subnavjs: true

leapmotion_driver: true
---
-content_for :js_accordeon do
  :javascript
    $("#platform-panel").addClass("active-panel");
    $("#platform-panel ul li:nth-child(12)").addClass("active-link");

%section.intro
  = image_tag "/images/devices/leap_motion.jpg", class: "display"
  .info-intro
    = partial '/hybridpages/partials/widgets/repo_issues'
    :markdown
      The Leap Motion is a user-interface device that tracks the user's hand motions, and translates them into events that can control robots and physical computing hardware.

      For more info about the Leap Motion platform click [here](https://www.leapmotion.com/).
  .clear

%section.how-to#HowToInstall
  :markdown
    ## How To Install

        $ npm install cylon-leapmotion

    In order to use this module, you'll need to install the [Leap Motion software](https://www.leapmotion.com/setup) from their site.

%section.how-to#HowToUse
  :markdown
    ## How To Use

    This small program uses a Leap Motion to detect the user's hand position

        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connection: {
            name: 'leapmotion',
            adaptor: 'leapmotion',
            port: '127.0.0.1:6437'
          },

          device: {
            name: 'leapmotion',
            driver: 'leapmotion'
          },

          work: function(my) {
            my.leapmotion.on('hand', function(payload) {
              console.log(payload.toString());
            });
          }
        }).start();


%section.how-to#HowToConnect
  :markdown
    ## How To Connect

    ### OS X

    Our driver works out-of-the-box with the vanilla installation of the [Leap Motion software](https://www.leapmotion.com/setup).

    ### Ubuntu

    The Linux download of the Leap Motion software can be obtained from the [Leap Motion Dev Center](https://developer.leapmotion.com/downloads).

    To make sure everything's working:

    - Run the leapd daemon to open a websocket connection in port 6437.
    - Connect your computer and the Leap Motion controller
    - Connect to the device via Cylon.js

%section.drivers#Drivers
  :markdown
    ## Drivers

    There is only one driver for the Leap Motion platform as listed below.

  .hardware
    .devices
      =# TODO: Update drivers list at the top of the page.
      = partial "documentation/partials/devices_leapmotion_drivers"
