---
title: M2X with Cylon.js
author: The Hybrid Group
page_title: Platforms - M2X
page_subtitle: Cylon has an extensible system for connecting to hardware devices.
page_title_docs: M2X
page_subtitle_docs: "<a href='https://github.com/hybridgroup/cylon-m2x' class='repository'>Repository</a>| <a class='issues' href='https://github.com/hybridgroup/cylon-m2x/issues'>Issues</a>"
layout: documentation
page_title_show: true
subnav_nodriver_platform: true
active_menu_platforms: true
subnavjs: true
---
%section.intro
  = image_tag "/images/devices/m2x.jpg", class: "display"
  .info-intro
    %h4.subtitle= current_page.data.page_subtitle_docs
    :markdown
      A Cloud-Based Data Storage Service and Management Toolset Customized for the Internet of Things

      For more info about the M2X platform click [here](https://m2x.att.com/).
  .clear

= partial "documentation/platforms/partials/m2x"

%section.drivers#Drivers
  :markdown
    ## Drivers

    Available drivers for the M2X platform are listed below.

  .hardware
    .devices
      = partial "/partials/devices_for_platform", locals: { platform: "M2X" }
