---
title: MiP with Cylon.js
author: The Hybrid Group
page_title: Platforms - MiP
page_subtitle: Cylon has an extensible system for connecting to hardware devices.
page_title_docs: MiP
page_subtitle_docs: "<a href='https://github.com/hybridgroup/cylon-mip' target='_blank' class='repository'>Repository</a>| <a class+'issues' href='https://github.com/hybridgroup/cylon-mip/issues' target='_blank' >Issues</a>"
layout: documentation
page_title_show: true
subnav_platform: true
active_menu_platforms: true
subnavjs: true
---
%section.intro
  =image_tag "/images/devices/mip.jpg", class: "display"
  .info-intro
    %h4.subtitle= current_page.data.page_subtitle_docs
    :markdown

      The MiP is a self-balancing autonomous robot from Wowwee. It can move, dance, talk, and more.

      To learn out more about the MiP, click <a href="http://www.wowwee.com/mip/" target="_blank">here</a>.

  .clear

= partial "documentation/platforms/partials/mip"

%section.drivers#Drivers
  :markdown
    ## Drivers

    There is only one driver for the MiP.

  .hardware
    .devices
      = partial "/partials/devices_for_platform", locals: { platform: "MiP" }
