---
page_title_show: true
title: MQTT with Cylon
author: The Hybrid Group
page_title: Platforms - MQTT
page_subtitle: Cylon has an extensible system for connecting to hardware devices.
page_title_docs: MQTT
page_subtitle_docs: "<a href='https://github.com/hybridgroup/cylon-mqtt' class='repository'>Repository</a>| <a class='issues' href='https://github.com/hybridgroup/cylon-mqtt/issues'>Issues</a>"
layout: documentation
subnav_platform: true
active_menu_platforms: true
subnavjs: true
---
%section.intro
  = image_tag "/images/devices/mqtt.jpg", class: "display"
  .info-intro
    %h4.subtitle= current_page.data.page_subtitle_docs
    :markdown
      MQTT is an Internet of Things connectivity protocol featuring a lightweight publish/subscribe messaging transport. It is useful for it's small code footprint and minimal network bandwidth usage.

      For more info about the MQTT adaptor click [here](http://mqtt.org/).
  .clear

= partial "documentation/platforms/partials/mqtt"

%section.drivers#Drivers
  %h2 Drivers
  %p There is only one driver for the MQTT.
  .hardware
    .devices
      = partial "/partials/devices_for_platform", locals: { platform: "MQTT"}
