---
title: Nest with Cylon.js
author: The Hybrid Group
page_title: Platforms - Nest
page_subtitle: Cylon has an extensible system for connecting to hardware devices.
page_title_docs: Nest
page_subtitle_docs: "<a href='https://github.com/hybridgroup/cylon-nest' target='_blank' class='repository'>Repository</a>| <a class+'issues' href='https://github.com/hybridgroup/cylon-nest/issues' target='_blank'>Issues</a>"
layout: documentation
page_title_show: true
subnav_platform: true
active_menu_platforms: true
subnavjs: true
---
%section.intro
  = image_tag "/images/devices/nest.jpg", class: "display"
  .info-intro
    %h4.subtitle= current_page.data.page_subtitle_docs
    :markdown
      Most people leave the house at one temperature and forget to change it.
      So the Nest Learning Thermostat learns your schedule, programs itself and can be controlled from your phone.
      Teach it well and the Nest Thermostat can lower your heating and cooling bills up to 20%.

      For more info about the Nest platform click [here](https://nest.com/thermostat/life-with-nest-thermostat/).
  .clear

= partial "documentation/platforms/partials/nest"

%section.drivers#Drivers
  :markdown
    ## Drivers

    Available drivers for the Nest platform are listed below.

  .hardware
    .devices
      = partial "/partials/devices_for_platform", locals: { platform: "Nest" }
