---
title: Neurosky with Cylon.js
author: The Hybrid Group
page_title: Platforms - Neurosky
page_subtitle: Cylon has an extensible system for connecting to hardware devices.
page_title_docs: Neurosky
page_subtitle_docs: "<a href='https://github.com/hybridgroup/cylon-neurosky' target='_blank' class='repository'>Repository</a>| <a class+'issues' href='https://github.com/hybridgroup/cylon-neurosky/issues' target='_blank'>Issues</a>"
layout: documentation
page_title_show: true
subnav_platform: true
active_menu_platforms: true
subnavjs: true

neurosky_driver: true
---
-content_for :js_accordion do
  :javascript
    $("#platform-panel").addClass("active-panel");
    $("#platform-panel ul li:nth-child(14)").addClass("active-link");

%section.intro
  = image_tag "/images/devices/neurosky.jpg", class: "display"
  .info-intro
    = partial '/hybridpages/partials/widgets/repo_issues'
    :markdown
      NeuroSky delivers fully integrated, single chip EEG biosensors.
      NeuroSky enables its partners and developers to bring their brainwave application ideas to market with the shortest amount of time, and lowest end consumer price.

      For more info about the Neurosky platform click [here](http://neurosky.com/products-markets/eeg-biosensors/hardware/).
  .clear

%section.how-to#HowToInstall
  :markdown
    ## How To Install

        $ npm install cylon-neurosky

%section.how-to#HowToUse
  :markdown
    ## How To Use

    This example displays the Attention and Meditation data reading sent by the Mindwave Headset:

        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connection: {
            name: 'neurosky',
            adaptor: 'neurosky',
            port: '/dev/rfcomm0'
          },

          device: { name: 'headset', driver: 'neurosky' },

          work: function(my) {
            my.headset.on('attention', function(data) {
              console.log("attention:" + data);
            });

            my.headset.on('meditation', function(data) {
              console.log("meditation:" + data);
            });
          }
        }).start();


%section.how-to#HowToConnect
  :markdown
    ## How To Connect

    ### OSX

    In order to allow Cylon.js running on your Mac to access the Mindwave, go to "Bluetooth > Open Bluetooth Preferences > Sharing Setup" and make sure that "Bluetooth Sharing" is checked.

    ### Ubuntu

    Connecting to the Mindwave from Ubuntu or any other Linux-based OS can be done entirely from the command line using [Gort](http://gort.io) commands.
    Here are the steps:

    Find the address of the Mindwave, by using:

        $ gort scan bluetooth

    Pair to Mindwave using this command (substituting the actual address of your Mindwave):

        $ gort bluetooth pair <address>

    Connect to the Mindwave using this command (substituting the actual address of your Mindwave):

        $ gort bluetooth connect <address>

    ### Windows

    You should be able to pair your Mindwave using your normal system tray applet for Bluetooth, and then connect to the COM port that is bound to the device, such as `COM3`.

%section.drivers#Drivers
  :markdown
    ## Drivers

    Available drivers for the Neurosky Mindwave platform are listed below.

  .hardware
    .devices
      // TODO: Update drivers list at the top of the page.
      = partial "documentation/partials/devices_neurosky_drivers"
