---
title: Neurosky with Cylon.js
author: The Hybrid Group
page_title: Platforms - Neurosky
page_subtitle: Cylon has an extensible system for connecting to hardware devices.
page_title_docs: Neurosky
page_subtitle_docs: "<a href='https://github.com/hybridgroup/cylon-neurosky' target='_blank' class='repository'>Repository</a>| <a class+'issues' href='https://github.com/hybridgroup/cylon-neurosky/issues' target='_blank'>Issues</a>"
layout: documentation
page_title_show: true
subnav_platform: true
active_menu_platforms: true
subnavjs: true
---
%section.intro
  = image_tag "/images/devices/neurosky.jpg", class: "display"
  .info-intro
    %h4.subtitle= current_page.data.page_subtitle_docs
    :markdown
      NeuroSky delivers fully integrated, single chip EEG biosensors.
      NeuroSky enables its partners and developers to bring their brainwave application ideas to market with the shortest amount of time, and lowest end consumer price.

      For more info about the Neurosky platform click [here](http://neurosky.com/products-markets/eeg-biosensors/hardware/).
  .clear

= partial "documentation/platforms/partials/neurosky"

%section.drivers#Drivers
  :markdown
    ## Drivers

    Available drivers for the Neurosky Mindwave platform are listed below.

  .hardware
    .devices
      = partial "/partials/devices_for_platform", locals: { platform: "Neurosky" }
