---
title: Opencv with Cylon.js
author: The Hybrid Group
page_title: Platforms
page_subtitle: Cylon has an extensible system for connecting to hardware devices.
page_title_docs: Opencv
page_subtitle_docs: "<a href='https://github.com/hybridgroup/cylon-opencv' class='repository'>Repository</a>| <a class+'issues' href='https://github.com/hybridgroup/cylon-opencv/issues'>Issues</a>"
layout: documentation
page_title_show: true
subnav_nodriver_platform: true
active_menu_platforms: true
subnavjs: true
---
%section.intro
  = image_tag "/images/devices/opencv.jpg", class: "display"
  .info-intro
    %h4.subtitle= current_page.data.page_subtitle_docs
    :markdown

      OpenCV is a real-time computer vision library.

      OpenCV (Open Source Computer Vision Library) is an open source computer vision and machine learning software library.
      OpenCV was built to provide a common infrastructure for computer vision applications and to accelerate the use of machine perception in the commercial products.
      Being a BSD-licensed product, OpenCV makes it easy for businesses to utilize and modify the code.

      For more info about OpenCV click [here](http://opencv.org/).
  .clear

= partial "documentation/platforms/partials/opencv"