---
title: Pebble with Cylon.js
author: The Hybrid Group
page_title: Platforms - Pebble
page_subtitle: Cylon has an extensible system for connecting to hardware devices.
page_title_docs: Pebble
page_subtitle_docs: "<a href='https://github.com/hybridgroup/cylon-pebble' class='repository'>Repository</a>| <a class+'issues' href='https://github.com/hybridgroup/cylon-pebble/issues'>Issues</a>"
layout: documentation
page_title_show: true
subnav_platform: true
active_menu_platforms: true
subnavjs: true
---
%section.intro
  = image_tag "/images/devices/pebble.jpg", class: "display"
  .info-intro
    %h4.subtitle= current_page.data.page_subtitle_docs
    :markdown
      The Pebble is a smart watch, that connects via Bluetooth.

      Pebble puts critical apps and notifications on your wrist, giving you immediate access to what's most important.

      For more info about the Pebble platform click [here](http://getpebble.com/).
  .clear

= partial "documentation/platforms/partials/pebble"

%section.drivers#Drivers
  :markdown
    ## Drivers

    There is only one driver for the Pebble platform, as listed below.

  .hardware
    .devices
      = partial "/partials/devices_for_platform", locals: { platform: "Pebble" }
