---
title: Pebble with Cylon.js
author: The Hybrid Group
page_title: Platforms - Pebble
page_subtitle: Cylon has an extensible system for connecting to hardware devices.
page_title_docs: Pebble
page_subtitle_docs: "<a href='https://github.com/hybridgroup/cylon-pebble' class='repository'>Repository</a>| <a class+'issues' href='https://github.com/hybridgroup/cylon-pebble/issues'>Issues</a>"
layout: documentation
page_title_show: true
subnav_platform: true
active_menu_platforms: true
subnavjs: true
---
%section.intro
  = image_tag "/images/devices/pebble.jpg", class: "display"
  .info-intro
    %h4.subtitle= current_page.data.page_subtitle_docs
    :markdown
      The Pebble is a smart watch, that connects via Bluetooth.

      Pebble puts critical apps and notifications on your wrist, giving you immediate access to what's most important.

      For more info about the Pebble platform click [here](http://getpebble.com/).
  .clear

%section#HowToInstall
  :markdown
    ## How To Install

        $ npm install cylon-pebble

    First, install the Pebble 2.0 iOS or Android app. (If you haven't already)

    With that done, download WatchBot (our Pebble App) from the [Pebble App Store](https://apps.getpebble.com/applications/52b11885b0661fb292000004).
    %a{href: ""} Pebble App Store

  %a{href: "https://apps.getpebble.com/applications/52b11885b0661fb292000004"}
    %img{src: "/images/blog/2014-07-22/watchbot_appstore.png", width: "100%"}

  :markdown
    ### Configuration

    Once you've got WatchBot installed, go to "My Pebble" on your smartphone's Pebble app. Once there, configure the following settings:

    - **robot name:** leave this blank
    - **robot api host:** IP of the computer running the Cylon API
    - **robot api port:** port number for the Cylon API
    - **publish command:** leave this blank
    - **message command:** leave this blank
    - **accelerometer:** leave this unchecked

  %img{src: "/images/blog/2014-07-22/watchbot_config.png", width: "50%"}


%section#HowToUse
  :markdown
    ## How To Use

    This small program receives message queue events from a Pebble smart watch.

        :::javascript
        var Cylon = require('cylon');

        Cylon.api({
          host: '0.0.0.0',
          port: '8080',
          ssl: false
        });

        Cylon.robot({
          name: 'pebble',

          connections: {
            pebble: { adaptor: 'pebble' }
          },

          devices: {
            pebble: { driver: 'pebble' }
          },

          work: function(my) {
            my.pebble.send_notification("Hello Pebble!");

            my.pebble.on('button', function(data) {
              console.log("Button pushed: " + data);
            });

            my.pebble.on('tap', function() {
              console.log("Tap event detected");
            });
          }

        }).start();


%section#HowToConnect
  :markdown
    ## How To Connect

    This software requires version 2.X of the Pebble watch firmware.

    The main steps are:

    - Install Pebble 2.0 iOS or Android app. (If you haven't already)
    - Install watchbot by following [these instructions](https://github.com/hybridgroup/watchbot/raw/master/README.md)
    - After app is installed, click on "Settings" and configure robot name, robot api host, and robot api port
    - Configuration settings must match with your program, in this example, api host would be your computer IP, robot name is 'pebble', and robot api port is 8080

    ### Supported Features

    - Event detection of 3 main pebble buttons
    - Tap event
    - Accelerometer support
    - Sending text notification to pebble


%section.drivers#Drivers
  :markdown
    ## Drivers

    There is only one driver for the Pebble platform, as listed below.

  .hardware
    .devices
      = partial "/partials/devices_for_platform", locals: { platform: "Pebble" }
