---
title: Pinoccio with Cylon.js
author: The Hybrid Group
page_title: Platforms - Pinoccio
page_subtitle: Cylon has an extensible system for connecting to hardware devices.
page_title_docs: Pinoccio
page_subtitle_docs: "<a href='https://github.com/hybridgroup/cylon-pinoccio' class='repository' target='blank'>Repository</a>| <a class+'issues' href='https://github.com/hybridgroup/cylon-pinoccio/issues'  target='blank'>Issues</a>"
layout: documentation
page_title_show: true
subnav_platform: true
active_menu_platforms: true
subnavjs: true
---
%section.intro
  = image_tag "/images/devices/pinoccio.jpg", class: "display"
  .info-intro
    %h4.subtitle= current_page.data.page_subtitle_docs
    :markdown
      Build wireless, web-enabled projects in minutes.

      For more info about the Pinoccio platform click [here](https://pinocc.io/).
  .clear

= partial "documentation/platforms/partials/pinoccio"

%section.drivers#Drivers
  :markdown
    ## Drivers

    Available drivers for the joystick platform are listed below:

  .hardware
    .devices
      = partial "/partials/devices_for_platform", locals: { platform: "Pinoccio" }
