---
title: Pinoccio with Cylon.js
author: The Hybrid Group
page_title: Platforms - Pinoccio
page_subtitle: Cylon has an extensible system for connecting to hardware devices.
page_title_docs: Pinoccio
page_subtitle_docs: "<a href='https://github.com/hybridgroup/cylon-pinoccio' class='repository' target='blank'>Repository</a>| <a class+'issues' href='https://github.com/hybridgroup/cylon-pinoccio/issues'  target='blank'>Issues</a>"
layout: documentation
page_title_show: true
subnav_platform: true
active_menu_platforms: true
subnavjs: true
---
%section.intro
  = image_tag "/images/devices/pinoccio.jpg", class: "display"
  .info-intro
    = partial '/hybridpages/partials/widgets/repo_issues'
    :markdown
      Build wireless, web-enabled projects in minutes.

      For more info about the Pinoccio platform click [here](https://pinocc.io/).
  .clear

%section.how-to#HowToInstall
  :markdown
    ## How To Install

        $ npm install cylon-pinoccio

%section.how-to#HowToUse
  :markdown
    ## How To Use

    ### Blink

        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connection: {
            name: 'pinoccio',
            adaptor: 'pinoccio',
            token: '[your token]',
            troop: '[your troop ID]',
            scout: '[your scout ID]' 
          },

          device: { name: 'led', driver: 'led', pin: 'D5' },

          work: function(my) {
            every((1).second(), my.led.toggle);
          }
        }).start();

    ### Built-In Features

    You can also access the built-in features of the Pinoccio such as the LED and Power status:

        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connection: {
            name: 'pinoccio',
            adaptor: 'pinoccio',
            token: '[your token]',
            troop: '[your troop ID]',
            scout: '[your scout ID]'
          },

          devices: [
            { name: 'led', driver: 'pinoccio-led' },
            { name: 'power', driver: 'pinoccio-power' }
          ]

          work: function(my) {
            every((3).seconds(), function() {
              my.led.toggle();

              my.power.voltage(function(err, data) {
                console.log(err);
                console.log(data);
              });
            });
          }
        }).start();

%section.how-to#HowToConnect
  :markdown
    ## How To Connect

    You need to have an access token generated using the Pinoccio cloud. The easiest way to do this is to use curl:

        $ curl -X POST -v --data 'email=your@email.com&password=yourpassword' https://api.pinocc.io/v1/login

    It will return a JSON payload that contains the access token:

        < HTTP/1.1 200 OK
        < content-type: application/json
        < Date: Sat, 21 Jun 2014 16:08:05 GMT
        < Connection: close
        < Transfer-Encoding: chunked
        <
        {"data":{"token":"thisisthetokenhere","account":1234,"perms":true}}

%section.drivers#Drivers
  :markdown
    ## Drivers

    Available drivers for the joystick platform are listed below:

  .hardware
    .devices
      = partial "/partials/devices_for_platform", locals: { platform: "Pinoccio" }
