---
page_title_show: true
title: PowerUp with Cylon
author: The Hybrid Group
page_title: Platforms - PowerUp
page_subtitle: Cylon has an extensible system for connecting to hardware devices.
page_title_docs: PowerUp
page_subtitle_docs: "<a href='https://github.com/hybridgroup/cylon-powerup' class='repository'>Repository</a>| <a class='issues' href='https://github.com/hybridgroup/cylon-powerup/issues'>Issues</a>"
layout: documentation
subnav_platform: true
active_menu_platforms: true
subnavjs: true
---
%section.intro
  = image_tag "/images/devices/powerup.jpg", class: "display"
  .info-intro
    %h4.subtitle= current_page.data.page_subtitle_docs
    :markdown
      The PowerUp uses Bluetooth LE to control your self-made paper airplane.

      For more info about PowerUp click [here](http://www.poweruptoys.com/products/powerup-v3).
  .clear

%section.how-to#HowToInstall
  :markdown
    ## How To Install

    Install the module with:

        $npm install cylon-powerup


%section.how-to#HowToUse
  :markdown
    ## How To Use

        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connections: {
            bluetooth: { adaptor: 'ble', uuid: '84dd20eb3d89' },
            joystick: { adaptor: 'joystick' }
          },

          devices: {
            controller: { driver: 'dualshock-3', connection: 'joystick' },
            powerup: { driver: 'powerup' }
          },

          work: function(my) {
            var thrust = 0;
            var rudder = 0;
            var canRudder = false;

            var cb = function(err) {
              if (!!err) {
                console.log(err);
              } else {
                if (canRudder) {
                  canRudder = false;
                  my.powerup.setRudder(rudder, cb);
                }
                else {
                  my.powerup.setThrust(thrust, cb);
                }
              }
            }

            my.powerup.setThrust(thrust, cb);

            my.controller.on("left_y:move", function(data) {
              if (data < 0) {
                thrust = Math.abs(data/32768*254) | 0;
              } else {
                thrust = 0;
              }
            });

            my.controller.on("right_x:move", function(data) {
              var tmp = data/32768*127 | 0;
              if (tmp !== rudder) {
                rudder = tmp;
                canRudder = true;
              }
            });
          }
        }).start();



%section.how-to#HowToConnect
  :markdown
    ## How To Connect

    The Powerup is a Bluetooth Low-Energy device, and is connected as with any other BLE device. For more info, check out the [BLE platform page](/documentation/platforms/ble).

%section.drivers#Drivers
  .hardware
    .devices
      = partial "/partials/devices_for_platform", locals: { platform: "PowerUp"}
