---
page_title_show: true
title: PowerUp with Cylon
author: The Hybrid Group
page_title: Platforms - PowerUp
page_subtitle: Cylon has an extensible system for connecting to hardware devices.
page_title_docs: PowerUp
page_subtitle_docs: "<a href='https://github.com/hybridgroup/cylon-powerup' class='repository'>Repository</a>| <a class='issues' href='https://github.com/hybridgroup/cylon-powerup/issues'>Issues</a>"
layout: documentation
subnav_platform: true
active_menu_platforms: true
subnavjs: true
---
%section.intro
  = image_tag "/images/devices/powerup.jpg", class: "display"
  .info-intro
    %h4.subtitle= current_page.data.page_subtitle_docs
    :markdown
      The PowerUp uses Bluetooth LE to control your self-made paper airplane.

      For more info about PowerUp click [here](http://www.poweruptoys.com/products/powerup-v3).
  .clear

= partial "documentation/platforms/partials/powerup"

%section.drivers#Drivers
  .hardware
    .devices
      = partial "/partials/devices_for_platform", locals: { platform: "PowerUp"}
