---
title: Rapiro with Cylon.js
author: The Hybrid Group
page_title: Platforms - Rapiro
page_subtitle: Cylon has an extensible system for connecting to hardware devices.
page_title_docs: Rapiro
page_subtitle_docs: "<a href='https://github.com/hybridgroup/cylon-rapiro' target='blank' class='repository'>Repository</a>| <a class+'issues' href='https://github.com/hybridgroup/cylon-rapiro/issues' target='blank' >Issues</a>"
layout: documentation
page_title_show: true
subnav_platform: true
active_menu_platforms: true
subnavjs: true
---
%section.intro
  =image_tag "/images/devices/rapiro.jpg", class: "display"
  .info-intro
    %h4.subtitle= current_page.data.page_subtitle_docs
    :markdown
      #### What is Rapiro?

      RAPIRO is a cute and affordable robot kit designed to work with a Raspberry Pi.
      It comes with a Arduino-compatible servo controller.

      #### Where can I get a Rapiro or find more info about it?

      To find out more, go to the [Rapiro web site](http://www.rapiro.com/.).
  .clear

%section#HowToInstall
  :markdown
    ## How To Install

        $ npm install cylon-rapiro

%section#HowToUse
  :markdown
    ## How To Use

    Example of a simple program that makes the Rapiro walk.

        :::javascript
        var Cylon = require('cylon');

        // Initialize the robot
        Cylon.robot({
          connections: {
            rapiro: { adaptor: 'rapiro', port: '/dev/ttyUSB0' }
          },

          devices: {
            rapiro: { driver: 'rapiro' }
          },

          work: function(my) {
            var doneWalking = false;

            my.rapiro.on('start', function() {
              console.log("forward");

              every((1).second(), function() {
                if (doneWalking == false) {
                  my.rapiro.forward();
                }
              });

              after((10).seconds(), function() {
                console.log("halt");
                my.rapiro.halt();
                doneWalking = true;
              });
            });
          }
        }).start();


%section#HowToConnect
  :markdown
    ## How To Connect

    If you are connected from a Raspberry Pi to the Rapiro board, it will appear as serial port `/dev/ttyACM0`.
    You can find out by running [Gort](http://gort.io)'s `gort scan serial` command.


%section.drivers#Drivers
  :markdown
    ## Drivers

    There is only one driver for the Rapiro.

  .hardware
    .devices
      = partial "/partials/devices_for_platform", locals: { platform: "Rapiro" }
