---
title: Raspberry Pi with Cylon.js
author: The Hybrid Group
page_title: Platforms - Raspberry Pi
page_subtitle: Cylon has an extensible system for connecting to hardware devices.
page_title_docs: Raspberry Pi
page_subtitle_docs: "<a href='https://github.com/hybridgroup/cylon-raspi' class='repository'>Repository</a>| <a class+'issues' href='https://github.com/hybridgroup/cylon-raspi/issues'>Issues</a>"
layout: documentation
page_title_show: true
subnav_platform: true
active_menu_platforms: true
subnavjs: true
---
%section.intro
  = image_tag "/images/devices/raspberry-pi.jpg", class: "display"
  .info-intro
    %h4.subtitle= current_page.data.page_subtitle_docs
    :markdown
      The Raspberry Pi is an inexpensive and popular ARM based single board computer with digital & PWM GPIO, and i2c interfaces built in.

      The Raspberry Pi is a credit-card-sized single-board computer developed in the UK by the Raspberry Pi Foundation with the intention of promoting the teaching of basic computer science in schools

      For more info about the Raspberry Pi platform, click [here](http://www.raspberrypi.org/).
  .clear

%section#HowToInstall
  :markdown
    ## How To Install

        $ npm install cylon-raspi

%section#HowToUse
  :markdown
    ## How To Use

    This small program causes an LED to blink.

        :::javascript
        Cylon = require('..');

        Cylon.robot({
          connection: { name: 'raspi', adaptor: 'raspi' },
          device: { name: 'led', driver: 'led', pin: 11 },

          work: function(my) {
            every((1).second(), function() {
              my.led.toggle();
            });
          }
        }).start();


%section#HowToConnect
  :markdown
    ## How To Connect

    ### Connecting to Raspberry Pi GPIO

    This module only works on a real Raspberry Pi.
    Do not bother trying on any other kind of computer it will not work.
    Also note you will need to connect actual circuits to the Raspberry Pi's GPIO pins.

    ### Enabling the Raspberry Pi i2c on Raspbian

    You must add these two entries to your `/etc/modules`

        i2c-bcm2708
        i2c-dev

    You must also ensure that these entries are commented in your `/etc/modprobe.d/raspi-blacklist.conf`

        #blacklist spi-bcm2708
        #blacklist i2c-bcm2708

    Now restart your raspberry pi.

    ### Enabling PWM output on GPIO pins.

    You need to install and have pi-blaster running in the raspberry-pi, you can follow the instructions for pi-blaster install on our repo here:

    [https://github.com/hybridgroup/pi-blaster](https://github.com/hybridgroup/pi-blaster)

    ### Available PINS

        :::javascript
        PINS = {
          3: {
            rev1: 0,
            rev2: 2
          },

          5: {
            rev1: 1,
            rev2: 3
          },

          7: 4,
          8: 14,
          10: 15,
          11: 17,
          12: 18,

          13: {
            rev1: 21,
            rev2: 27
          },

          15: 22,
          16: 23,
          18: 24,
          19: 10,
          21: 9,
          22: 25,
          23: 11,
          24: 8,
          26: 7
        };

%section.drivers#Drivers
  :markdown
    ## Drivers

    All Cylon.js digital and PWM GPIO drivers listed below should work with the Raspberry Pi:

  .hardware
    .devices
      = partial "/partials/devices_for_platform", locals: { platform: "Raspberry Pi" }
