---
title: Raspberry Pi with Cylon.js
author: The Hybrid Group
page_title: Platforms - Raspberry Pi
page_subtitle: Cylon has an extensible system for connecting to hardware devices.
page_title_docs: Raspberry Pi
page_subtitle_docs: "<a href='https://github.com/hybridgroup/cylon-raspi' class='repository'>Repository</a>| <a class+'issues' href='https://github.com/hybridgroup/cylon-raspi/issues'>Issues</a>"
layout: documentation
page_title_show: true
subnav_platform: true
active_menu_platforms: true
subnavjs: true
---
%section.intro
  = image_tag "/images/devices/raspberry-pi.jpg", class: "display"
  .info-intro
    %h4.subtitle= current_page.data.page_subtitle_docs
    :markdown
      The Raspberry Pi is an inexpensive and popular ARM based single board computer with digital & PWM GPIO, and i2c interfaces built in.

      The Raspberry Pi is a credit-card-sized single-board computer developed in the UK by the Raspberry Pi Foundation with the intention of promoting the teaching of basic computer science in schools

      For more info about the Raspberry Pi platform, click [here](http://www.raspberrypi.org/).
  .clear

= partial "documentation/platforms/partials/raspi"

%section.drivers#Drivers
  :markdown
    ## Drivers

    All Cylon.js digital and PWM GPIO drivers listed below should work with the Raspberry Pi:

  .hardware
    .devices
      = partial "/partials/devices_for_platform", locals: { platform: "Raspberry Pi" }
