---
title: Skynet with Cylon.js
author: The Hybrid Group
page_title: Platforms - Skynet
page_subtitle: Cylon has an extensible system for connecting to hardware devices.
page_title_docs: Skynet
page_subtitle_docs: "<a href='https://github.com/hybridgroup/cylon-skynet' class='repository'>Repository</a>| <a class='issues' href='https://github.com/hybridgroup/cylon-skynet/issues'>Issues</a>"
layout: documentation
page_title_show: true
subnav_nodriver_platform: true
active_menu_platforms: true
subnavjs: true
---
%section.intro
  = image_tag "/images/devices/skynet.jpg", class: "display"
  .info-intro
    %h4.subtitle= current_page.data.page_subtitle_docs
    :markdown
      Open Communications Network and API for the internet of things.

      For more info about the Skynet platform click [here ](http://skynet.im/).
  .clear

= partial "documentation/platforms/partials/skynet"

%section.drivers#Drivers
  :markdown
    ## Drivers

    Available drivers for the Skynet platform are listed below.

  .hardware
    .devices
      = partial "/partials/devices_for_platform", locals: { platform: "Skynet" }
