---
title: Speech with Cylon.js
author: The Hybrid Group
page_title: Platforms - Speech
page_subtitle: Cylon has an extensible system for connecting to hardware devices.
page_title_docs: Speech
page_subtitle_docs: "<a href='https://github.com/hybridgroup/cylon-speech' target='_blank' class='repository'>Repository</a>| <a class='issues' href='https://github.com/hybridgroup/cylon-speech/issues' target='_blank'>Issues</a>"
layout: documentation
page_title_show: true
subnav_nodriver_platform: true
active_menu_platforms: true
subnavjs: true
---
%section.intro
  = image_tag "/images/devices/speech.jpg", class: "display"
  .info-intro
    %h4.subtitle= current_page.data.page_subtitle_docs
    :markdown
      eSpeak is a compact open source software speech synthesizer for English and other languages, for Linux and Windows.

      Learn more about eSpeak [here](http://espeak.sourceforge.net).
  .clear

= partial "documentation/platforms/partials/speech"

%section.drivers#Drivers
  :markdown
    ## Drivers

    There is only one driver for Speech as listed below.

  .hardware
    .devices
      = partial "/partials/devices_for_platform", locals: { platform: "Speech" }
