---
title: Speech with Cylon.js
author: The Hybrid Group
page_title: Platforms - Speech
page_subtitle: Cylon has an extensible system for connecting to hardware devices.
page_title_docs: Speech
page_subtitle_docs: "<a href='https://github.com/hybridgroup/cylon-speech' target='_blank' class='repository'>Repository</a>| <a class='issues' href='https://github.com/hybridgroup/cylon-speech/issues' target='_blank'>Issues</a>"
layout: documentation
page_title_show: true
subnav_nodriver_platform: true
active_menu_platforms: true
subnavjs: true
---
%section.intro
  = image_tag "/images/devices/speech.jpg", class: "display"
  .info-intro
    = partial '/hybridpages/partials/widgets/repo_issues'
    :markdown
      eSpeak is a compact open source software speech synthesizer for English and other languages, for Linux and Windows.

      Learn more about eSpeak [here](http://espeak.sourceforge.net).
  .clear

%section.how-to#HowToInstall
  :markdown
    ## How To Install

    Install the module via NPM:

        $ npm install cylon-speech

    After the module is installed, but before you run any scripts using it, ensure the espeak utility is installed on your computer.

    There are packages available for Linux, OS X, and Windows.

    ### OS X

    Install espeak through Homebrew. For now, we have a custom formula in our repo, but in the future we hope to contribute a formula to the main Homebrew library.

        $ brew install https://raw.githubusercontent.com/hybridgroup/cylon-speech/5f32fb3df8fe7031213849f52b14cad5e9846691/lib/espeak.rb

    After installing, test it out:

        $ espeak "This is awesome, OS X speaking"

    ### Linux

    On most Linux distros, there should already be a package you can install.
    If you use Aptitude Package Manager (apt-get), just install it with:

        $ sudo apt-get install espeak

    This is also true for Single-Board Linux Computers like the Raspberry-Pi and the Beaglebone Black.

    Once the package has finished installing, try this command to verify everything is working as expected:

        $ espeak "This is awesome, Linux speaking"

    If you hear your computer talking to you, everything is working as expected.
    If not, please refer to the espeak docs for more help.

    ### Windows

    For Windows systems there is a .exe file you can download from [SourceForge](http://espeak.sourceforge.net/download.html).

    Same as with the above operating systems, make sure it works as advertized when the instalation has completed.

        $ espeak "This is awesome, Windows OS speaking!"

%section.how-to#HowToUse
  :markdown
    ## How To Use

        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          // voice for espeak can be specified either in one string or as params for the adaptor.
          // both connections below will reproduce with the same voice.
          // connection: { name: 'speech', adaptor: 'speech', language: 'en, gender: 'f', 'voice: '3' },
          connection: { name: 'speech', adaptor: 'speech', voice: 'en-f3', speed: 130 },
          device: { name: 'mouth', driver: 'speech' },

          work: function(my) {
            my.mouth.say("This is awesome!");
            my.mouth.say("I'm a Cylon.JS robot, and I'm talking!");
          }
        }).start();

%section.drivers#Drivers
  :markdown
    ## Drivers

    There is only one driver for Speech as listed below.

  .hardware
    .devices
      = partial "/partials/devices_for_platform", locals: { platform: "Speech" }
