---
title: Sphero with Cylon.js
author: The Hybrid Group
page_title: Platforms - Sphero
page_subtitle: Cylon has an extensible system for connecting to hardware devices.
page_title_docs: Sphero
page_subtitle_docs: "<a href='https://github.com/hybridgroup/cylon-sphero' target='_blank' class='repository'>Repository</a>| <a class+'issues' href='https://github.com/hybridgroup/cylon-sphero/issues' target='_blank' >Issues</a>"
layout: documentation
page_title_show: true
subnav_platform: true
active_menu_platforms: true
subnavjs: true
---
%section.intro
  =image_tag "/images/devices/sphero.jpg", class: "display"
  .info-intro
    %h4.subtitle= current_page.data.page_subtitle_docs
    :markdown

      Sphero is a sophisticated and programmable robot housed in a polycarbonate sphere shell.

      The cylon-sphero adaptor makes it easy to interact with Sphero using Node.js.
      Once you have your Sphero setup and connected to your computer, you can start writing code to make Sphero move, change direction, speed and colors, or detect Sphero events and execute some code when they occur.

      To learn more about the Sphero, click [here](http://www.gosphero.com/).
  .clear

= partial "documentation/platforms/partials/sphero"

%section.drivers#Drivers
  :markdown
    ## Drivers

    There is only one driver for the Sphero.
    Click on the image below:

  .hardware
    .devices
      = partial "/partials/devices_for_platform", locals: { platform: "Sphero" }
