---
title: Tessel with Cylon.js
author: The Hybrid Group
page_title: Platforms - Tessel
page_subtitle: Cylon has an extensible system for connecting to hardware devices.
page_title_docs: Tessel
page_subtitle_docs: "<a href='https://github.com/hybridgroup/cylon-tessel' class='repository'>Repository</a>| <a class+'issues' href='https://github.com/hybridgroup/cylon-tessel/issues'>Issues</a>"
layout: documentation
page_title_show: true
subnav_platform: true
active_menu_platforms: true
subnavjs: true
---
%section.intro
  = image_tag "/images/devices/tessel.jpg", class: "display"
  .info-intro
    %h4.subtitle= current_page.data.page_subtitle_docs
    :markdown
      Tessel runs JavasScript - no server necessary.
      Just like web or mobile development, you can use your own IDE and libraries to program hardware.

      Tessel supports packages from `npm` to leverage the growing Node.js community and capabilities.
      That's HTTP, Twitter, web server, color, and async support right out of the box.
      Uploading new code is as easy as `tessel push`!

      For more info about the Tessel platform click [here](http://tessel.io/).
  .clear

= partial "documentation/platforms/partials/tessel"

%section.drivers#Drivers
  :markdown
    ## Drivers

    Available drivers for the Tessel platform are listed below.

  .hardware
    .devices
      = partial "/partials/devices_for_platform", locals: { platform: "Tessel" }
