---
title: Tessel with Cylon.js
author: The Hybrid Group
page_title: Platforms - Tessel
page_subtitle: Cylon has an extensible system for connecting to hardware devices.
page_title_docs: Tessel
page_subtitle_docs: "<a href='https://github.com/hybridgroup/cylon-tessel' class='repository'>Repository</a>| <a class+'issues' href='https://github.com/hybridgroup/cylon-tessel/issues'>Issues</a>"
layout: documentation
page_title_show: true
subnav_platform: true
active_menu_platforms: true
subnavjs: true
---
%section.intro
  = image_tag "/images/devices/tessel.jpg", class: "display"
  .info-intro
    %h4.subtitle= current_page.data.page_subtitle_docs
    :markdown
      Tessel runs JavasScript - no server necessary.
      Just like web or mobile development, you can use your own IDE and libraries to program hardware.

      Tessel supports packages from `npm` to leverage the growing Node.js community and capabilities.
      That's HTTP, Twitter, web server, color, and async support right out of the box.
      Uploading new code is as easy as `tessel push`!

      For more info about the Tessel platform click [here](http://tessel.io/).

  .clear

%section#HowToInstall
  :markdown
    ## How to install

    Follow the installation instructions detailed [here](http://start.tessel.io/install).

    You can use the Cylon CLI to generate a new Tessel project:

        $ sudo npm install -g cylon-cli
        $ cylon generate tessel my-tessel-project
        $ cd my-tessel-project
        $ npm install
        $ tessel run blink.js

    If the blue light starts to blink, then you're all set!

%section#HowToUse
  :markdown
    ## How to use

    ### LED

    This small program lets you toggle an LED on and off.

        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connections: {
            tessel: { adaptor: 'tessel' }
          },

          devices: {
            led: { driver: 'led', pin: 2 }
          },

          work: function(my) {
            every((1).seconds(), function() {
              my.led.toggle();
            });
          }
        }).start();

    ### Climate

    This small program shows how to use the Tessel Climate module.

        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connections: {
            tessel: { adaptor: 'tessel', port: 'A' }
          },

          devices: {
            climate: { driver: 'climate-si7005' }
          },

          work: function(my) {
            my.climate.on('error', function (err) {
              console.log(err)
            });

            every((1).seconds(), function() {
              my.climate.readHumidity(function (err, humid) {
                console.log('Humidity:', humid.toFixed(4) + '%RH');
              });

              my.climate.readTemperature('f', function (err, temp) {
                console.log('Degrees:', temp.toFixed(4) + 'F');
              });
            });
          }
        }).start();

%section#HowToConnect
  :markdown
    ## How to Connect

    As mentioned in the How To Install section, connecting to the Tessel is easy.
    You just need to follow the provided instructions on the [Tessel site](http://start.tessel.io/install).

    If you've already done this, your Tessel should already be connected and ready to run Cylon.JS code.

%section.drivers#Drivers
  :markdown
    ## Drivers

    Available drivers for the Tessel platform are listed below.

  .hardware
    .devices
      = partial "/partials/devices_for_platform", locals: { platform: "Tessel" }
