---
page_title_show: true
title: WICED Sense with Cylon
author: The Hybrid Group
page_title: Platforms - WICED Sense
page_subtitle: Cylon has an extensible system for connecting to hardware devices.
page_title_docs: WICED Sense
page_subtitle_docs: "<a href='https://github.com/hybridgroup/cylon-wiced-sense' class='repository'>Repository</a>| <a class='issues' href='https://github.com/hybridgroup/cylon-wiced-sense/issues'>Issues</a>"
layout: documentation
subnav_platform: true
active_menu_platforms: true
subnavjs: true
---
%section.intro
  = image_tag "/images/devices/wiced-sense.jpg", class: "display"
  .info-intro
    %h4.subtitle= current_page.data.page_subtitle_docs
    :markdown
      The WICED Sense is a new IoT device from Broadcom, offering a number of sensors and Bluetooth Low-Energy connectivity in a sturdy case.

      It includes the following sensors:

      - gyroscope
      - accelerometer
      - eCompass
      - pressure
      - humidity
      - temperature

      For more info about the WICED Sense, click [here](http://www.broadcom.com/products/wiced/sense/).
  .clear

= partial "documentation/platforms/partials/wiced-sense"

%section.drivers#Drivers
  :markdown
    ## Drivers

    Available drivers for the WICED Sense platform are listed below.

  .hardware
    .devices
      = partial "/partials/devices_for_platform", locals: { platform: "WICED Sense"}
