---
page_title_show: true
title: WICED Sense with Cylon
author: The Hybrid Group
page_title: Platforms - WICED Sense
page_subtitle: Cylon has an extensible system for connecting to hardware devices.
page_title_docs: WICED Sense
page_subtitle_docs: "<a href='https://github.com/hybridgroup/cylon-wiced-sense' class='repository'>Repository</a>| <a class='issues' href='https://github.com/hybridgroup/cylon-wiced-sense/issues'>Issues</a>"
layout: documentation
subnav_platform: true
active_menu_platforms: true
subnavjs: true
---
%section.intro
  = image_tag "/images/devices/wiced-sense.jpg", class: "display"
  .info-intro
    %h4.subtitle= current_page.data.page_subtitle_docs
    :markdown
      The WICED Sense is a new IoT device from Broadcom, offering a number of sensors and Bluetooth Low-Energy connectivity in a sturdy case.

      It includes the following sensors:

      - gyroscope
      - accelerometer
      - eCompass
      - pressure
      - humidity
      - temperature

      For more info about the WICED Sense, click [here](http://www.broadcom.com/products/wiced/sense/).
  .clear

%section.how-to#HowToInstall
  :markdown
    ## How To Install

    To connect to the WICED Sense with Cylon, you'll need to install the `cylon-wiced-sense` NPM module.
    You will also need to bundle in `cylon-ble`, which is needed to communicate with the device.

        $ npm install cylon-ble cylon-wiced-sense

%section.how-to#HowToUse
  :markdown
    ## How To Use

    Here's a short example of getting data from the WICED Sense with Cylon:

        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connections: {
            bluetooth: { adaptor: 'ble', uuid: '207377654321' }
          },

          devices: {
            wiced: { driver: 'wiced-sense' }
          },

          work: function(my) {
            my.wiced.getData(function(err, data) {
              if (!!err) {
                console.log("Error: ", err);
                return;
              }

              console.log("Data: ", data);
            });
          }
        }).start();

%section.how-to#HowToConnect
  :markdown
    ## How To Connect

    The WICED Sense is a Bluetooth Low-Energy device, and is paired and connected as with any other BLE device.
    For more info, check out the [BLE platform page](/documentation/platforms/ble).

%section.drivers#Drivers
  :markdown
    ## Drivers

    Available drivers for the WICED Sense platform are listed below.

  .hardware
    .devices
      = partial "/partials/devices_for_platform", locals: { platform: "WICED Sense"}
