---
page_title_show: true
title: Wiced Sense with Cylon
author: The Hybrid Group
page_title: Platforms - Wiced Sense
page_subtitle: Cylon has an extensible system for connecting to hardware devices.
page_title_docs: Wiced Sense
page_subtitle_docs: "<a href='https://github.com/hybridgroup/cylon-wiced-sense' class='repository'>Repository</a>| <a class='issues' href='https://github.com/hybridgroup/cylon-wiced-sense/issues'>Issues</a>"
layout: documentation
subnav_platform: true
active_menu_platforms: true
subnavjs: true
---
%section.intro
  = image_tag "/images/devices/wiced-sense.jpg", class: "display"
  .info-intro
    = partial '/hybridpages/partials/widgets/repo_issues'
    :markdown
      Wiced Sense

      For more info about Wiced Sense click [here]().
  .clear

%section.how-to#HowToInstall
  :markdown
    ## How To Install


%section.how-to#HowToUse
  :markdown
    ## How To Use

        :::javascript



%section.how-to#HowToConnect
  :markdown
    ## How To Connect


%section.drivers#Drivers
  :markdown
    ## Drivers

    Available drivers for the Wiced Sense platform are listed below.

  .hardware
    .devices
      = partial "/partials/devices_for_platform", locals: { platform: "Wiced Sense"}