.documentation {
  #docs-menu {
    width: em(55);

    .line {
      height: em(6);
    }
  }

  .platform {
    @include span-columns(3 of 12);
    @include omega;
    float: none;
    display: inline-block;

    @include media($mobile-large) {
      @include span-columns(6 of 12);
      @include omega;
    }
  }

  .box {
    height: em(130);
  }

  .examples {
    th {
      width: 60%;
    }

    th.links {
      width: 40%
    }
  }
}
