:markdown
  ## say

  Speaks the provided text


  ### Params


  - **text** (<code>String</code>) text to say


  - **callback** (<code>Function</code>) function to be called when done


  ### Returns

  - (<code>undefined</code>)
