:markdown
  # Commands

  ## setHeadLED(light1, light2, light3, light4, callback)

  Sets the 4 LEDs on the MiP's head.

  ##### Params

  - **light1**

  - **light2**

  - **light3**

  - **light4**

  ##### Returns

  `nil`

  ## setChestLED(r, g, b, callback)

  Sets the MiP's chest LED as r, g, and b values.

  ##### Params

  - **r** - red value

  - **g** - green value

  - **b** - blue value

  ##### Returns

  `nil`

  ## flashChestLED(r, g, b, timeOn, timeOff, callback)

  Flashes the MiP's chest LED, accepting a specific interval and color.

  ##### Params

  - **r** - red value

  - **g** - green value

  - **b** - blue value

  - **timeOn**

  - **timeOff**

  ##### Returns

  `nil`

  ## getUp(stand, callback)

  Orders the MiP to stand upright.

  ##### Params

  - **stand**

  ##### Returns

  `nil`

  ## driveDistance(direction, distance, turnDirection, turnAngle, callback)

  Orders the MiP to drive a particular distance and direction.

  ##### Params

  - **direction**

  - **distance**

  - **turnDirection**

  - **turnAngle**

  ##### Returns

  `nil`

  ## driveForward(speed, time, callback)

  Orders the MiP to drive forward.

  ##### Params

  - **speed**

  - **time**

  ##### Returns

  `nil`

  ## driveBackward(speed, time, callback)

  Orders the MiP to drive backward.

  ##### Params

  - **speed**

  - **time**

  ##### Returns

  `nil`

  ## turnLeft(angle, speed, callback)

  Orders the MiP to turn left.

  ##### Params

  - **angle**

  - **speed**

  ##### Returns

  `nil`

  ## turnRight(angle, speed, callback)

  Orders the MiP to turn right.

  ##### Params

  - **angle**

  - **speed**

  ##### Returns

  `nil`

  ## setGameMode(mode, callback)

  Sets the MiP game mode.

  ##### Params

  - **mode**

  ## stop(callback)

  Orders the MiP to stop.

