:markdown
  ## heading

  Returns the heading data for the compass.


  ### Params


  - **callback** (<code>Function</code>) function to be invoked with data


  ### Returns

  - (<code>undefined</code>)
