:markdown
  ## clear

  Clears display and returns cursor to the home position (address 0).


  ### Returns

  - (<code>null</code>)

  * * *

  ## home

  Returns cursor to home position.


  ### Returns

  - (<code>null</code>)

  * * *

  ## setCursor

  Sets cursor position.


  ### Returns

  - (<code>null</code>)

  * * *

  ## displayOff

  Sets Off of all display (D), cursor Off (C) and blink of cursor position character (B).


  ### Returns

  - (<code>null</code>)

  * * *

  ## displayOn

  Sets On of all display (D), cursor On (C) and blink of cursor position character (B).


  ### Returns

  - (<code>null</code>)

  * * *

  ## cursorOff

  Turns off the cursor.


  ### Returns

  - (<code>null</code>)

  * * *

  ## cursorOn

  Turns on the cursor.


  ### Returns

  - (<code>null</code>)

  * * *

  ## blinkOff

  Turns off the cursor blinking character.


  ### Returns

  - (<code>null</code>)

  * * *

  ## blinkOn

  Turns on the cursor blinking character.


  ### Returns

  - (<code>null</code>)

  * * *

  ## backlightOff

  Turns off the back light.


  ### Returns

  - (<code>null</code>)

  * * *

  ## backlightOn

  Turns on the back light.


  ### Returns

  - (<code>null</code>)

  * * *

  ## print

  Prints characters on the LCD.


  ### Params


  - **** (<code>String</code>)


  ### Returns

  - (<code>null</code>)
