:markdown
  ## clear

  Clears display and returns cursor to the home position (address 0).


  ### Params


  - **[callback]** (<code>Function</code>) function to be invoked when done


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## home

  Returns cursor to home position.


  ### Params


  - **[callback]** (<code>Function</code>) function to be invoked when done


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## setCursor

  Sets cursor position.


  ### Params


  - **col** (<code>Number</code>) cursor column to set


  - **row** (<code>Number</code>) cursor row to set


  - **[callback]** (<code>Function</code>) function to be invoked when done


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## displayOff

  Sets Off of all display (D), cursor Off (C) and blink of cursor position
  character (B).


  ### Params


  - **[callback]** (<code>Function</code>) function to be invoked when done


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## displayOn

  Sets On of all display (D), cursor On (C) and blink of cursor position
  character (B).


  ### Params


  - **[callback]** (<code>Function</code>) function to be invoked when done


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## cursorOff

  Turns off the cursor.


  ### Params


  - **[callback]** (<code>Function</code>) function to be invoked when done


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## cursorOn

  Turns on the cursor.


  ### Params


  - **[callback]** (<code>Function</code>) function to be invoked when done


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## blinkOff

  Turns off the cursor blinking character.


  ### Params


  - **[callback]** (<code>Function</code>) function to be invoked when done


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## blinkOn

  Turns on the cursor blinking character.


  ### Params


  - **[callback]** (<code>Function</code>) function to be invoked when done


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## backlightOff

  Turns off the back light.


  ### Params


  - **[callback]** (<code>Function</code>) function to be invoked when done


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## backlightOn

  Turns on the back light.


  ### Params


  - **[callback]** (<code>Function</code>) function to be invoked when done


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## print

  Prints characters on the LCD.


  ### Params


  - **str** (<code>String</code>) string to print on the LCD


  - **[callback]** (<code>Function</code>) function to be invoked when done


  ### Returns

  - (<code>undefined</code>)
