:markdown
  ## distance

  Returns the distance data for the LIDAR-Lite in cm.


  ### Params


  - **callback** (<code>Function</code>) function to be invoked when done


  ### Returns

  - (<code>undefined</code>)
