:markdown
  ## getAccel

  Gets the value of Accelerometer.


  ### Params


  - **callback** (<code>Function</code>)


  ### Returns

  - (<code>null</code>)

  * * *

  ## getMag

  Gets the value of Magnetometer.


  ### Params


  - **callback** (<code>Function</code>)


  ### Returns

  - (<code>null</code>)
