:markdown
  ## getPressure

  Gets value of the pressure.


  ### Params


  - **callback** (<code>Function</code>)


  ### Returns

  - (<a href="integer.html">integer</a>)

  * * *

  ## getTemperature

  Gets value of the temperature.


  ### Params


  - **callback** (<code>Function</code>)


  ### Returns

  - (<a href="integer.html">integer</a>)
