:markdown
  ## getAngularVelocity

  Gets the value of the Angular Velocity


  ### Params


  - **callback** (<code>Function</code>)


  ### Returns

  - (<code>null</code>)

  * * *

  ## getAcceleration

  Gets the value of the Acceleration


  ### Params


  - **callback** (<code>Function</code>)


  ### Returns

  - (<code>null</code>)

  * * *

  ## getMotionAndTemp

  Gets the value of the Motion.


  ### Params


  - **callback** (<code>Function</code>)


  ### Returns

  - (<code>null</code>)
