:markdown
  ## getAngularVelocity

  Gets the value of the Angular Velocity


  ### Params


  - **callback** (<code>Function</code>) function to be invoked with data


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## getAcceleration

  Gets the value of the Acceleration


  ### Params


  - **callback** (<code>Function</code>) function to be invoked with data


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## getMotionAndTemp

  Gets the value of the Motion.


  ### Params


  - **callback** (<code>Function</code>) function to be invoked with data


  ### Returns

  - (<code>undefined</code>)
