:markdown
  ## setPWMFreq

  Set the servo frequency for the PCA9685


  ### Params


  - **frequency** (<code>number</code>)


  - **[callback]** (<code>function</code>)


  ### Returns

  - (<code>null</code>)

  * * *

  ## setPWM

  Set the servo position for the PCA9685


  ### Params


  - **servoNum** (<code>number</code>)


  - **on** (<code>number</code>)


  - **off** (<code>number</code>)


  - **[callback]** (<code>function</code>)


  ### Returns

  - (<code>null</code>)
