:markdown
  ## setPWMFreq

  Set the servo frequency for the PCA9685


  ### Params


  - **frequency** (<code>number</code>) frequency to write


  - **[callback]** (<code>function</code>) function to be invoked when done


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## setPWM

  Set the servo position for the PCA9685


  ### Params


  - **channel** (<code>number</code>) channel to write to


  - **pulseon** (<code>number</code>) pulse on to set


  - **pulseoff** (<code>number</code>) pulse off to set


  - **[callback]** (<code>function</code>) function to be invoked when done


  ### Returns

  - (<code>undefined</code>)
