body {

  background-color: $body-bg-color;
  margin: 0 !important;
  padding: 0;
}

.app {

  min-height: 100%;
  margin-bottom: -38px;
}

h3, h4, h5, ul, ol {

  color: $lesser-title-color;
}

a {

  &, &:visited {

    color: $cta-color;
  }

  &:hover, &:focus {

    color: $link-hover-color;
  }
}

pre {

  @include medium-screen-pre;
}

.hero-anchors {

  &, &:active, &:visited {

    color: $hero-link-color;
  }

  &:hover, &:focus {

    color: $hero-link-hover-color;
  }
}

.notice {

  background: white;
  padding: 20px 25px;
}
