:markdown
  ## digitalRead

  Reads a value from a digital pin


  ### Params


  - **pinNum** (<code>Number</code>) pin to read from


  - **callback** (<code>Function</code>) triggered when the value has been read from the pin


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## digitalWrite

  Writes a value to a digital pin


  ### Params


  - **pinNum** (<code>Number</code>) pin to write to


  - **value** (<code>Number</code>) value to write to the pin


  - **callback** (<code>Function</code>) function to invoke when done


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## i2cWrite

  Writes an I2C value to the board.


  ### Params


  - **address** (<code>Number</code>) I2C address to write to


  - **cmd** (<code>Number</code>) I2C command to write


  - **buff** (<code>Array</code>) buffered data to write


  - **callback** (<code>Function</code>) function to call when done


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## i2cRead

  Reads an I2C value from the board.


  ### Params


  - **address** (<code>Number</code>) I2C address to write to


  - **cmd** (<code>Number</code>) I2C command to write


  - **length** (<code>Number</code>) amount of data to read


  - **callback** (<code>Function</code>) function to call with data


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## pwmWrite

  Writes a pwm value to a pin


  ### Params


  - **pinNum** (<code>Number</code>) pin to write to


  - **angle** (<code>Number</code>) angle to write to the pin


  - **callback** (<code>Number</code>) function to call when done


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## servoWrite

  Writes a servo value to a pin


  ### Params


  - **pinNum** (<code>Number</code>) pin to write to


  - **angle** (<code>Number</code>) angle to write to the pin


  - **callback** (<code>Number</code>) function to call when done


  ### Returns

  - (<code>undefined</code>)
