:markdown
  # Commands

  ## subscribe(streamPath, callback) 

  This allows you to subscribe the device.

  ##### Params

  - **streamPath** - params
  - **callback** - params

  ##### Returns 

  `null`

  ## push(apexPath, data)

  This allows you to push data.

  ##### Params

  - **apexPath** - params
  - **data** - params

  ##### Returns 

  `null`
