:markdown
  ## digitalRead

  Reads a value from a digital pin


  ### Params


  - **pin** (<code>Number</code>) the pin to read from


  - **callback** (<code>Function</code>) triggered when the value has been read from the pin


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## digitalWrite

  Writes a value to a digital pin


  ### Params


  - **pin** (<code>Number</code>) pin to write to


  - **value** (<code>Number</code>) value to write to the pin


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## analogRead

  Reads a value from an analog pin


  ### Params


  - **pin** (<code>Number</code>) pin to read from


  - **callback** (<code>Function</code>) triggered when the value has been read from the pin


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## analogWrite

  Writes a value to an analog pin


  ### Params


  - **pin** (<code>Number</code>) the pin to write to


  - **value** (<code>Number</code>) the value to write to the pin


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## pwmWrite

  Writes a PWM value to a pin


  ### Params


  - **pin** (<code>Number</code>) the pin to write to


  - **value** (<code>Number</code>) the value to write to the pin


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## servoWrite

  Writes a servo value to a pin


  ### Params


  - **pin** (<code>Number</code>) the pin to write to


  - **value** (<code>Number</code>) the value to write to the pin


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## pinVal

  Detemines if a (digital) pin's value is LOW or HIGH


  ### Params


  - **value** (<code>Number</code>) the value to check


  ### Returns

  - (<code>String</code>) 'LOW' or 'HIGH'

  * * *

  ## command

  Issues a command to the Pinoccio


  ### Params


  - **cmd** (<code>String</code>) command to write to the pinoccio


  - **callback** (<code>Function</code>) function to be called when done


  ### Returns

  - (<code>undefined</code>)
