:markdown
  ## digitalRead

  Reads a value from a digital pin


  ### Params


  - **pin** (<code>Number</code>)


  - **callback** (<code>Function</code>) triggered when the value has been read from the pin


  ### Returns

  - (<code>null</code>)

  * * *

  ## digitalWrite

  Writes a value to a digital pin


  ### Params


  - **pin** (<code>Number</code>)


  - **value** (<code>Number</code>)


  ### Returns

  - (<code>null</code>)

  * * *

  ## analogRead

  Reads a value from an analog pin


  ### Params


  - **pin** (<code>Number</code>)


  - **callback** (<code>Function</code>) triggered when the value has been read from the pin


  ### Returns

  - (<code>null</code>)

  * * *

  ## analogWrite

  Writes a value to an analog pin


  ### Params


  - **pin** (<code>Number</code>)


  - **value** (<code>Number</code>)


  ### Returns

  - (<code>null</code>)

  * * *

  ## pwmWrite

  Writes a PWM value to a pin


  ### Params


  - **pin** (<code>Number</code>)


  - **value** (<code>Number</code>)


  ### Returns

  - (<code>null</code>)

  * * *

  ## servoWrite

  Writes a servo value to a pin


  ### Params


  - **pin** (<code>Number</code>)


  - **value** (<code>Number</code>)


  ### Returns

  - (<code>null</code>)

  * * *

  ## pinVal

  Detemines if a (digital) pin's value is LOW or HIGH


  ### Params


  - **value** (<code>Number</code>)


  ### Returns

  - (<code>String</code>) 'LOW' or 'HIGH'

  * * *

  ## command

  Issues a command to the Pinoccio


  ### Params


  - **cmd** (<code>String</code>)


  - **callback** (<code>Function</code>)


  ### Returns

  - (<code>null</code>)
