:markdown
  ## turnOn

  Turns the LED on.


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## turnOff

  Turns the LED off.


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## red

  Turns the LED red.


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## green

  Turns the LED green.


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## blue

  Turns the LED blue.


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## cyan

  Turns the LED cyan.


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## purple

  Turns the LED purple.


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## magenta

  Turns the LED magenta.


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## yellow

  Turns the LED yellow.


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## orange

  Turns the LED orange.


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## white

  Turns the LED white.


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## torch

  Enables the LED's torch mode


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## hex

  Sets the LED's color based on a provided hex color


  ### Params


  - **value** (<code>String</code>) the hex string of the color to use


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## rgb

  Sets the LED's color based on a provided RGB color


  ### Params


  - **r** (<code>String</code>) red value


  - **g** (<code>String</code>) green value


  - **b** (<code>String</code>) blue value


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## saveTorch

  Saves the LED's torch color based on a provided RGB color


  ### Params


  - **r** (<code>String</code>) red value


  - **g** (<code>String</code>) green value


  - **b** (<code>String</code>) blue value


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## blink

  Blinks the LED with the provided RGB pattern


  ### Params


  - **r** (<code>String</code>) red value


  - **g** (<code>String</code>) green value


  - **b** (<code>String</code>) blue value


  ### Returns

  - (<code>undefined</code>)
