:markdown
  ## isCharging

  Checks whether or not the Pinoccio's battery is charging


  ### Params


  - **callback** (<code>Function</code>) to be triggered when information is available


  ### Returns

  - (<code>null</code>)

  * * *

  ## percent

  Gets the current battery percentage


  ### Params


  - **callback** (<code>Function</code>) to be triggered when information is available


  ### Returns

  - (<code>null</code>)

  * * *

  ## voltage

  Gets the current battery voltage


  ### Params


  - **callback** (<code>Function</code>) to be triggered when information is available


  ### Returns

  - (<code>null</code>)

  * * *

  ## enableVcc

  Enables VCC on the battery


  ### Returns

  - (<code>null</code>)

  * * *

  ## disableVcc

  Disables VCC on the battery


  ### Returns

  - (<code>null</code>)

  * * *

  ## report

  Gets a report from the battery


  ### Params


  - **callback** (<code>Function</code>) to be triggered when information is available


  ### Returns

  - (<code>null</code>)
