-if current_page.data.tessel_accelerometer_module == true
  /// Tessel Accelerometer
  %a.device{href:"/documentation/drivers/tessel_accelerometer", title: "Tessel Accelerometer"}
    %img{src: "/images/devices/tessel-accelerometer.jpg"}
