-if current_page.data.tessel_accelerometer_module == true
  /// Tessel Accelerometer
  %a.device{href:"/documentation/drivers/tessel_accelerometer", title: "Tessel Accelerometer"}
    %img{src: "/images/devices/tessel-accelerometer.jpg"}

-if current_page.data.tessel_ambient_module == true
  /// Tessel Ambient
  %a.device{href:"/documentation/drivers/tessel_ambient", title: "Tessel Ambient"}
    %img{src: "/images/devices/tessel-ambient.jpg"}

-if current_page.data.tessel_audio_module == true
  /// Tessel Audio
  %a.device{href:"/documentation/drivers/tessel_audio", title: "Tessel Audio"}
    %img{src: "/images/devices/tessel-audio.jpg"}

-if current_page.data.tessel_bluetooth_module == true
  /// Tessel Bluetooth
  %a.device{href:"/documentation/drivers/tessel_bluetooth", title: "Tessel Bluetooth"}
    %img{src: "/images/devices/tessel-bluetooth.jpg"}

-if current_page.data.tessel_camera_module == true
  /// Tessel Camera
  %a.device{href:"/documentation/drivers/tessel_camera", title: "Tessel Camera"}
    %img{src: "/images/devices/tessel-camera.jpg"}

-if current_page.data.tessel_climate_module == true
  /// Tessel Climate
  %a.device{href:"/documentation/drivers/tessel_climate", title: "Tessel Climate"}
    %img{src: "/images/devices/tessel-climate.jpg"}

-if current_page.data.tessel_gps_module == true
  /// Tessel GPS
  %a.device{href:"/documentation/drivers/tessel_gps", title: "Tessel GPS"}
    %img{src: "/images/devices/tessel-gps.jpg"}

-if current_page.data.tessel_infrared_module == true
  /// Tessel Infrared
  %a.device{href:"/documentation/drivers/tessel_infrared", title: "Tessel Infrared"}
    %img{src: "/images/devices/tessel-infrared.jpg"}

-if current_page.data.tessel_relay_module == true
  /// Tessel Relay
  %a.device{href:"/documentation/drivers/tessel_relay", title: "Tessel Relay"}
    %img{src: "/images/devices/tessel-relay.jpg"}

-if current_page.data.tessel_servo_module == true
  /// Tessel Servo
  %a.device{href:"/documentation/drivers/tessel_servo", title: "Tessel Servo"}
    %img{src: "/images/devices/tessel-servo.jpg"}
