-if current_page.data.pinoccio_led_driver == true
  /// LED
  %a.device{href:"/documentation/drivers/pinoccio_led", title: "Pinoccio LED"}
    %img{src: "/images/devices/pinoccio_led.jpg"}

-if current_page.data.pinoccio_power_driver == true
  /// LED
  %a.device{href:"/documentation/drivers/pinoccio_power", title: "Pinoccio Power"}
    %img{src: "/images/devices/pinoccio_power.jpg"}
