-if current_page.data.nest_thermostat_driver == true
  /// Thermostat
  %a.device{href:"/documentation/drivers/nest_thermostat", title: "Nest Thermostat"}
    %img{src: "/images/devices/nest_thermostat.jpg"}

-if current_page.data.nest_home_driver == true
  /// Home
  %a.device{href:"/documentation/drivers/nest_home", title: "Nest Home"}
    %img{src: "/images/devices/nest_home.jpg"}
