%ul.doc-platform
  - if current_page.data.ardrone_platform == true
    %li
      %a{:href => "/documentation/platforms/ardrone"}
        %p.title ARDrone
        %img{src: "/images/devices/ardrone.jpg", style: "width: 90%"}

  - if current_page.data.arduino_platform == true
    %li
      %a{:href => "/documentation/platforms/arduino"}
        %p.title Arduino
        %img{src: "/images/devices/arduino.jpg", style: "width: 90%"}

  - if current_page.data.yun_platform == true
    %li
      %a{:href => "/documentation/platforms/yun"}
        %p.title Arduino Yun
        %img{src: "/images/devices/arduino.jpg", style: "width: 90%"}

  - if current_page.data.audio_platform == true
    %li
      %a{:href => "/documentation/platforms/audio"}
        %p.title Audio
        %img{src: "/images/devices/audio.jpg", style: "width: 90%"}

  - if current_page.data.beaglebone_platform == true
    %li
      %a{:href => "/documentation/platforms/beaglebone"}
        %p.title Beaglebone Black
        %img{src: "/images/devices/beaglebone.jpg", style: "width: 90%"}

  - if current_page.data.crazyflie_platform == true
    %li
      %a{:href => "/documentation/platforms/crazyflie"}
        %p.title Crazyflie
        %img{src: "/images/devices/crazyflie.jpg", style: "width: 90%"}

  - if current_page.data.digispark_platform == true
    %li
      %a{:href => "/documentation/platforms/digispark"}
        %p.title Digispark
        %img{src: "/images/devices/digispark.jpg", style: "width: 90%"}

  - if current_page.data.galileo_platform == true
    %li
      %a{:href => "/documentation/platforms/galileo"}
        %p.title Galileo
        %img{src: "/images/devices/galileo.jpg", style: "width: 90%"}

  - if current_page.data.joystick_platform == true
    %li
      %a{:href => "/documentation/platforms/joystick"}
        %p.title Joystick
        %img{src: "/images/devices/joystick.jpg", style: "width: 90%"}

  - if current_page.data.keyboard_platform == true
    %li
      %a{:href => "/documentation/platforms/keyboard"}
        %p.title Keyboard
        %img{src: "/images/devices/keyboard.jpg", style: "width: 90%"}

  - if current_page.data.leapmotion_platform == true
    %li
      %a{:href => "/documentation/platforms/leapmotion"}
        %p.title Leap Motion
        %img{src: "/images/devices/leap_motion.jpg", style: "width: 90%"}

  - if current_page.data.nest_platform == true
    %li
      %a{:href => "/documentation/platforms/nest"}
        %p.title Nest
        %img{src: "/images/devices/nest.jpg", style: "width: 90%"}

  - if current_page.data.neurosky_platform == true
    %li
      %a{:href => "/documentation/platforms/neurosky"}
        %p.title Neurosky
        %img{src: "/images/devices/neurosky.jpg", style: "width: 90%"}

  - if current_page.data.opencv_platform == true
    %li
      %a{:href => "/documentation/platforms/opencv"}
        %p.title OpenCV
        %img{src: "/images/devices/opencv.jpg", style: "width: 90%"}

  - if current_page.data.pebble_platform == true
    %li
      %a{:href => "/documentation/platforms/pebble"}
        %p.title Pebble
        %img{src: "/images/devices/pebble.jpg", style: "width: 90%"}

  - if current_page.data.pinoccio_platform == true
    %li
      %a{:href => "/documentation/platforms/pinoccio"}
        %p.title Pinoccio
        %img{src: "/images/devices/pinoccio.jpg", style: "width: 90%"}

  - if current_page.data.rapiro_platform == true
    %li
      %a{:href => "/documentation/platforms/rapiro"}
        %p.title Rapiro
        %img{src: "/images/devices/rapiro.jpg", style: "width: 90%"}

  - if current_page.data.raspberry_platform == true
    %li
      %a{:href => "/documentation/platforms/raspberry-pi"}
        %p.title Raspberry Pi
        %img{src: "/images/devices/raspi.jpg", style: "width: 90%"}

  - if current_page.data.force_platform == true
    %li
      %a{:href => "/documentation/platforms/force"}
        %p.title Salesforce
        %img{src: "/images/devices/force.jpg", style: "width: 90%"}

  - if current_page.data.skynet_platform == true
    %li
      %a{:href => "/documentation/platforms/skynet"}
        %p.title Skynet
        %img{src: "/images/devices/skynet.jpg", style: "width: 90%"}

  - if current_page.data.spark_platform == true
    %li
      %a{:href => "/documentation/platforms/spark"}
        %p.title Spark
        %img{src: "/images/devices/spark.jpg", style: "width: 90%"}

  - if current_page.data.sphero_platform == true
    %li
      %a{:href => "/documentation/platforms/sphero"}
        %p.title Sphero
        %img{src: "/images/devices/sphero.jpg", style: "width: 90%"}

  - if current_page.data.tessel_platform == true
    %li
      %a{:href => "/documentation/platforms/speech"}
        %p.title Speech
        %img{src: "/images/devices/espeak.png", style: "width: 90%"}

  - if current_page.data.tessel_platform == true
    %li
      %a{:href => "/documentation/platforms/tessel"}
        %p.title Tessel
        %img{src: "/images/devices/tessel.jpg", style: "width: 90%"}

  - if current_page.data.speech_platform == true
    %li
      %a{:href => "/documentation/platforms/speech"}
        %p.title Speech
        %img{src: "/images/devices/espeak.png", style: "width: 90%"}
