---
layout: documentation
page_title_show: true
title: 'Cylon.JS Example - analog_sensor_with_led'
page_title: 'Example: analog_sensor_with_led'
author: The Hybrid Group
description: A Cylon.JS code example
page_subtitle: "<a href='https://github.com/hybridgroup/cylon-beaglebone/tree/master/examples/analog_sensor_with_led' target='_blank'>View In Repo</a>"
active_menu_docs: true
---
.example
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon
          .robot()
          .connection('beaglebone', { adaptor: 'beaglebone' })
          .device('sensor', { driver: 'analogSensor', pin: "P9_33" })
          .device('led', { driver: 'led', pin: "P9_14" })

          .on('ready', function(bot) {
            var brightness = 0;

            setInterval(function() {
              brightness = bot.sensor.analogRead().fromScale(0, 1799).toScale(0, 255) | 0;
              console.log('brightness => ', brightness);
              bot.led.brightness(brightness);
            }, 100);
          });

        Cylon.start();
