:markdown
  ## frame

  Emitted when the Leap Motion has finished processing a new frame


  ### Values

  - **data**



  * * *

  ## hand

  Emitted per frame when the Leap Motion sees a hand


  ### Values

  - **data**



  * * *

  ## gesture

  Emitted per frame when the Leap Motion sees a gesture


  ### Values

  - **data**


