---
layout: documentation
page_title_show: true
title: "Cylon.JS Example - simple-server"
page_title: "Example: simple-server"
author: The Hybrid Group
description: A Cylon.JS code example
page_subtitle: "<a href='https://github.com/hybridgroup/cylon-api-socketio/tree/master/examples/simple-server' target='_blank'>View In Repo</a>"
active_menu_docs: true
---
.example
  :markdown
        :::javascript
        'use strict';

        var Cylon = require('cylon');

        Cylon.robot({
          name: 'rosie',

          connections: {
            arduino: { adaptor: 'firmata', port: '/dev/ttyACM0' }
          },

          devices: {
            led: { driver: 'led', pin: 13 }
          },

          work: function() {
            // for this example with sockets
            // we are going to be interacting
            // with the robot using the code in
            // ./**-client.html
          }
        });

        // ensure you install the API plugin first:
        // $ npm install cylon-api-socket-io
        Cylon.api(
          'socketio', {
          host: '0.0.0.0',
          port: '3000'
        });

        Cylon.start();
