:markdown
  ## setLed

  Sets the built-in LED to a specific color


  ### Params


  - **red** (<code>Number</code>)


  - **green** (<code>Number</code>)


  - **blue** (<code>Number</code>)


  ### Returns

  - (<code>null</code>)

  * * *

  ## getAcceleration

  Reads the built-in accelerometer once


  ### Returns

  - (<code>null</code>)

  * * *

  ## getTemperature

  Reads the built-in thermometer once


  ### Returns

  - (<code>null</code>)
