:markdown
  ## setLed

  Sets the built-in LED to a specific color


  ### Params


  - **r** (<code>Number</code>) the red value to set


  - **g** (<code>Number</code>) the green value to set


  - **b** (<code>Number</code>) the blue value to set


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## getAcceleration

  Reads the built-in accelerometer once


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## getTemperature

  Reads the built-in thermometer once


  ### Returns

  - (<code>undefined</code>)
