:markdown
  ## takeOff

  Tells Bebop to start flying by setting the internal 'fly' state to true.


  ### Params


  - **callback** (<code>Function</code>) function to invoke once hovering


  ### Returns

  - (<code>Boolean</code>)

  * * *

  ## land

  Tells Bebop to land by setting the internal 'fly' state to false.


  ### Params


  - **callback** (<code>Function</code>) function to invoke once landed


  ### Returns

  - (<code>Boolean</code>)

  * * *

  ## stop

  Sets all drone movement commands to 0, making it effectively hover in
  place.


  ### Returns

  - (<code>null</code>)

  * * *

  ## up

  Tells the drone to start gaining altitude


  ### Params


  - **speed** (<code>Number</code>) value from 0 to 1


  ### Returns

  - (<code>Number</code>) set speed

  * * *

  ## down

  Tells the drone to start losing altitude


  ### Params


  - **speed** (<code>Number</code>) value from 0 to 1


  ### Returns

  - (<code>Number</code>) set speed

  * * *

  ## left

  Tells the drone to bank left - controlling the roll using the camera as
  a reference point.


  ### Params


  - **speed** (<code>Number</code>) value from 0 to 1


  ### Returns

  - (<code>Number</code>) set speed

  * * *

  ## right

  Tells the drone to bank right - controlling the roll using the camera as
  a reference point.


  ### Params


  - **speed** (<code>Number</code>) value from 0 to 1


  ### Returns

  - (<code>Number</code>) set speed

  * * *

  ## forward

  Tells the drone to bank forward - controlling the pitch using the camera as
  a reference point.


  ### Params


  - **speed** (<code>Number</code>) value from 0 to 1


  ### Returns

  - (<code>Number</code>) set speed

  * * *

  ## backward

  Tells the drone to bank backwards - controlling the pitch using the camera
  as a reference point.


  ### Params


  - **speed** (<code>Number</code>) value from 0 to 1


  ### Returns

  - (<code>Number</code>) set speed

  * * *

  ## clockwise

  Tells the drone to begin spinning clockwise


  ### Params


  - **speed** (<code>Number</code>) value from 0 to 1


  ### Returns

  - (<code>Number</code>) set speed

  * * *

  ## counterClockwise

  Tells the drone to begin spinning counterclockwise


  ### Params


  - **speed** (<code>Number</code>) value from 0 to 1


  ### Returns

  - (<code>Number</code>) set speed

  * * *

  ## frontFlip

  Tells the drone to frontFlip


  ### Returns

  - (<code>Number</code>) flip direction

  * * *

  ## backFlip

  Tells the drone to backFlip


  ### Returns

  - (<code>Number</code>) flip direction

  * * *

  ## rightFlip

  Tells drone to rightflip


  ### Returns

  - (<code>Number</code>) flip direction

  * * *

  ## leftFlip

  Tells drone to leftflip


  ### Returns

  - (<code>Number</code>) flip direction

  * * *

  ## emergency

  Tell the drone to drop like a stone.


  ### Returns

  - (<code>string</code>) buffer of emergency calls
