:markdown
  ## battery

  Emits battery level percentage


  ### Returns

  - (`null`)

  * * *

  ## video

  Emits one h.264 video frame


  ### Returns

  - (`null`)

  * * *

  ## ready

  Emitted when the drone has successfully connected


  ### Returns

  - (`null`)

  * * *

  ## flying

  Emitted when the drone is flying in the air


  ### Returns

  - (`null`)

  * * *

  ## hovering

  Emitted when the drone is hovering in the air


  ### Returns

  - (`null`)

  * * *

  ## landed

  Emitted when the drone has landed on the ground


  ### Returns

  - (`null`)

  * * *

  ## landing

  Emitted when the drone is in the process of landing


  ### Returns

  - (`null`)

  * * *

  ## takingOff

  Emitted when the drone is in the process of taking off


  ### Returns

  - (`null`)

  * * *

  ## emergency

  Emitted when the drone encounters an emergency condition


  ### Returns

  - (`null`)
