:markdown
  ## battery

  Emits battery level percentage



  * * *

  ## video

  Emits one h.264 video frame



  * * *

  ## ready

  Emitted when the drone has successfully connected



  * * *

  ## flying

  Emitted when the drone is flying in the air



  * * *

  ## hovering

  Emitted when the drone is hovering in the air



  * * *

  ## landed

  Emitted when the drone has landed on the ground



  * * *

  ## landing

  Emitted when the drone is in the process of landing



  * * *

  ## takingOff

  Emitted when the drone is in the process of taking off



  * * *

  ## emergency

  Emitted when the drone encounters an emergency condition


