---
page_title_show: true
title: Cylon IRC Chat
author: The Hybrid Group
page_title: Live Chat
page_subtitle: "Chat with the Cylon team."
layout: documentation
active_menu_docs: true
---
:markdown
  # IRC

  Join us on IRC: `#cylon @ freenode.net` or use the built-in IRC client below:

%iframe{src: "http://webchat.freenode.net?channels=%23cylon&uio=d4", width: "700", height: "400"}
