:markdown
  ## message

  Posts a message to Skynet


  ### Params


  - **data** (<code>Object</code>) to be posted


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## subscribe

  Subscribes to data from Skynet


  ### Params


  - **data** (<code>Object</code>) what to subscribe to


  ### Returns

  - (<code>undefined</code>)
