:markdown
  ## message

  Posts a message to Skynet


  ### Params


  - **data** (<code>Object</code>) to be posted


  ### Returns

  - (<code>null</code>)

  * * *

  ## subscribe

  Subscribes to data from Skynet


  ### Params


  - **data** (<code>Object</code>)


  ### Returns

  - (<code>null</code>)
