- unless current_page.data.hero.nil?
  .hero
    .container
      .left-side.parallax{"data-xrange" => "10", "data-yrange" => "10"}
        %h1.title
          = current_page.data.hero_title

        %h2.subtitle
          = current_page.data.hero_subtitle

        = current_page.data.getting_started_button

        - if current_page.data.social == true
          = partial "/hybridpages/partials/widgets/social"

      .right-side
        %img{"data-xrange" => "40", "data-yrange" => "40", src: "/images/elements/soldier.svg", class: "parallax"}/
