.articles {

  @include span-columns(8);
  padding-top: 20px;

  @include media($tablet) {

    @include span-columns(12);
  }

  @include media($mobile) {

    margin-right: 0;
  }

  .article {

    margin-bottom: 30px;

    img {

      width: 100%;
    }

    h3, h4, a {

      color: $blog-title-color;
    }

    h3 {

      display: inline-block;
      font-size: 24px;
      line-height: 26px;
      vertical-align: top;
      margin: 0px;
      max-width: 80%;
    }

    p {

      text-align: justify;
    }

    .comments, .tags {

      display: inline-block;

      .img {

        vertical-align: top;
        display: inline-block;
        width: 24px;
        height: 24px;
      }

      a {

        vertical-align: top;
        text-decoration: underline;
      }

      img {

        margin-right: 4px;
      }
    }

    .comments {

      margin-right: 60px;
    }
  }
}


.side-column {
  @include span-columns(3);

  @include media($tablet) {

    @include span-columns(12 of 12);
  }

  .categories, .network, .tweets, .titles {

    vertical-align: top;
    margin-bottom: 20px;

    a {

      color: black;

      &:hover {

        text-decoration: underline;
      }
    }

    h4 {

      color: $blog-title-color;
      font-size: 20px;
      line-height: 24px;
    }

  }

  .titles {
    ul {

      list-style: none;
      margin: 0;
    }

    li {

      font-size: .8em;
      border-bottom: $hero-color 1px solid;
      padding: 2px 5px;

      &:hover {

        background: $cta-color;

        a {

          color: white;
          text-decoration: none;
        }
      }
    }
  }

  .network {

    img {

      width: 30px;
    }
  }
  .categories {

    ul {

      margin: 0;
      list-style: none;

      a {

        color: black;
        font-size: .9em;

        &:hover {

          text-decoration: underline;
        }
      }
    }
  }
}

@include media($mobile-small) {

  .twitter-share-button {

    margin-bottom: 10px;
  }
}
