.subnav-drivers {

  border-top: solid 1px $doc-border;
  border-bottom: solid 1px $doc-border;
  padding: 20px 0;

  @include media($tablet) {

     display: none;
  }

  .app-logo {

      color: $blog-title-color;
      font-size: 2em;
      float: left;
      font-family: "Russo One", "Helvetica Neue", Helvetica, Arial, sans-serif;
      margin-top: 5px;
      display: none;
  }

  h5{

    display: none;
  }

  nav {

    a {

      padding: 5px 10px;
      margin: 20px 2px;
      color: $color-medium-grey;
      font-size: .9em;

      @include media($design-edge) {

        font-size: .7em;
      }

      &:hover {

        color: white;
        background: $cta-color;
      }

      &:last-child{
        display: none;
      }
    }

    .active {

      color: white;
      background: $cta-color;
    }
  }
}

.subNavfixed {

  width: 100%;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 99;
  padding: 0;
  background: darken($cta-color, 10);
  border: none;
  height: 53px;

  .app-logo {

    display: inline-block;
  }

  .container-subnav {

    @extend .container;
    margin: 0 auto;

    @include media($tablet) {

      padding: 0 15px;
    }

    @include media($mobile) {

      padding: 0 15px;
    }
  }

  h5 {
    @include span-columns(3 of 12);
    color: white;
    display: block;
    float: left;
    margin: 15px 0;
    white-space: nowrap;
    @include media($design-edge) {
      font-size: .8em;
    }
  }

  nav {
    @include span-columns(9);
    float: left;
    margin: 15px 0 15px 10px;

    a {
      color: white;
      margin: 20px 5pxz;

      &:last-child{
        display: initial;
      }
    }
  }
}

.documentation {

  .intro {

    .info-intro {

      float: right;
      width: 60%;
      margin: 0;

      p:last-of-type {

        background: $color-green;
        padding: 10px;

        a {

          color: $cta-color;
          &:hover {

            color: $link-hover-color;
          }
        }
      }

      @include media($tablet) {

        width: 100%;
      }
    }
  }

  .link {

    font-size: 20px;
  }

  .description {

    color: $doc-description-color;
    font-size: 14px;
    line-height: 21px;
    margin: 10px;
  }

  .display {

    width: 35%;
    float: left;
    margin: 0 0 19px 20px;

    @include media($tablet) {

        width: 100%;
    }
  }
}
