.documentation {
  @include span-columns( 12 of 12);
  padding: 0 em(15);

  @include media($tablet) {
    padding: 0;
  }

  .container-documentation {
    @include span-columns(9 of 12);
    padding-top: em(20);
    overflow: hidden;

    @include media($tablet) {
      @include span-columns(12 of 12);
      padding: 0 em(15);

      .container{
        padding: 0;
      }
    }
  }

  .page-title-docs {
    .title {
      @include font(em(46), 0 );
      padding: em(10) 0;
    }

    .subtitle a {
      color:  $color-red;
    }
  }

  .subnav-drivers {
    border-top: solid 1px $color-medium-light-grey;
    border-bottom: solid 1px $color-medium-light-grey;
    padding: em(20) 0;

    @include media($tablet) {
       display: none;
    }

    h5{
      display: none;
    }
  }

  .documentation-nav {
    a {
      padding: em(5) em(10);
      margin: em(20) em(2);
      color: $color-medium-grey;
      font-size: em(14);

      @include media($design-edge) {
        font-size: em(13);
      }

      &:hover {
        color: white;
        background: $color-red;
      }

      &:last-child {
        display: none;
      }
    }

    .active {
      color: white;
      background: $color-red;
    }
  }

  .info-intro {
    @include span-columns(7 of 12);
    float: right;
    margin: 0;

    p:last-of-type {
      background: $color-green;
      padding: em(10);

      a {
        color: $color-red;

        &:hover {
          color: $color-anchor-hover;
        }
      }
    }

    @include media($tablet) {
      @include span-columns(12 of 12);
    }
  }

  .link {
    font-size: em(20);
  }

  .display {
    @include span-columns(5 of 12);

    @include media($tablet) {
      @include span-columns(12 of 12);
    }
  }

  .repository {
    margin-right: em(4);
  }

  .subNavfixed {
    @include span-columns(12 of 12);
    background: $color-subnav;
    border: none;
    left: 0;
    padding: 0;
    position: fixed;
    top: 0;
    white-space: nowrap;
    z-index: 1;

     @include media($tablet) {
       display: none;
    }

    h5 {
      @include span-columns(3 of 12);
      color: white;
      margin: em(11) 0;
      white-space: nowrap;
    }

    .documentation-nav {
      @include span-columns(9 of 12);
      margin: em(15) 0 em(15) em(10);

      a {
        color: $color-subnav-link;
        margin: em(20) em(5);

        &:last-child{
          display: initial;
        }
      }
    }
  }

  .compatability-link {
    @include span-columns(4 of 12);
    @include omega;

    @include media($tablet) {
      @include span-columns(6 of 12);
      @include omega;
    }

    a {
      @extend %list-title;
    }
  }
}