.resources {
  padding: 0 em(15);

  .video {
    @include span-columns(6 of 12);
    margin: .5%;

    h4{
      height: 50px;
    }

    .video-description {
      font: 400 14px/17px $font-primary;
    }

    iframe, object {
      @include span-columns(12 of 12);
      height: 300px;
      margin-bottom: 15px;
    }

    @include media($design-edge) {
      iframe, object {
        height: 240px;
      }
    }

    @include media($tablet) {
      @include span-columns(12 of 12);
    }
  }

  .internal-link{
    margin-top: 5px;
    display: block;
    font-weight: bold;
  }

  .external-link {
    display: block;
    padding: 5px 0;

    span{
      text-decoration: underline;
      color: $color-anchor-hover;
      font-weight: bold;

      &:hover{
        color: $color-red;
      }
    }

    &:last-child{
      padding-bottom: em(40);
    }
  }

  .flag{
    top: 6px;
    position: relative;
  }
}