.side-documentation {
  @include span-columns(3);
  background: darken($body-bg-color, 5);
  border-radius: 5px;
  margin-top: 20px;

  @include media($tablet) {
    @include span-columns(12);
    height: auto !important;
    left: 0;
    margin-top: 0px;
    position: absolute;
  }

  .mobile-menu {
    background: $title-color;
    text-align: right;
    display: none;

    @include media($tablet) {
      display: block;
    }

    h1.sidebar-title {
      color: white;
      float: left;
      font-weight: 400;
      margin: 13px 0 0px 15px;
      padding: 0;
    }

    .active {
      background: white;

      .line {
        background: $title-color;
      }
    }

    a {
      background-color: $link-color;
      border-radius: 13px;
      padding: 10px 12px;
      margin: 5px;
      width: 55px;
      display: inline-block;

      &:hover {
        background: white;
        cursor: pointer;

        .line {
          background: $title-color;
        }
      }

      .line {
        height: 6px;
        margin: 5px 0 5px;
        background: white;
      }
    }
  }

  .docs-sidebar {
    padding: 0 10px;

    @include media($tablet) {
      margin: 0;
      display: none;
    }

    &.show {
      display: block;
    }

    @include media($tablet) {
      z-index: 1;
      position: relative;
      background-color: darken($body-bg-color, 5);
    }

    > a, .section .name {
      font-size: em(14);
      font-weight: bold;
      border-bottom: 1px solid $doc-border;

      &:last-of-type {
        border-bottom: none;
      }
    }

    a, .name {
      width: 100%;
      display: block;
      padding: 10px;
      cursor: pointer;
      color: #333;

      &:hover {
        color: $cta-color;
      }
    }

    .links a {
      font-size: 10pt;
      color: #333;

      padding: 5px 10px;

      &:hover {
        color: $cta-color;
      }
    }

    a.active {
      font-weight: bold;
      color: $cta-color;
    }

    .section .links {
      padding-left: 15px;
      padding-top: 10px;
    }

    .sub-section .links {
      padding-left: 20px;
    }

    .section:before {
      content: '▶';
      float: right;
      margin-top: 13px;
      margin-right: 10px;
      color: #A5A5A5;
      font-size: 11px;
    }

    .section.active:before {
      content: '▼';
    }
  }
}

.container-documentation {
  @include span-columns(9);
  padding-top: 20px;

  .how-to {
    padding-top: 65px;
  }

  @include media($tablet) {
    @include span-columns(12);
    margin-top: 50px;

    .w{
      padding: 0;
    }
  }
}
