---
title: Architecture
page_title: Cylon.JS - Architecture
page_subtitle: Made by Humans, for Humans.
layout: documentation
page_title_show: true
active_menu_docs: true
main_nav: true
---

:markdown
  # Architecture

  ## MCP

  ## Robots

  ## Devices and Connections

  ## Drivers and Adaptors

  ## Adaptor Pattern
