---
title: Cylon 1.0 Release
page_title: Cylon.JS - Cylon 1.0 Release
page_subtitle: Made by Humans, for Humans.
layout: documentation
page_title_show: true
active_menu_docs: true
main_nav: true
---
:markdown
	## Cylon 1.0 Release
	**Cylon 1.0 ReleaseCylon.js Makes Internet of Things Development As Easy As Web Development - Open Source JavaScript Robotics and IoT Framework Releases Version 1.0**

	Los Angeles, CA, April 8, 2015  -  [Cylon.js](http://cylonjs.com) the open source robotics and Internet of Things (IoT) framework has just reached a major milestone today with the release of version 1.0. Now supporting over 35 different hardware and software platforms, the JavaScript framework can also connect using Machine to Machine (M2M) API standards such as REST and MQTT.

	“We created Cylon.js to make IoT development as easy as web development” says Ron Evans, the creator of Cylon.js and ‘Ringleader’ of [The Hybrid Group](http://hybridgroup.com), the software consultancy that has sponsored the open source project. “Thanks to contributions from all over the world, we have been able to achieve this major release.”

	"Cylon.js has made robotics and hardware hacking a lot simpler for software and web developers of all ages and skill levels,” according to Rex St. John, IoT Evangelist at Intel. “I look forward to the coming era now that all that is needed to program advanced IoT projects is curiosity and the ability to write a little JavaScript."

	"Cylon.js significantly lowers developer hurdles for getting started with robotics and Internet of Things projects," says Chris Matthieu, CTO of Octoblu, a M2M messaging company owned by Citrix. "Being a JavaScript developer myself, I love the fact that I can easily write front and back end code for the Web in JavaScript and now control robots, drones, and other connected devices with it too!"

	Written in the JavaScript programming language, Cylon.js provides an easy way to program drones, robots and connected devices. Cylon.js has recently become one of the 99.9% most popular JavaScript projects on [Github](http://github.com) the open source coding website. The 1.0 release of Cylon.js creates an industrial-strength technology for professional IoT application development.


	#### About the Hybrid Group
	[The Hybrid Group](http://hybridgroup.com) is a software development consultancy based in Los Angeles, CA. Some have called them “the software company that makes hardware companies look good”, with clients such as Sphero, Spark Devices, and Pebble. For more information, contact Ron Evans at solutions@hybridgroup.com or 310-916-9924.