---
layout: documentation
page_title_show: true
title: "Cylon.JS Fluent Example - Raspberry Pi - Servo"
page_title: "Example: Raspberry Pi - Servo"
author: The Hybrid Group
description: A Cylon.JS fluentcode example
page_subtitle: "<a href='https://github.com/hybridgroup/cylon-raspi/tree/master/examples/servo' target='_blank'>View In Repo</a>"
active_menu_docs: true
---
.example
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon
          .robot()
          .connection('raspi', { adaptor: 'raspi', port: '/dev/ttyACM0' })
          .device('servo', { driver: 'servo', pin: 11, limits: { bottom: 20, top: 160 } })
          .on('ready', function(bot) {
            var angle = 30,
            increment = 40;

            setInterval(function() {
              angle += increment;
              bot.servo.angle(angle);
              console.log("Current Angle: " + (bot.servo.currentAngle()));

              if ((angle === 30) || (angle === 150)) { increment = -increment; }
            }, 1000);
          });

        Cylon.start();

