.side-documentation {

  @include span-columns(3);
  background: darken($body-bg-color,5);
  margin-top: 20px;
  border-radius: 5px;
  padding: 0 10px;

  @media only screen and (max-width: $medium-screen) {

    @include span-columns(12);
    height: auto !important;
    position: absolute;
    left: 0;
  }

  .mobile-menu {

    background: $title-color;
    text-align: right;
    display: none;

    @media only screen and (max-width: $medium-screen) {

      display: block;
    }

    .active {

      background: white;

      .line {

        background: $title-color;
      }
    }

    a {

      border: solid 2px white;
      padding: 10px;
      width: 55px;
      display: inline-block;

      &:hover {

        background: white;

        .line {

          background: $title-color;
        }
      }

      .line {

        height: 2px;
        width: 30px;
        margin: 5px 0;
        background: white;
      }
    }

  }

  @media only screen and (max-width: $medium-screen) {
    .hide {

      display: none;
    }
  }

  .accordion-docs {

    @media only screen and (max-width: $medium-screen) {

      margin: 0;
    }

    @include small-screen(100%, "") {
      z-index: 1;
      position: relative;
      background-color: darken($body-bg-color,5);
    }

    ul {

      list-style: none;

      .active-link {

        list-style: square;
        font-weight: bold;

        a {

          color: $cta-color;
        }
      }
    }

    .doc-button {

      padding: 10px;
      margin: 0;
      font-size: em(14);
      border-bottom: solid 1px white;

      @media only screen and (max-width: $medium-screen) {

          padding-bottom: 10px;
      }

      a {

          display: block;
          color: #333;

          &:hover {
            color:  $cta-color;
          }

          @media only screen and (max-width: $medium-screen) {

            font-size: 1.3em;
          }
        }
    }


    dt, dd {

        padding: 10px;
        border-bottom: 0;

        @media only screen and (max-width: $medium-screen) {

          border-bottom: 1px solid white;
        }


        a {

          display: block;
          color:  #333;
          font-size: em(14);

          &:hover {

            color:  $cta-color;
          }
        }
    }

    dt {

      border-bottom: solid 1px white;

      &:last-of-type {
        border: none;
      }
      a {

        color:  #333;

        &:hover {
          cursor: pointer;
          color:  $cta-color;
        }

        @media only screen and (max-width: $medium-screen) {

          font-size: em(14);
        }
      }
    }

    dd {
       border-top: 0;
       margin-left: 0;

       a {

        color: #333;
       }


       &:last-of-type {
         position: relative;
         top: -1px;
       }

       ul {

        li {

          margin: 5px 0;

          a {

            font-size: 10pt;
            @media only screen and (max-width: $medium-screen) {

              font-size: 1em;
            }

            span {

              color: darken($hero-color,30);
            }
          }
        }
       }
    }
  }
}

.container-documentation {
  @include span-columns(9);
  padding-top: 20px;

  @media only screen and (max-width: $medium-screen) {

    @include span-columns(12);
    margin-top: 50px;
  }
}
