.page-title-docs {

  .w {

    .title {

      font-size: 35pt !important;
      margin-bottom: 10px;
    }

    .subtitle {

      a {

        color: $blog-title-color;
      }
    }
  }
}

.page-title {

  background: #000;
  padding: 25px 0;

  .title {

    font-family: $page-title-font;
    font-weight: 700;
    font-size: 33px;
    color: $cta-color;
    line-height: 28px;
    clear: both;
    opacity: 0.94;
    margin: 0;
  }

  .subtitle {

    @include title-font(21px, white);
    font-weight: 550;
    opacity: 0.94;
    margin: 0;
    line-height: 21px;
    margin-top: 7px;
  }

  a {

    @extend .hero-anchors;
  }
}


//subnav drivers

.subNavfixed {

  width: 100%;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 99;
  padding: 0 !important;
  background: darken($cta-color, 10);
  border: none !important;
  height: 53px;

  .app-logo {

    display: inline-block !important;
  }

  .container-subnav {

    width: $big-screen;
    margin: 0 auto;

    @include medium-screen($medium-screen, "") {

      padding: 0 15px;
    }

    @include small-screen(100%, "") {

      padding: 0 15px;
    }
  }
  h5{
    @include span-columns(3);
    color: white;
    float: left;
    margin: 15px 0;
    white-space: nowrap;
    @media only screen and (min-width: $medium-screen) and (max-width: $big-screen) {
      font-size: .8em;
    }
  }
  nav {
    @include span-columns(9);
    float: left;
    margin: 15px 0 15px 10px;

    a {
      color: white !important;
      margin: 20px 5px !important;

    }
  }


}

.marginTopSubnav {

  padding-top: 65px;

}


.subnav-drivers {

  border-top: solid 1px #333;
  border-bottom: solid 1px #333;
  padding: 20px 0;

  @media only screen and (max-width: $medium-screen) {

     display: none;
  }

  .app-logo {

      color: $blog-title-color;
      font-size: 2em;
      float: left;
      font-family: "Russo One", "Helvetica Neue", Helvetica, Arial, sans-serif;
      margin-top: 5px;
      display: none;
  }

  nav {


    a {

      padding: 5px 10px;
      margin: 20px 2px;
      color: $color-text-subnav-drivers;
      font-size: .9em;

      @media only screen and (min-width: $medium-screen) and (max-width: $big-screen) {

        font-size: .7em;
      }

      &:hover {

        color: white;
        background: $cta-color;
      }
    }

    .active {

      color: white;
      background: $cta-color;
    }

  }
}
