:markdown
  ## sendnotification

  Sends a notification to the Pebble


  ### Params


  - **message** (<code>String</code>)


  ### Returns

  - (<code>String</code>) message

  * * *

  ## pendingmessage

  Checks if there are pending messages


  ### Returns

  - (<code>String</code>|<code>null</code>) message

  * * *

  ## publishevent

  Emits an event, with the supplied data


  ### Params


  - **name** (<code>String</code>) name of the event to emit


  - **data** (<code>Object</code>) any payload that should be emitted with the event


  ### Returns

  - (<code>null</code>)
