:markdown
  ## button

  Emitted when a Pebble button is pushed.



  * * *

  ## accel

  Emitted when an accelerometer event is triggered in the Pebble.



  * * *

  ## tap

  Emitted when the Pebble detects a tap.


