:markdown
  ## hover

  Tells the drone to hover in place.


  ### Params


  - **duration** (<code>Number</code>) the duration to wave for


  ### Returns

  - (<code>null</code>)

  * * *

  ## forward

  Makes the drone bank forwards.



  ### Params


  - **speed** (<code>Number</code>) a 0-1 value for how fast the drone moves forward


  ### Returns

  - (<code>Number</code>)

  * * *

  ## frontFlip

  Tells the drone to do as many front flips as it can in `duration`.


  ### Params


  - **duration** (<code>Number</code>) the duration to do front-flips for


  ### Returns

  - (<code>null</code>)

  * * *

  ## backFlip

  Tells the drone to do as many back flips as it can in `duration`.


  ### Params


  - **duration** (<code>Number</code>) the duration to do back-flips for


  ### Returns

  - (<code>null</code>)

  * * *

  ## leftFlip

  Tells the drone to do as many left flips as it can in `duration`.


  ### Params


  - **duration** (<code>Number</code>) the duration to do left-flips for


  ### Returns

  - (<code>null</code>)

  * * *

  ## rightFlip

  Tells the drone to do as many right flips as it can in `duration`.


  ### Params


  - **duration** (<code>Number</code>) the duration to do right-flips for


  ### Returns

  - (<code>null</code>)

  * * *

  ## wave

  Tells the drone to do as many waves as it can in `duration`.


  ### Params


  - **duration** (<code>Number</code>) the duration to wave for


  ### Returns

  - (<code>null</code>)
