:markdown
  ## navdata

  Emitted when the ARDrone has new navigation data



  * * *

  ## landing

  Emitted when the ARDrone is landing



  * * *

  ## landed

  Emitted when the ARDrone has landed



  * * *

  ## takeoff

  Emitted when the ARDrone has taken off



  * * *

  ## hovering

  Emitted when the ARDrone is hovering



  * * *

  ## flying

  Emitted when the ARDrone is flying



  * * *

  ## lowBattery

  Emitted when the ARDrone has a low battery



  * * *

  ## batteryChange

  Emitted when the ARDrone"s battery percentage has changed



  * * *

  ## altitudeChange

  Emitted when the ARDrone"s altitude has changed


