:markdown
  ## read

  Reads data from the Neurosky serialport.

  Triggers the callback with any new data


  ### Params


  - **callback** (<code>Function</code>) to be triggered when new data is available


  ### Returns

  - (<code>undefined</code>)
