:markdown
  ## setParam

  Sets a parameter in the Crazyflie driver


  ### Params


  - **param** (<code>String</code>)


  - **value** (<code>String</code>)


  ### Returns

  - (<code>null</code>)
