:markdown
  ## setParam

  Sets a parameter in the Crazyflie driver


  ### Params


  - **param** (<code>String</code>) parameter to set


  - **value** (<code>String</code>) value to set the parameter to


  ### Returns

  - (<code>undefined</code>)
