:markdown
  ## takeoff

  Makes the Crazyflie take off


  ### Returns

  - (<code>null</code>)

  * * *

  ## land

  Makes the Crazyflie land


  ### Returns

  - (<code>null</code>)

  * * *

  ## hover

  Makes the Crazyflie hover


  ### Returns

  - (<code>null</code>)

  * * *

  ## setPitch

  Sets the pitch of the Crazyflie


  ### Returns

  - (<code>null</code>)

  * * *

  ## setYaw

  Sets the yaw of the Crazyflie


  ### Returns

  - (<code>null</code>)

  * * *

  ## setThrust

  Sets the thrust of the Crazyflie


  ### Returns

  - (<code>null</code>)

  * * *

  ## shutdown

  Shuts down the Crazyflie


  ### Returns

  - (<code>null</code>)
