:markdown
  ## digitalRead

  Reads a value from a digital pin


  ### Params


  - **pin** (<code>Number</code>) which pin to read from


  - **callback** (<code>Function</code>) triggered when the value has been read from the pin


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## digitalWrite

  Writes a value to a digital pin


  ### Params


  - **pin** (<code>Number</code>) which pin to write to


  - **value** (<code>Number</code>) the value to write to the pin


  - **callback** (<code>Function</code>) function to be invoked when write is complete


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## analogRead

  Reads a value from an analog pin


  ### Params


  - **pin** (<code>Number</code>) which pin to read from


  - **callback** (<code>Function</code>) triggered when the value has been read from the pin


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## analogWrite

  Writes a value to an analog pin


  ### Params


  - **pin** (<code>Number</code>) which pin to write to


  - **value** (<code>Number</code>) the analog value to write to the pin


  - **callback** (<code>Function</code>) function to be invoked when write is complete


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## pwmWrite

  Writes a PWM value to a pin


  ### Params


  - **pin** (<code>Number</code>) which pin to write a value to


  - **value** (<code>Number</code>) 0..1 value to write to the pin


  - **callback** (<code>Function</code>) function to be invoked when write is complete


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## servoWrite

  Writes a servo value to a pin


  ### Params


  - **pin** (<code>Number</code>) pin to write a value to


  - **value** (<code>Number</code>) servo value to write, from 0..1


  - **callback** (<code>Function</code>) function to be invoked when write is complete


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## i2cWrite

  Writes an I2C value to the board.


  ### Params


  - **address** (<code>Number</code>) I2C address to write to


  - **cmd** (<code>Number</code>) I2C command to write


  - **buff** (<code>Array</code>) buffered data to write


  - **callback** (<code>Function</code>) function to be invoked when write is complete


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## i2cRead

  Reads an I2C value from the board.


  ### Params


  - **address** (<code>Number</code>) I2C address to write to


  - **cmd** (<code>Number</code>) I2C command to write


  - **length** (<code>Number</code>) amount of data to read


  - **callback** (<code>Function</code>) function to be invoked when values are read


  ### Returns

  - (<code>undefined</code>)
