.frameworks
  .container
    .column-footer
      .img
        %img{src: "/images/elements/cylon_footer.png"}/
      %h4  Multiple solutions
      %p Cylon provides a simple, yet powerful way to create solutions that incorporate multiple, different hardware devices at the same time.
    .column-footer
      .img
        %img{src: "/images/elements/artoo_footer.png"}/
      %h4  Artoo Project
      %p Want to use Ruby on robots? Check out our sister project Artoo
      .button
        = link_to "View Project", "http://artoo.io", target: :blank
    .column-footer
      .img
        %img{src: "/images/elements/gobot_footer.png"}/
      %h4 Gobot Project
      %p Want to use the Go programming language to power your robots? Check out our sister project Gobot
      .button
        = link_to "View Project", "http://gobot.io", target: :blank
    .clear

.copyright
  .container
    .left-side
      %span &copy; Copyright 2012-2014
      %a#THG-logo{href: "http://hybridgroup.com", target: "_blank"}
        %img{src: "/images/elements/THG_logo.png", alt: "The Hybrid Group"}/
    .right-side
      %a{:href => "#top"}
        %img{src: "/images/elements/triangle_up.svg", alt: "Top"}/
        %p Top
    .clear
