.w
  %header.app-header{role: "banner"}
    .display
      %h1.app-logo
        = yield_content :logo
      %span.subtitle
        = yield_content :logo_subtitle

    %span.menu
      = yield_content :menu
