<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html ng-app="cylon">
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="description">
    <meta name="author">
    <title>Cylon.js Resources</title>
    <link href="/stylesheets/application.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/javascripts/plax.js"></script>
    <script src="/javascripts/parallax_bottom.js"></script>
    <script src="/javascripts/vendor/angular.min.js"></script>
    <script src="/javascripts/app.js"></script>
    <link href="//fonts.googleapis.com/css?family=Inconsolata:400,700%7CMontserrat:700" rel="stylesheet">
    <link href="/favicon.ico" rel="shortcut icon" type="image/gif">
  <script type="text/javascript">


  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46433484-2', {"cookieDomain":"cylonjs.com"});
















   ga('send', 'pageview');


</script></head>
  <body>
    
    <div class="app-header section-nav" id="top" role="banner">
      <div class="container">
        <div class="display">
          <div class="app-logo">
            <a href="/">Cylon</a>
          </div>
        </div>
        <nav class="menu">
          <ul class="nav-list">
            <li>
              <a href="/documentation" class="item">Docs</a>
            </li>
            <li>
              <a href="/documentation/platforms" class="item">Platforms</a>
            </li>
            <li>
              <a class="active" href="/resources">Resources</a>
            </li>
            <li>
              <a href="/blog" class="item">Blog</a>
            </li>
            <li>
              <a class="item" target="_blank" href="https://github.com/hybridgroup/cylon/">Github</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="app-content">
      <div class="page-title">
        <div class="container">
          <h1 class="title">Resources</h1>
          <h2 class="subtitle">Cylon.js around the world.</h2>
        </div>
      </div>
      <div class="main-content" role="main">
        <div class="documentation">
          <div class="side-documentation">
            <div class="mobile-menu">
              <h1 class="sidebar-title">Index</h1>
              <a id="docs-menu">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
              </a>
            </div>
            <nav class="docs-sidebar" ng-controller="SidebarCtrl">
              <a href="/documentation/getting-started">Getting Started</a>
              <div class="section" ng-class="{active: active('Guides')}">
                <div class="name" ng-click="show('Guides')">Guides</div>
                <div class="links" ng-show="active('Guides')">
                  <a href="/documentation/guides/what_is_cylon">About Cylon</a>
                  <a href="/documentation/guides/working-with-robots">Working With Robots</a>
                  <a href="/documentation/guides/declarative-vs-fluent">Declarative vs. Fluent</a>
                  <a href="/documentation/guides/cli">CLI</a>
                  <a href="/documentation/guides/test-driven-robotics">Test-Driven Robotics</a>
                  <a href="/documentation/guides/browser-support">Browser Support</a>
                </div>
              </div>
              <div class="section" ng-class="{active: active('Platforms')}">
                <div class="name" ng-click="show('Platforms')">Platforms</div>
                <div class="links" ng-show="active('Platforms')">
                  <a href="/documentation/platforms/ardrone">Ardrone</a>
                  <a href="/documentation/platforms/arduino">Arduino</a>
                  <a href="/documentation/platforms/yun">Arduino Yun</a>
                  <a href="/documentation/platforms/audio">Audio</a>
                  <a href="/documentation/platforms/beaglebone">Beaglebone</a>
                  <a href="/documentation/platforms/bebop">Bebop</a>
                  <a href="/documentation/platforms/ble">BLE</a>
                  <a href="/documentation/platforms/crazyflie">Crazyflie</a>
                  <a href="/documentation/platforms/digispark">Digispark</a>
                  <a href="/documentation/platforms/imp">Imp</a>
                  <a href="/documentation/platforms/galileo">Intel Galileo</a>
                  <a href="/documentation/platforms/edison">Intel Edison</a>
                  <a href="/documentation/platforms/intel-iot-analytics">Intel IoT Analytics</a>
                  <a href="/documentation/platforms/joystick">Joystick</a>
                  <a href="/documentation/platforms/keyboard">Keyboard</a>
                  <a href="/documentation/platforms/leapmotion">Leap Motion</a>
                  <a href="/documentation/platforms/m2x">M2X</a>
                  <a href="/documentation/platforms/mip">MiP</a>
                  <a href="/documentation/platforms/mqtt">MQTT</a>
                  <a href="/documentation/platforms/nest">Nest</a>
                  <a href="/documentation/platforms/neurosky">Neurosky Mindwave</a>
                  <a href="/documentation/platforms/ollie">Ollie</a>
                  <a href="/documentation/platforms/opencv">OpenCV</a>
                  <a href="/documentation/platforms/particle">Particle</a>
                  <a href="/documentation/platforms/pebble">Pebble</a>
                  <a href="/documentation/platforms/hue">Phillips Hue</a>
                  <a href="/documentation/platforms/pinoccio">Pinoccio</a>
                  <a href="/documentation/platforms/powerup">PowerUp</a>
                  <a href="/documentation/platforms/rapiro">Rapiro</a>
                  <a href="/documentation/platforms/raspberry-pi">Raspberry Pi</a>
                  <a href="/documentation/platforms/force">Salesforce</a>
                  <a href="/documentation/platforms/skynet">Skynet</a>
                  <a href="/documentation/platforms/sphero">Sphero</a>
                  <a href="/documentation/platforms/speech">Speech</a>
                  <a href="/documentation/platforms/tessel">Tessel</a>
                  <a href="/documentation/platforms/wiced-sense">Wiced Sense</a>
                </div>
              </div>
              <div class="section" ng-class="{active: active('Drivers')}">
                <div class="name" ng-click="show('Drivers')">Drivers</div>
                <div class="links" ng-show="active('Drivers')">
                  <div class="sub-section">
                    <div class="name">GPIO</div>
                    <div class="links">
                      <a href="/documentation/drivers/analog-sensor">Analog Sensor</a>
                      <a href="/documentation/drivers/button">Button</a>
                      <a href="/documentation/drivers/continuous-servo">Continuous Servo</a>
                      <a href="/documentation/drivers/direct-pin">Direct Pin</a>
                      <a href="/documentation/drivers/ir-range-finder">Sharp IR Proximity Sensor</a>
                      <a href="/documentation/drivers/led">LED</a>
                      <a href="/documentation/drivers/makey-button">Makey Button</a>
                      <a href="/documentation/drivers/maxbotix">Maxbotix</a>
                      <a href="/documentation/drivers/motor">Motor</a>
                      <a href="/documentation/drivers/relay">Relay</a>
                      <a href="/documentation/drivers/rgb-led">RGB LED</a>
                      <a href="/documentation/drivers/servo">Servo</a>
                    </div>
                  </div>
                  <div class="sub-section">
                    <div class="name">I2C</div>
                    <div class="links">
                      <a href="/documentation/drivers/blinkm">BlinkM</a>
                      <a href="/documentation/drivers/bmp180">BMP180</a>
                      <a href="/documentation/drivers/hmc6352-compass">HMC6352 Compass</a>
                      <a href="/documentation/drivers/lcd">LCD</a>
                      <a href="/documentation/drivers/lidar-lite">LIDAR-Lite</a>
                      <a href="/documentation/drivers/lsm9ds0g">LSM9DS0G</a>
                      <a href="/documentation/drivers/lsm9ds0xm">LSM9DS0XM</a>
                      <a href="/documentation/drivers/mpl115a2">MPL115A2</a>
                      <a href="/documentation/drivers/mpu6050">MPU6050</a>
                      <a href="/documentation/drivers/pca9685">PCA9685</a>
                    </div>
                  </div>
                  <a href="/documentation/drivers/ardrone-flight">Ardrone - Flight</a>
                  <a href="/documentation/drivers/ardrone-navigation">Ardrone - Navigation</a>
                  <a href="/documentation/drivers/audio">Audio</a>
                  <a href="/documentation/drivers/bebop">Bebop - Flight</a>
                  <a href="/documentation/drivers/crazyflie">Crazyflie</a>
                  <a href="/documentation/drivers/intel-iot-analytics">Intel IoT Analytics</a>
                  <a href="/documentation/drivers/dualshock">Joystick - DualShock 3</a>
                  <a href="/documentation/drivers/xbox360">Joystick - Xbox 360</a>
                  <a href="/documentation/drivers/keyboard">Keyboard</a>
                  <a href="/documentation/drivers/leapmotion">Leap Motion</a>
                  <a href="/documentation/drivers/m2x">M2X</a>
                  <a href="/documentation/drivers/mip">MiP</a>
                  <a href="/documentation/drivers/mqtt">MQTT</a>
                  <a href="/documentation/drivers/nest-home">Nest - Home</a>
                  <a href="/documentation/drivers/nest-protect">Nest - Protect</a>
                  <a href="/documentation/drivers/nest-thermostat">Nest - Thermostat</a>
                  <a href="/documentation/drivers/neurosky">Neurosky Mindwave</a>
                  <a href="/documentation/drivers/ollie">Ollie</a>
                  <a href="/documentation/drivers/pebble">Pebble</a>
                  <a href="/documentation/drivers/hue-bridge">Philips Hue - Bridge</a>
                  <a href="/documentation/drivers/hue-light">Philips Hue - Light</a>
                  <a href="/documentation/drivers/pinoccio-led">Pinoccio - LED</a>
                  <a href="/documentation/drivers/pinoccio-power">Pinoccio - Power</a>
                  <a href="/documentation/drivers/rapiro">Rapiro</a>
                  <a href="/documentation/drivers/force">Salesforce</a>
                  <a href="/documentation/drivers/skynet">Skynet</a>
                  <a href="/documentation/drivers/speech">Speech</a>
                  <a href="/documentation/drivers/sphero">Sphero</a>
                  <a href="/documentation/drivers/wiced-sense">Wiced Sense</a>
                  <div class="sub-section">
                    <div class="name">BLE</div>
                    <div class="links">
                      <a href="/documentation/drivers/ble-battery-service">Battery Service</a>
                      <a href="/documentation/drivers/ble-characteristic">Characteristic</a>
                      <a href="/documentation/drivers/ble-device-information">Device Information</a>
                      <a href="/documentation/drivers/ble-generic-access">Generic Access</a>
                      <a href="/documentation/drivers/powerup">PowerUp</a>
                      <a href="/documentation/drivers/wiced-sense">Wiced Sense</a>
                    </div>
                  </div>
                  <div class="sub-section">
                    <div class="name">Tessel</div>
                    <div class="links">
                      <a href="/documentation/drivers/tessel-accelerometer">Accelerometer</a>
                      <a href="/documentation/drivers/tessel-ambient">Ambient</a>
                      <a href="/documentation/drivers/tessel-audio">Audio</a>
                      <a href="/documentation/drivers/tessel-bluetooth">Bluetooth</a>
                      <a href="/documentation/drivers/tessel-camera">Camera</a>
                      <a href="/documentation/drivers/tessel-gps">GPS</a>
                      <a href="/documentation/drivers/tessel-infrared">Infrared</a>
                      <a href="/documentation/drivers/tessel-relay">Relay</a>
                      <a href="/documentation/drivers/tessel-servo">Servo</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="section" ng-class="{active: active('Resources')}">
                <div class="name" ng-click="show('Resources')">Resources</div>
                <div class="links" ng-show="active('Resources')">
                  <a href="/resources">Index</a>
                  <a href="/news">News</a>
                  <a href="/resources/videos">Videos</a>
                  <a href="/resources/links">Links</a>
                </div>
              </div>
              <div class="section" ng-class="{active: active('Contribute')}">
                <div class="name" ng-click="show('Contribute')">Contribute</div>
                <div class="links" ng-show="active('Contribute')">
                  <a href="/documentation/contribute/guidelines">Guidelines</a>
                  <a href="/documentation/contribute/contact-us">Contact Us</a>
                </div>
              </div>
              <div class="section" ng-class="{active: active('API')}">
                <div class="name" ng-click="show('API')">API</div>
                <div class="links" ng-show="active('API')">
                  <a href="/documentation/api/http">HTTP</a>
                  <a href="/documentation/api/mqtt">MQTT</a>
                  <a href="/documentation/api/socket-io">Socket.io</a>
                </div>
              </div>
              <a href="/documentation/examples">Examples</a>
              <div class="section" ng-class="{active: active('Tutorials')}">
                <div class="name" ng-click="show('Tutorials')">Tutorials</div>
                <div class="links" ng-show="active('Tutorials')">
                  <a href="/documentation/tutorials/hackster-hardware-weekend-los-angeles">Hackster Hardware Weekend</a>
                  <a href="/documentation/tutorials/dreamforce-2014">Dreamforce</a>
                  <a href="/documentation/tutorials/thingscon">Thingscon</a>
                </div>
              </div>
              <a href="/documentation/user-contributed-platforms">User Contributed Platforms</a>
              <a href="/documentation/helpers">Helper Methods</a>
              <a href="/documentation/architecture">Architecture</a>
              <a href="/documentation/configuration">Configuration</a>
              <a href="/documentation/adding-new-hardware-support">Adding Hardware Support</a>
              <a href="/documentation/chat">Chat</a>
            </nav>
          </div>
          <div class="container-documentation">
            
            <section class="resources">
              <h1>Friends of Cylon.js Around the World</h1>
              <p>Listed below are some links to blogs and magazines which have featured and explored Cylon.js.</p>
              <h2>
                <img alt="American Flag" class="flag" src="/images/elements/United-States.png">
                English
              </h2>
              <a target="_blank" class="external-link" href="http://hardware.slashdot.org/story/15/07/07/2024252/learning-simple-robot-programming-with-a-non-threatening-robot-ball-video">Learning Simple Robot Programming With a 'Non-Threatening' Robot Ball (Video) - <span class="site-name">Slashdot</span></a>
              <a target="_blank" class="external-link" href="https://www.hackster.io/glowascii/partikon-particle-cylon-js">Particle + Cylon.js - <span class="site-name">Hackster.io</span></a>
              <a target="_blank" class="external-link" href="http://blog.leapmotion.com/integrate-leap-motion-arduino-raspberry-pi/">How to Integrate Leap Motion with Arduino &amp; Raspberry Pi - <span class="site-name">Leap Motion</span></a>
              <a target="_blank" class="external-link" href="http://www.pubnub.com/blog/diy-realtime-weather-station-with-intel-edison-and-cylon-js/">DIY Realtime Weather Station with Intel Edison and Cylon.js  - <span class="site-name">Pub Nub</span></a>
              <a target="_blank" class="external-link" href="http://blog.anthonyngu.com/2015/02/23/hackathon-environments/">Hackster Hardware Weekend (Hackathon) - <span class="site-name">Anthony Ngu</span></a>
              <a target="_blank" class="external-link" href="http://blog.leapmotion.com/controlling-sphero-leap-motion-cylon-js/">Controlling Sphero with Leap Motion + Cylon.js - <span class="site-name">Leap Motion</span></a>
              <a target="_blank" class="external-link" href="http://indiedevspot.com/2015/05/21/pi-for-brains-robot-part-1-setup/">Pi for Brains Robot - <span class="site-name">Indie Dev Spot</span></a>
              <a target="_blank" class="external-link" href="http://www.rs-online.com/designspark/electronics/blog/building-an-mqtt-enabled-application-with-cylon-js">Building an MQTT enabled application with Cylon.js - <span class="site-name">Design Spark</span></a>
              <a target="_blank" class="external-link" href="https://software.intel.com/en-us/articles/using-cylonjs-with-the-intel-edison-board-and-the-intel-iot-developer-kit">Using Cylon.js with the Intel® Edison board and the Intel® IoT Developer Kit - <span class="site-name">Intel Developer Zone</span></a>
              <a target="_blank" class="external-link" href="http://blog.leapmotion.com/featured-platform-control-robots-cylon-js/">Featured Platform: Control Robots with Cylon.js - <span class="site-name">Leap Motion</span></a>
              <a target="_blank" class="external-link" href="http://ivyco.blogspot.com/2015/04/cloud9-resinio-cylonjs-all-coming.html?m=1">Cloud9, resin.io, Cylon.js - all coming together - <span class="site-name">My Hobbies</span></a>
              <a target="_blank" class="external-link" href="http://connectedworld.com/cylon-js-helps-democratize-iot-development/">Cylon.js Helps Democratize IoT Development - <span class="site-name">Connected World</span></a>
              <a target="_blank" class="external-link" href="http://developer.telerik.com/featured/connect-a-mobile-app-and-a-spark-core-an-international-iot-day-project/">Connect a Mobile App and a Spark Core - An International IoT Day Project - <span class="site-name">Telerik</span></a>
              <a target="_blank" class="external-link" href="http://www.intel-software-academic-program.com/courses/diy/Intel_Academic_-_DIY_-_InternetOfThings/IntelAcademic_IoT-Edison_07_CylonJS.pdf">Internet of Things with Intel Edison CylonJS - <span class="site-name">Intel Software Academic Program</span></a>
              <a target="_blank" class="external-link" href="http://mirobot.io/programmable/">Program or be Programmed! - <span class="site-name">Microbot</span></a>
              <a target="_blank" class="external-link" href="http://noahkeitel.com/wp/an-open-source-experience-with-students-from-the-university-of-minnesota-morris/">An Open Source Experience with Students from the University of Minnesota, Morris - <span class="site-name">Noah Keitel</span></a>
              <a target="_blank" class="external-link" href="http://diydrones.com/profiles/blogs/control-a-fleet-of-drones-with-salesforce">Control a fleet of drones with Salesforce - <spanclass>DIY Drones</spanclass></a>
              <a target="_blank" class="external-link" href="http://www.instructables.com/id/Using-Sensors-to-Make-Music-with-the-Intel-Edison/">Using Buttons and Sensors to Make Music with the Intel Edison - <spanclass>Instructables</spanclass></a>
              <a target="_blank" class="external-link" href="https://github.com/mashery/edison-guides/wiki/Cylon.js-and-Intel-IoTDevKit-Example-Sketches">Cylon.js and Intel IoTDevKit Example Sketches - <spanclass>Edison-Guides</spanclass></a>
              <a target="_blank" class="external-link" href="http://miphacking.blogspot.com/">MiP Hacking - <spanclass>Mip Hacking</spanclass></a>
              <a target="_blank" class="external-link" href="http://julian.io/meteor-meets-arduino-and-cylon/">Meteor meets Arduino and Cylon - <span class="site-name">Julian.io</span></a>
              <a target="_blank" class="external-link" href="http://www.codefoster.com/edison-coding/">Writing JavaScript for an Intel Edison - <span class="site-name">Codefoster </span></a>
              <a target="_blank" class="external-link" href="http://makezine.com/2014/05/31/building-robots-and-rockets-with-javascript/">Building Robots and Rockets with Javascript - <span class="site-name">Make Magazine</span></a>
              <a target="_blank" class="external-link" href="https://charliegerard.wordpress.com/2015/01/12/sphero-leap-motion-cylon-js/">Controlling the Sphero using the Leap Motion in Cylon.js - <span class="site-name">Charlie Gerard</span></a>
              <a target="_blank" class="external-link" href="https://charliegerard.wordpress.com/2015/01/20/drone-leap-motion-cylon-js/">Control the Parrot ARDrone with the Leap Motion in Cylon.js - <span class="site-name">Charlie Gerard</span></a>
              <a target="_blank" class="external-link" href="http://reidcarlberg.com/2014/03/19/control-your-quadcopter-drone-fleet-with-salesforce1/">Control Your Quadcopter Drone Fleet with Salesforce1 - <span class="site-name">Reid Carlberg</span></a>
              <a target="_blank" class="external-link" href="http://www.sitepoint.com/javascript-beyond-web-2014/">JavaScript Beyond the Web in 2014 - <span class="site-name">Sitepoint</span></a>
              <a target="_blank" class="external-link" href="http://topideafactory.blogspot.com/2014/10/interacting-with-robot-through-nodejs.html">Interacting with a Robot (Sphero) Through Node.js - <span class="site-name">Top Idea Factory</span></a>
              <a target="_blank" class="external-link" href="http://fab-lab.eu/edison/">Getting Started with an Intel® Edison - <span class="site-name">Fab Lab</span></a>
              <a target="_blank" class="external-link" href="http://loicdescotte.github.io/posts/sphero/">Playing with Sphero - <span class="site-name">LOÏC'S BLOG</span></a>
              <a target="_blank" class="external-link" href="https://ms-iot.github.io/content/Firmata.htm">Firmata and Cylon - <span class="site-name">Microsoft IoT</span></a>
              <h2>
                <img alt="Spanish Flag" class="flag" src="/images/elements/Spain.png">
                Spanish
              </h2>
              <a target="_blank" class="external-link" href="http://www.luistoscano.com/blog/2014/12/02/bootcamp-monteria-cylon-js-javascript-robotics/">BootCamp Monteria : Cylon.js – Javascript + Robotics - <span class="site-name">Luis Toscano</span></a>
              <a target="_blank" class="external-link" href="http://www.whiledev.com/como-programar-plataformas-tipo-arduino-en-javascript-ruby-y-go">Cómo programar plataformas tipo Arduino en JavaScript, Ruby y Go - <span class="site-name">WhileDev</span></a>
              <a target="_blank" class="external-link" href="https://carlosazaustre.es/blog/programando-en-node-js-con-raspberrypi-primeros-pasos/">Programando en Node.js con RaspberryPi. Primeros pasos - <span class="site-name">Carlos Azaustre</span></a>
              <a target="_blank" class="external-link" href="http://carlosazaustre.es/blog/primera-aplicacion-web-en-raspberrypi-con-nodejs-cylonjs-controlando-leds-desde-el-movil/">Primera Aplicación Web en RaspberryPi con NodeJS + CylonJS - <span class="site-name">Carlos Azaustre</span></a>
              <a target="_blank" class="external-link" href="http://programacion.net/noticia/cylon_js-_una_forma_sencilla_de_programar_hardware_2178">Cylon.js, una forma sencilla de programar hardware - <span class="site-name">Programacion en Castellano</span></a>
              <h2>
                <img alt="Japanese Flag" class="flag" src="/images/elements/Japan.png">
                Japanese
              </h2>
              <a target="_blank" class="external-link" href="http://lpcwww.com/2014/12/08/cylonjs-on-arduino/">Cylon.js on Arduino - <span class="site-name">lpcwww</span></a>
              <a target="_blank" class="external-link" href="http://qiita.com/masato/items/98f2888fac4d0271d526">BeagleBone BlackのDebianでCylon.jsを使いMQTTを受信してLチカする - <span class="site-name">Qiita</span></a>
              <a target="_blank" class="external-link" href="http://qiita.com/masato/items/399a3b6c22a109c579cc">Raspberry PiにNode.jsをインストールしてCylon.jsでLチカする - <span class="site-name">Qiita</span></a>
              <a target="_blank" class="external-link" href="http://takuro.ws/2015/01/playing-with-cylonjs/">Cylon.jsで遊んでみた - <span class="site-name">takuro wada</span></a>
              <h2>
                <img alt="Portuguese Flag" class="flag" src="/images/elements/Portugal.png">
                Portuguese
              </h2>
              <a target="_blank" class="external-link" href="http://devtroll.blogspot.com/2014/03/nodejs-rodando-javascript-no-arduino.html">[NodeJS] Rodando Javascript no Arduino com Cylon.JS - <span class="site-name">Troll Development</span></a>
              <h2>
                <img alt="Italian Flag" class="flag" src="/images/elements/Italy.png">
                Italian
              </h2>
              <a target="_blank" class="external-link" href="http://www.queryonline.it/2015/03/27/i-robot-li-controlli-usando-cylon/">I robot? Li controlli usando Cylon - <span class="site-name">Query</span></a>
              <h2>
                <img alt="French Flag" class="flag" src="/images/elements/France.png">
                French
              </h2>
              <a target="_blank" class="external-link" href="http://www.meanjs.fr/cylon-js-javascript-et-robotique/">Cylon.js : Node.js et robotique - <span class="site-name">Meanjs.fr</span></a>
            </section>
          </div>
        </div>
      </div>
    </div>
    <div class="app-footer">
      <div class="frameworks">
        <div class="parallax-container">
          <div class="background-footer parallax-bottom"></div>
          <div class="container">
            <div class="column-footer">
              <div class="img">
                <img class="display" src="/images/elements/logo-cylon-2x.png">
              </div>
              <h4>Multiple solutions</h4>
              <p>Cylon.js provides a simple, yet powerful way to create solutions that incorporate multiple, different hardware devices at the same time.</p>
            </div>
            <div class="column-footer">
              <div class="img">
                <img class="display" src="/images/elements/logo-artoo-2x.png">
              </div>
              <h4>Artoo</h4>
              <p>Want to use Ruby on robots? Check out our sister project Artoo</p>
              <div class="button-footer">
                <a target="blank" href="http://artoo.io">View Project</a>
              </div>
            </div>
            <div class="column-footer">
              <div class="img">
                <img class="display" src="/images/elements/logo-gobot-2x.png">
              </div>
              <h4>Gobot</h4>
              <p>Want to use the Go programming language to power your robots? Check out our sister project Gobot</p>
              <div class="button-footer">
                <a target="blank" href="http://gobot.io">View Project</a>
              </div>
            </div>
            <div class="clear"></div>
          </div>
        </div>
      </div>
      <div class="copyright">
        <div class="container">
          <div class="hybrid-group">
            <span>© Copyright 2012-2015</span>
            <a href="http://hybridgroup.com" id="THG-logo" target="_blank">
              <img alt="The Hybrid Group" src="/images/elements/THG_logo.png">
            </a>
          </div>
          <div class="top-link">
            <a href="#top">
              <img alt="Top" src="/images/elements/triangle_up.svg">
              <p>Top</p>
            </a>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </body>
</html>
