---
layout: documentation
page_title_show: true
title: "Cylon.JS Fluent Example - audio-sample"
page_title: "Example: audio-sample"
author: The Hybrid Group
description: A Cylon.JS fluentcode example
page_subtitle: "<a href='https://github.com/hybridgroup/cylon-audio/tree/master/examples/audio-sample' target='_blank'>View In Repo</a>"
active_menu_docs: true
---
.example
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon
          .robot()
          .connection('records', { adaptor: 'audio', tracks: ['./audio_samples/audio-sample.mp3'] })
          .device('jukebox', { driver: 'audio' })
          .on('ready', function(robot) {
            robot.jukebox.on('playing', function(song){
              console.log('Playing this nice tune: "' + song + '"');
            });

            // You can also pass a string with a full or relative path here,
            // in case you do not want to define a list of tracks for the adaptor.
            // robot.jukebox.play('./audio_samples/audio-sample.mp3');
            robot.jukebox.play(0);
          })

        Cylon.start();

