---
title: Cylon.js API
author: The Hybrid Group
page_title: Core - API
page_subtitle: Components which make up Cylon's core.
layout: documentation
page_title_show: true
active_menu_docs: true
---
.api
  :markdown
    # How To Connect with the API

    Cylon.js comes with a built-in API server so, you can view details about your robots and control them from anywhere.

    ### Running your robot:

    The following code example will spin up an API server:

        :::javascript
        var Cylon = require('cylon');

        Cylon.api();

        Cylon.robot({
          connections: {
            loopback: { adaptor: 'loopback' }
          },

          devices: {
            ping: { driver: 'ping' }
          },

          work: function() {
          }
        }).start();

    By default, an unconfigured API instance will listen on
    `https://127.0.0.1:3000`, using a self-signed cert and with no
    authentication.

    For more information API configuration, see the [configuration page](/documentation/configuration).

    For more information on available API routes, check out the [CPPP-IO][] spec that Cylon's API follows.

    [CPPP-IO]: http://cppp.io
