---
layout: documentation
page_title_show: true
title: 'Cylon.JS Example - Hand Position'
page_title: 'Example: Hand Position'
author: The Hybrid Group
description: A Cylon.JS code example
page_subtitle: "<a href='https://github.com/hybridgroup/cylon-leapmotion/tree/master/examples/hand_position' target='_blank'>View In Repo</a>"
active_menu_docs: true
---
.example
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon
          .robot()
          .connection('leapmotion', { adaptor: 'leapmotion' })
          .device('leapmotion', { driver: 'leapmotion' })
          .on('ready', function(bot) {
            bot.leapmotion.on('hand', function(hand) {
              console.log(hand.palmPosition.join(','));
            });
          });

        Cylon.start();
