:markdown
  # Events

  ## lt:move

  Gets triggered when the left trigger is moved.

  ## rt:move

  Gets triggered when the right trigger is moved.

  ## left_x:move

  Gets triggered when the left stick is moved on the X axis.

  ## left_y:move

  Gets triggered when the left stick is moved on the Y axis.

  ## right_x:move

  Gets triggered when the right stick is moved on the X axis.

  ## right_y:move

  Gets triggered when the right stick is moved on the Y axis.

  ## rb:press

  Gets triggered when the `RB` button on the controller is pressed.

  ## x:press

  Gets triggered when the `x` button on the controller is pressed.

  ## triangle:press

  Gets triggered when the `triangle` button on the controller is pressed.

  ## circle:press

  Gets triggered when the `circle` button on the controller is pressed.

  ## x:press

  Gets triggered when the `x` button on the controller is pressed.

  ## up:press

  Gets triggered when the `up` button on the controller is pressed.

  ## down:press

  Gets triggered when the `down` button on the controller is pressed.

  ## left:press

  Gets triggered when the `left` button on the controller is pressed.

  ## right:press

  Gets triggered when the `right` button on the controller is pressed.

  ## left_stick:press

  Gets triggered when the `left_stick` button on the controller is pressed.

  ## right_stick:press

  Gets triggered when the `right_stick` button on the controller is pressed.

  ## lb:press

  Gets triggered when the `lb` button on the controller is pressed.

  ## l2:press

  Gets triggered when the `l2` button on the controller is pressed.

  ## rb:press

  Gets triggered when the `rb` button on the controller is pressed.

  ## r2:press

  Gets triggered when the `r2` button on the controller is pressed.

  ## start:press

  Gets triggered when the `start` button on the controller is pressed.

  ## select:press

  Gets triggered when the `select` button on the controller is pressed.

  ## home:press

  Gets triggered when the `home` button on the controller is pressed.

  ## rb:release

  Gets triggered when the `RB` button on the controller is released.

  ## x:release

  Gets triggered when the `x` button on the controller is released.

  ## y:release

  Gets triggered when the `y` button on the controller is released.

  ## b:release

  Gets triggered when the `b` button on the controller is released.

  ## a:release

  Gets triggered when the `a` button on the controller is released.

  ## up:release

  Gets triggered when the `up` button on the controller is released.

  ## down:release

  Gets triggered when the `down` button on the controller is released.

  ## left:release

  Gets triggered when the `left` button on the controller is released.

  ## right:release

  Gets triggered when the `right` button on the controller is released.

  ## left_stick:release

  Gets triggered when the `left_stick` button on the controller is released.

  ## right_stick:release

  Gets triggered when the `right_stick` button on the controller is released.

  ## lb:release

  Gets triggered when the `lb` button on the controller is released.

  ## rb:release

  Gets triggered when the `rb` button on the controller is released.

  ## start:release

  Gets triggered when the `start` button on the controller is released.

  ## select:release

  Gets triggered when the `select` button on the controller is released.

  ## home:release

  Gets triggered when the `home` button on the controller is released.
