---
layout: documentation
page_title_show: true
title: "Cylon.JS Example - BlinkM"
page_title: "Example: BlinkM"
author: The Hybrid Group
description: A Cylon.JS code example
page_subtitle: "<a href='https://github.com/hybridgroup/cylon-firmata/tree/master/examples/blinkm' target='_blank'>View In Repo</a>"
active_menu_docs: true
---
.example
  :markdown
        :::javascript
        "use strict";

        var Cylon = require("cylon");

        Cylon.robot({
          connections: {
            arduino: { adaptor: "firmata", port: "/dev/ttyACM0" }
          },

          devices: {
            blinkm: { driver: "blinkm" }
          },

          work: function(my) {
            my.blinkm.stopScript();

            my.blinkm.getFirmware(function(err, version) {
              console.log(err || "Started BlinkM version " + version);
            });

            my.blinkm.goToRGB(0, 0, 0);

            my.blinkm.getRGBColor(function(err, data) {
              console.log(err || "Starting Color: ", data);
            });

            every((2).seconds(), function() {
              my.blinkm.getRGBColor(function(err, data) {
                console.log(err || "Current Color: ", data);
              });
              my.blinkm.fadeToRandomRGB(128, 128, 128);
            });
          }
        }).start();
