---
layout: documentation
page_title_show: true
title: 'Cylon.JS Example - org-creds'
page_title: 'Example: org-creds'
author: The Hybrid Group
description: A Cylon.JS code example
page_subtitle: "<a href='https://github.com/hybridgroup/cylon-force/tree/master/examples/org-creds' target='_blank'>View In Repo</a>"
active_menu_docs: true
---
.example
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connections: {
            sfcon: {
              adaptor: 'force',

              sfuser: process.env.SF_USERNAME,
              sfpass: process.env.SF_SECURITY_TOKEN,

              // orgCreds and oauth2 are interchangeable here, you can use either.
              orgCreds: {
                clientId: 'CLIENT_ID',
                clientSecret: 'CLIENT_SECRET',
                redirectUri: 'http://localhost:3000/oauth/_callback'
              }
            }
          },

          devices: {
            salesforce: { driver: 'force' }
          },

          work: function(me) {
            me.salesforce.subscribe('SpheroMsgOutbound', function(err, data) {
              console.log('err received:', err);
              console.log('data received:', data);
            });

            var counter = 0;

            every((2).seconds(), function() {
              var toSend = { spheroName: 'globo' + counter, bucks: counter };

              me.salesforce.push('/SpheroController/', toSend, function(err, data) {
                console.log('Sphero globo' + counter + ' has been sent to Salesforce.');
              });

              counter++;
            });
          }
        });

        Cylon.start();
