---
layout: documentation
page_title_show: true
title: "Cylon.JS Example - salesforce"
page_title: "Example: salesforce"
author: The Hybrid Group
description: A Cylon.JS code example
page_subtitle: "<a href='https://github.com/hybridgroup/cylon-force/tree/master/examples/salesforce' target='_blank'>View In Repo</a>"
active_menu_docs: true
---
.example
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connections: {
            sfcon: {
              adaptor: 'force',
              sfuser: process.env.SF_USERNAME,
              sfpass: process.env.SF_SECURITY_TOKEN
            }
          },

          devices: {
            salesforce: { driver: 'force' }
          },

          work: function(me) {
            me.salesforce.subscribe('SpheroMsgOutbound', function(err, data) {
              console.log('err received:', err);
              console.log('data received:', data);
            });

            var counter = 0;

            every((2).seconds(), function() {
              var toSend = { spheroName: 'globo' + counter, bucks: counter };

              me.salesforce.push('/SpheroController/', toSend, function(err, data) {
                console.log('Sphero globo' + counter + ' has been sent to Salesforce.');
              });

              counter++;
            });
          }
        });

        Cylon.start();
