---
layout: documentation
page_title_show: true
title: "Cylon.JS Example - Spark Sales Force"
page_title: "Example: Spark Sales Force"
author: The Hybrid Group
description: A Cylon.JS code example
page_subtitle: "<a href='https://github.com/hybridgroup/cylon-force/blob/salesforce-new-examples/examples/spark-salesforce.js' target='_blank'>View In Repo</a>"
active_menu_docs: true
---
.example
  :markdown
        :::javascript
        var cylon = require('cylon');

        cylon.robot({
          connections: [
            {
              name: 'spark',
              adaptor: 'spark',
              accessToken: 'accessToken1',
              deviceId: 'deviceId1',
              module: 'cylon-spark'
            },
            {
              name: 'spark2',
              adaptor: 'spark',
              accessToken: 'accessToken1',
              deviceId: 'deviceId1',
              module: 'cylon-spark'
            },
            {
              name: 'sfcon',
              adaptor: 'force',
              sfuser: process.env.SF_USERNAME,
              sfpass: process.env.SF_SECURITY_TOKEN
            }
          ],

          devices: [
            { name: 'spark', driver: 'spark', connections: 'spark'},
            { name: 'sensor', driver: 'analogSensor', pin: 'A0', connection: 'spark', lowerLimit: 100, upperLimit: 900 },
            { name: 'led', driver: 'led', pin: 'A1', connection: 'spark2' },
            { name: 'salesforce', driver: 'force', connection: 'sfcon' }
          ],

          work: function(my) {
            my.salesforce.subscribe('SparkOutboundMsg', function(err, data) {
              cylon.Logger.info('Spark Data received from Salesforce:', data);

              var analogValue = data.sobject.Analog_Read__c || 0;
              var scaledBrightness = (analogValue).fromScale(0, 4095).toScale(0,255);

              my.led.brightness(Math.round(scaledBrightness));

              console.log('Analog value => ', analogValue);
              console.log('scaled brightness for led:', scaledBrightness);
            });

            every((2).seconds(), function() {
              var analogValue = my.sensor.analogRead() || 0,
                  toSend = { sparkName: my.spark.core().name, value: analogValue };

              cylon.Logger.info('Data to send to Salesforce:', toSend);

              my.salesforce.push('/SparkController/', toSend, function(err, data) {
                cylon.Logger.info('Spark core "' + my.spark.core().name + '" analog read has been sent to Salesforce.');
              });
            });
          }
        }).start();
