---
layout: documentation
page_title_show: true
title: "Cylon.JS Example - simple"
page_title: "Example: simple"
author: The Hybrid Group
description: A Cylon.JS code example
page_subtitle: "<a href='https://github.com/hybridgroup/cylon-mqtt/tree/master/examples/simple' target='_blank'>View In Repo</a>"
active_menu_docs: true
---
.example
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connections: {
            server: { adaptor: 'mqtt', host: 'mqtt://localhost:1883' }
          },

          devices: {
            hello: { driver: 'mqtt', topic: 'greetings' }
          },

          work: function(my) {
            my.hello.on('message', function (data) {
              console.log(data);
            });

            every((1).seconds(), function() {
              console.log("Saying hello...");
              my.hello.publish('hi there');
            });
          }
        }).start();
