---
layout: documentation
page_title_show: true
title: "Cylon.JS Fluent Example - crazyflie"
page_title: "Example: crazyflie"
author: The Hybrid Group
description: A Cylon.JS fluentcode example
page_subtitle: "<a href='https://github.com/hybridgroup/cylon-crazyflie/tree/master/examples/crazyflie' target='_blank'>View In Repo</a>"
active_menu_docs: true
---
.example
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon
          .robot()
          .connection('crazyflie', { adaptor: 'crazyflie', port: 'radio://1/20/1MPS' })
          .device('drone', { driver: 'crazyflie' })

          .on('ready', function(bot) {
            bot.drone.takeoff();

            setTimeout(function() {
              bot.drone.land();
            }, 2000);

            setTimeout(function() {
              bot.drone.stop();
            }, 5000);
          });

        Cylon.start();

