---
layout: documentation
page_title_show: true
title: "Cylon.JS Example - blink"
page_title: "Example: blink"
author: The Hybrid Group
description: A Cylon.JS code example
page_subtitle: "<a href='https://github.com/hybridgroup/cylon-hue/tree/master/examples/blink' target='_blank'>View In Repo</a>"
active_menu_docs: true
---
.example
  :markdown
        :::javascript
        // To run:
        // $ node examples/blink/blink.js 192.168.1.85 35dacee025cd94cf3f50bb301ad8b4bf

        var Cylon = require('cylon');

        Cylon.robot({
          connections: {
            hue: { adaptor: 'hue', host: process.argv[2], username: process.argv[3] }
          },

          devices: {
            bulb: { driver: 'hue-light', lightId: 2 }
          },

          work: function(my) {
            every((1).second(), function() {
              my.bulb.toggle();
            });
          }
        }).start();
