---
layout: documentation
page_title_show: true
title: "Cylon.JS Example - disco"
page_title: "Example: disco"
author: The Hybrid Group
description: A Cylon.JS code example
page_subtitle: "<a href='https://github.com/hybridgroup/cylon-hue/tree/master/examples/disco' target='_blank'>View In Repo</a>"
active_menu_docs: true
---
.example
  :markdown
        :::javascript
        // To run:
        // $ node examples/disco/disco.js 192.168.1.85 35dacee025cd94cf3f50bb301ad8b4bf

        var Cylon = require('cylon');

        Cylon.robot({
          connections: {
            hue: { adaptor: 'hue', host: process.argv[2], username: process.argv[3] }
          },

          devices: {
            bulb1: { driver: 'hue-light', lightId: 1 },
            bulb2: { driver: 'hue-light', lightId: 2 },
            bulb3: { driver: 'hue-light', lightId: 3 },
            bulb4: { driver: 'hue-light', lightId: 4 },
            bulb5: { driver: 'hue-light', lightId: 5 },
            bulb6: { driver: 'hue-light', lightId: 6 }
          },

          randomNumber: function() {
            return Math.floor(Math.random() * 255);
          },

          work: function(my) {
            every((1).second(), function() {
              for (var d in my.devices) {
                my.devices[d].rgb(my.randomNumber(), my.randomNumber(), my.randomNumber());
              }
            });
          }
        }).start();

