%section.how-to
  :markdown
    ## How to Install

    Install the module with:

        $ npm install cylon cylon-audio

    ### Prerequisites for OSX

        $ brew install mpg123

    ### Prerequisites for Ubuntu

        $ sudo apt-get install mpg123

    ### Prerequisites for Windows

    Download and install the latest release for Windows from [http://www.mpg123.de/download/win32/?V=1&O=D](http://www.mpg123.de/download/win32/?V=1&O=D)

    ### Special instructions for Intel Edison

    You need to install the various dependencies before you can install cylon-audio on your Intel Edison. First, make sure you have updated to the very latest Edison firmware.

    Then, add these lines to your `/etc/opkg/base-feeds.conf` file:

        src/gz all http://repo.opkg.net/edison/repo/all
        src/gz edison http://repo.opkg.net/edison/repo/edison
        src/gz core2-32 http://repo.opkg.net/edison/repo/core2-32

    And then run:

        opkg update
        opkg install mpg123

    ## How to Use

    Using the cylon-audio module is pretty easy, pretty much just install the npm module and you are good to go, use it as you would any other device passing along the audio you wish to reproduce. To play audio, pass a full or relative path to the `play` function.  See the example below for further details.

        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connections: {
            audio: { adaptor: 'audio' }
          },

          devices: {
            audio: { driver: 'audio' }
          },

          work: function(my) {
            my.audio.on("complete", function(){
              console.log("Done playing this nice sound.");
            });

            // You can pass a string with a full or relative path here,
            my.audio.play('./audio_samples/audio-sample.mp3');
          }
        }).start();
