%section.how-to
  :markdown
    ## How to Install
    Installing Cylon.js with Joystick support is pretty easy.

        $ npm install cylon-joystick

    ### Note

    - OS X does not provide native support for Xbox 360 controllers. As such, a [third-party driver is required](https://github.com/d235j/360Controller/releases).
    - If you're using a PS3 controller and want to communicate with it over USB, plug it in and then press the PlayStation button to make sure it's connected.

    ## How to Use

        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connections: {
            joystick: { adaptor: 'joystick' }
          },

          devices: {
            controller: { driver: 'dualshock-3' }
          },

          work: function(my) {
            ["square", "circle", "x", "triangle"].forEach(function(button) {
              my.controller.on(button + ":press", function() {
                console.log("Button " + button + " pressed.");
              });

              my.controller.on(button + ":release", function() {
                console.log("Button " + button + " released.");
              });
            });

            my.controller.on("left_x:move", function(pos) {
              console.log("Left Stick - X:", pos);
            });

            my.controller.on("right_x:move", function(pos) {
              console.log("Right Stick - X:", pos);
            });

            my.controller.on("left_y:move", function(pos) {
              console.log("Left Stick - Y:", pos);
            });

            my.controller.on("right_y:move", function(pos) {
              console.log("Right Stick - Y:", pos);
            });
          }
        });

        Cylon.start();

    ## How to Connect

    Plug your USB joystick or game controller into your USB port. If your device is supported by SDL, you are now ready.
