%section.how-to
  :markdown
    ## How to Install

    Install the module with:

        $ npm install cylon cylon-spark

    You'll need your `access_token` and `device_id` to push new software to your Particle, and you can get both of these from Particle's [Build tool](https://build.particle.io/build/).

    - **access_token:** In the Build tool, click on the Settings cog in the
      bottom-left corner to find your access token.
    - **device_id:** After you have your Particle Core or Photon registered to your account
      through the Tinker app, click on the Cores section (just above the Settings
      cog) on the Build tool. Then, click on the arrow next to your core's name to
      get its device ID.

    ### Installing Firmware On Your Particle Core or Photon

    You will need to install the appropriate firmware on your Particle Core or Photon to use it from Cylon.js.

    One option is to use the Tinker software, which has the same API as the "default.cpp" code that is included with the Gort CLI (http://gort.io). This routes all of your calls thru the Particle cloud, with is appropriate for communicating with Particle devices in a remote location.

    Another option is to use the VoodooSpark firmware, which has its own binary API. This discovers your device thru the Particle cloud, and then routes all of your calls directly to the Particle Core or Photon device. This is appropriate for communicating with Particle devices on the same local subnet as the computer that you wish to control them from.

    For more information on how to program your Particle, please see [Particle's examples](https://docs.particle.io/guide/getting-started/examples/photon/).

    For more information about VoodooSpark, click [here](http://voodoospark.me).

    ## How to Use

    ### Particle using Tinker API:
        :::javascript
        var Cylon = require('cylon');

        // Initialize the robot
        Cylon.robot({
          connections: {
            spark: { adaptor: 'spark', accessToken: 'XYZPDQ123', deviceId: '123ABC456' }
          },

          devices: {
            led: { driver: 'led', pin: 'D0'}
          },

          work: function(my) {
            every((1).second(), function() {my.led.toggle()});
          }
        }).start();

    ### Particle using VoodooSpark API:

        :::javascript
        var Cylon = require('cylon');

        // Initialize the robot
        Cylon.robot({
          connections: {
            voodoospark: {
              adaptor: 'voodoospark',
              accessToken: 'XYZPDQ123',
              deviceId: '123ABC456',
              module: 'cylon-spark'
            }
          },

          devices: {
            led: { driver: 'led', pin: 'D0' }
          },

          work: function(my) {
            every((1).second(), function() {my.led.toggle()});
          }
        }).start();

    ## How to Connect

    The setup process for the Particle core and photon is fully explained by [their docs](https://docs.particle.io/guide/getting-started/connect/photon/), and requires only an active internet connection with a WiFi access point.

    Once your Particle is connected, you can get the `accessToken` and `deviceId` necessary to communicate with it from Cylon.
