---
layout: documentation
page_title_show: true
title: 'Cylon.JS Example - blink'
page_title: 'Example: blink'
author: The Hybrid Group
description: A Cylon.JS code example
page_subtitle: "<a href='https://github.com/hybridgroup/cylon-intel-iot/tree/master/examples/blink' target='_blank'>View In Repo</a>"
active_menu_docs: true
---
.example
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon
          .robot()
          .connection('edison', { adaptor: 'intel-iot' })
          .device('led', { driver: 'led', pin: 13 })

          .on('ready', function(bot) {
            setInterval(function() {
              bot.led.toggle();
            }, 1000);
          });

        Cylon.start();
