---
layout: documentation
page_title_show: true
title: "Cylon.JS Fluent Example - led_brightness"
page_title: "Example: led_brightness"
author: The Hybrid Group
description: A Cylon.JS fluentcode example
page_subtitle: "<a href='https://github.com/hybridgroup/cylon-intel-iot/tree/master/examples/led_brightness' target='_blank'>View In Repo</a>"
active_menu_docs: true
---
.example
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon
          .robot()
          .connection('edison', { adaptor: 'intel-iot' })
          .device('led', { driver: 'led', pin: 3 })
          .on('ready', function(bot) {
            var brightness = 0,
            fade = 5;

            setInterval(function() {
              brightness += fade;
              bot.led.brightness(brightness);
              if ((brightness === 0) || (brightness === 255)) { fade = -fade; }
            }, 50);
          });

        Cylon.start();

