---
layout: documentation
page_title_show: true
title: "Cylon.JS Example - accelerometer"
page_title: "Example: accelerometer"
author: The Hybrid Group
description: A Cylon.JS code example
page_subtitle: "<a href='https://github.com/hybridgroup/cylon-pebble/tree/master/examples/accelerometer' target='_blank'>View In Repo</a>"
active_menu_docs: true
---
.example
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon.api({
          host: '0.0.0.0',
          port: '8080',
          ssl:  false
        });

        Cylon
          .robot({ name: 'pebble' })
          .connection('pebble', { adaptor: 'pebble' })
          .device('pebble', { driver: 'pebble' })

          .on('ready', function(bot) {
            bot.pebble.on('accel', function(data) {
              console.log(data);
            });
          });

        Cylon.start();
