---
layout: documentation
page_title_show: true
title: 'Cylon.JS Example - lsm9ds0xm'
page_title: 'Example: lsm9ds0xm'
author: The Hybrid Group
description: A Cylon.JS code example
page_subtitle: "<a href='https://github.com/hybridgroup/cylon-i2c/tree/master/examples/lsm9ds0xm' target='_blank'>View In Repo</a>"
active_menu_docs: true
---
.example
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connections: {
            arduino: { adaptor: 'firmata', port: '/dev/tty.usbmodem1421' }
          },

          devices: {
            accel: { driver: 'lsm9ds0xm' }
          },

          work: function(my) {
            every((1).second(), function() {
              my.accel.getAccel(function(err, data) {
                console.log(data);
              });
            });
          }
        }).start();
