---
layout: documentation
page_title_show: true
title: "Cylon.JS Example - lsm9ds0g"
page_title: "Example: lsm9ds0g"
author: The Hybrid Group
description: A Cylon.JS code example
page_subtitle: "<a href='https://github.com/hybridgroup/cylon-i2c/tree/master/examples/lsm9ds0g' target='_blank'>View In Repo</a>"
active_menu_docs: true
---
.example
  :markdown
        :::javascript
        "use strict";

        var Cylon = require("cylon");

        Cylon.robot({
          connections: {
            arduino: { adaptor: "firmata", port: "/dev/tty.usbmodem1421" }
          },

          devices: {
            gyro: { driver: "lsm9ds0g" }
          },

          work: function(my) {
            every((1).second(), function() {
              my.gyro.getGyro(function(err, data) {
                console.log(data);
              });
            });
          }
        }).start();
