---
layout: documentation
page_title_show: true
title: 'Cylon.JS Example - mpl115a2'
page_title: 'Example: mpl115a2'
author: The Hybrid Group
description: A Cylon.JS code example
page_subtitle: "<a href='https://github.com/hybridgroup/cylon-i2c/tree/master/examples/mpl115a2' target='_blank'>View In Repo</a>"
active_menu_docs: true
---
.example
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connections: {
            arduino: { adaptor: 'firmata', port: '/dev/ttyACM0' }
          },

          devices: {
            mpl115a2: { driver: 'mpl115a2' }
          },

          work: function(my) {
            every((1).seconds(), function() {
              my.mpl115a2.getPressure(function(err, data) {
                console.log(err, data);
              });
            });
          }
        }).start();
