---
layout: documentation
page_title_show: true
title: "Cylon.JS Example - rapiro_servo"
page_title: "Example: rapiro_servo"
author: The Hybrid Group
description: A Cylon.JS code example
page_subtitle: "<a href='https://github.com/hybridgroup/cylon-rapiro/tree/master/examples/rapiro_servo' target='_blank'>View In Repo</a>"
active_menu_docs: true
---
.example
  :markdown
        :::javascript
        "use strict";

        var Cylon = require("cylon");

        Cylon
          .robot()
          .connection("rapiro", { adaptor: "rapiro", port: "/dev/ttyUSB0" })
          .device("rapiro", { driver: "rapiro" })
          .on("ready", function(bot) {
            setTimeout(function() {
              bot.rapiro.setServo(7, 50);
            }, 3000);

            setTimeout(function() {
              bot.rapiro.setServo(7, 90);
            }, 6000);

            setTimeout(function() {
              bot.rapiro.setServo(7, 50);
            }, 9000);

            setTimeout(function() {
              bot.rapiro.setServo(4, 50);
            }, 12000);

            setTimeout(function() {
              bot.rapiro.setServo(4, 90);
            }, 15000);

            setTimeout(function() {
              bot.rapiro.setServo(4, 50);
            }, 18000);
          });

        Cylon.start();
