---
layout: documentation
page_title_show: true
title: 'Cylon.JS Example - rapiro_walk'
page_title: 'Example: rapiro_walk'
author: The Hybrid Group
description: A Cylon.JS code example
page_subtitle: "<a href='https://github.com/hybridgroup/cylon-rapiro/tree/master/examples/rapiro_walk' target='_blank'>View In Repo</a>"
active_menu_docs: true
---
.example
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon
          .robot()
          .connection("rapiro", { adaptor: 'rapiro', port: '/dev/ttyUSB0' })
          .device("rapiro", { driver: 'rapiro' })
          .on('ready', function(bot) {
            var walking = false ;

            var startWalking = function() {
              console.log("forward");
              walking = true ;

              setInterval(function() {
                if (walking === true) {
                  bot.rapiro.forward();
                }
              }, 1000);
            };

            var stopWalking = function() {
              console.log("halt");
              walking = false;

              bot.rapiro.stop();

              setTimeout(function() {
                bot.rapiro.led(255, 0, 0);
              }, 1000);
            };

            startWalking();

            setTimeout(function() {
              stopWalking();
            }, 10000);
          });

        Cylon.start();
