.hardware {
  .devices {
    @include outer-container;
    text-align: center;

    h2 {
      text-align: left;
    }

    .device {
      display: inline-block;
      width: 225px;

      &:hover {
        img {
          opacity: .9;
        }

        background: darken($body-bg-color, 30);
      }

      img {
          width: 100%;
      }
    }
  }
}
