:markdown
  ## setHeadLED

  Sets the Head LEDs of the MiP


  ### Params


  - **light1** (<code>Number</code>)


  - **light2** (<code>Number</code>)


  - **light3** (<code>Number</code>)


  - **light4** (<code>Number</code>)


  - **callback** (<code>Function</code>)


  ### Returns

  - (<code>null</code>)

  * * *

  ## setChestLED

  Sets the Chest LED color of the MiP


  ### Params


  - **r** (<code>Number</code>)


  - **g** (<code>Number</code>)


  - **b** (<code>Number</code>)


  - **callback** (<code>Function</code>)


  ### Returns

  - (<code>null</code>)

  * * *

  ## flashChestLED

  Flashes the chest LED of the MiP


  ### Params


  - **r** (<code>Number</code>)


  - **g** (<code>Number</code>)


  - **b** (<code>Number</code>)


  - **timeOn** (<code>Number</code>)


  - **timeOff** (<code>Number</code>)


  - **callback** (<code>Function</code>)


  ### Returns

  - (<code>null</code>)

  * * *

  ## getUp

  Tells the MiP to get up.


  ### Params


  - **stand** (<code>Number</code>)


  - **callback** (<code>Function</code>)


  ### Returns

  - (<code>null</code>)

  * * *

  ## driveDistance

  Tells the MiP to drive a distance, in a direction


  ### Params


  - **direction** (<code>Number</code>)


  - **distance** (<code>Number</code>)


  - **turnDirection** (<code>Number</code>)


  - **turnAngle** (<code>Number</code>)


  - **callback** (<code>Function</code>)


  ### Returns

  - (<code>null</code>)

  * * *

  ## driveForward

  Tells the MiP to drive forward


  ### Params


  - **speed** (<code>Number</code>)


  - **time** (<code>Number</code>)


  - **callback** (<code>Function</code>)


  ### Returns

  - (<code>null</code>)

  * * *

  ## driveBackward

  Tells the MiP to drive backward


  ### Params


  - **speed** (<code>Number</code>)


  - **time** (<code>Number</code>)


  - **callback** (<code>Function</code>)


  ### Returns

  - (<code>null</code>)

  * * *

  ## turnLeft

  Tells the MiP to turn to the left


  ### Params


  - **angle** (<code>Number</code>)


  - **speed** (<code>Number</code>)


  - **callback** (<code>Function</code>)


  ### Returns

  - (<code>null</code>)

  * * *

  ## turnRight

  Tells the MiP to turn to the right


  ### Params


  - **angle** (<code>Number</code>)


  - **speed** (<code>Number</code>)


  - **callback** (<code>Function</code>)


  ### Returns

  - (<code>null</code>)

  * * *

  ## setGameMode

  Tells the MiP to start the specified game mode


  ### Params


  - **mode** (<code>Number</code>)


  - **callback** (<code>Function</code>)


  ### Returns

  - (<code>null</code>)

  * * *

  ## stop

  Tells the MiP to stop whatever it's doing.


  ### Params


  - **callback** (<code>Function</code>)


  ### Returns

  - (<code>null</code>)
