:markdown
  ## setHeadLED

  Sets the Head LEDs of the MiP


  ### Params


  - **light1** (<code>Number</code>) light one value


  - **light2** (<code>Number</code>) light two value


  - **light3** (<code>Number</code>) light three value


  - **light4** (<code>Number</code>) light four value


  - **callback** (<code>Function</code>) function to call when done


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## setChestLED

  Sets the Chest LED color of the MiP


  ### Params


  - **r** (<code>Number</code>) red value


  - **g** (<code>Number</code>) green value


  - **b** (<code>Number</code>) blue value


  - **callback** (<code>Function</code>) function to call when done


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## flashChestLED

  Flashes the chest LED of the MiP


  ### Params


  - **r** (<code>Number</code>) red value


  - **g** (<code>Number</code>) green value


  - **b** (<code>Number</code>) blue value


  - **timeOn** (<code>Number</code>) time on


  - **timeOff** (<code>Number</code>) time off


  - **callback** (<code>Function</code>) function to call when done


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## getUp

  Tells the MiP to get up.


  ### Params


  - **stand** (<code>Number</code>) MiP should stand


  - **callback** (<code>Function</code>) function to call when done


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## driveDistance

  Tells the MiP to drive a distance, in a direction


  ### Params


  - **direction** (<code>Number</code>) direction to drive


  - **distance** (<code>Number</code>) distance to drive


  - **turnDirection** (<code>Number</code>) direction to turn


  - **turnAngle** (<code>Number</code>) angle to turn


  - **callback** (<code>Function</code>) function to call when done


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## driveForward

  Tells the MiP to drive forward


  ### Params


  - **speed** (<code>Number</code>) speed to move at


  - **time** (<code>Number</code>) how long to move


  - **callback** (<code>Function</code>) function to call when done


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## driveBackward

  Tells the MiP to drive backward


  ### Params


  - **speed** (<code>Number</code>) speed to move at


  - **time** (<code>Number</code>) how long to move


  - **callback** (<code>Function</code>) function to call when done


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## turnLeft

  Tells the MiP to turn to the left


  ### Params


  - **angle** (<code>Number</code>) angle to turn to


  - **speed** (<code>Number</code>) speed to turn at


  - **callback** (<code>Function</code>) function to call when done


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## turnRight

  Tells the MiP to turn to the right


  ### Params


  - **angle** (<code>Number</code>) angle to turn to


  - **speed** (<code>Number</code>) speed to turn at


  - **callback** (<code>Function</code>) function to call when done


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## setGameMode

  Tells the MiP to start the specified game mode


  ### Params


  - **mode** (<code>Number</code>) mode to set to


  - **callback** (<code>Function</code>) function to call when done


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## stop

  Tells the MiP to stop whatever it's doing.


  ### Params


  - **callback** (<code>Function</code>) function to call when done


  ### Returns

  - (<code>undefined</code>)
