:markdown
  ## getBatteryLevel

  Gets the current battery level of the BLE device


  ### Params


  - **callback** (<code>Function</code>) to be triggered when battery data is read


  ### Returns

  - (<code>null</code>)
