:markdown
  ## startScanning

  Tells the BLE adaptor to start scanning for peripherals


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## stopScanning

  Tells the BLE adaptor to stop scanning for peripherals


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## peripherals

  Returns all connected peripherals Central is aware of


  ### Returns

  - (<code>Object</code>) connected peripherals

  * * *

  ## connectPeripheral

  Connects to a specific peripheral


  ### Params


  - **uuid** (<code>String</code>) of the BLE peripheral to connect to


  - **peripheral** (<code>Object</code>) to connect to


  - **callback** (<code>Function</code>) to be triggered when connected


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## readServiceCharacteristic

  Reads a service characteristic from the BLE peripheral.

  Triggers the provided callback when data is retrieved.


  ### Params


  - **serviceId** (<code>Number</code>) ID of service to get details for


  - **characteristicId** (<code>Number</code>) ID of characteristic to get details for


  - **callback** (<code>Function</code>) function to be invoked with value


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## writeServiceCharacteristic

  Writes a service characteristic value to the BLE peripheral.

  Triggers the provided callback when data is written.


  ### Params


  - **serviceId** (<code>Number</code>) ID of service to get details for


  - **characteristicId** (<code>Number</code>) ID of characteristic to get details for


  - **value** (<code>Number</code>) value to write to the characteristic


  - **callback** (<code>Function</code>) function to be invoked when data is written


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## notifyServiceCharacteristic

  Changes a service characteristic's notification state on the BLE peripheral.

  Triggers the provided callback when data is written.


  ### Params


  - **serviceId** (<code>Number</code>) ID of service to get details for


  - **characteristicId** (<code>Number</code>) ID of characteristic to get details for


  - **state** (<code>String</code>) notify state to write


  - **callback** (<code>Function</code>) function to be invoked when data is written


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## getCharacteristic

  Finds a BLE service characteristic

  Triggers the provided callback when the characteristic is found


  ### Params


  - **serviceId** (<code>Number</code>) ID of service to look for


  - **characteristicId** (<code>Number</code>) ID of characteristic to look for


  - **callback** (<code>Function</code>) function to be invoked with requested characteristic


  ### Returns

  - (<code>undefined</code>)
