:markdown
  ## readCharacteristic

  Reads the current value of characteristic of the BLE device


  ### Params


  - **callback** (<code>Function</code>) to be triggered when characteristic data is read


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## notifyCharacteristic

  Gets notifications from the BLE device


  ### Params


  - **callback** (<code>Function</code>) to be triggered when data is retrieved


  ### Returns

  - (<code>undefined</code>)
