:markdown
  ## getModelNumber

  Gets the model number of the BLE device


  ### Params


  - **callback** (<code>Function</code>) to be triggered when data is read


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## getSystemId

  Gets the system ID of the BLE device


  ### Params


  - **callback** (<code>Function</code>) to be triggered when data is read


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## getHardwareRevision

  Gets the hardware revision of the BLE device


  ### Params


  - **callback** (<code>Function</code>) to be triggered when data is read


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## getFirmwareRevision

  Gets the firmware revision of the BLE device


  ### Params


  - **callback** (<code>Function</code>) to be triggered when data is read


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## getManufacturerName

  Gets the manufacturer name of the BLE device


  ### Params


  - **callback** (<code>Function</code>) to be triggered when data is read


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## getPnPId

  Gets the PnP ID of the BLE device


  ### Params


  - **callback** (<code>Function</code>) to be triggered when data is read


  ### Returns

  - (<code>undefined</code>)
