:markdown
  ## getDeviceName

  Gets the name of the BLE device


  ### Params


  - **callback** (<code>Function</code>) to be triggered when data is read


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## getAppearance

  Gets the appearance descriptor of the BLE device


  ### Params


  - **callback** (<code>Function</code>) to be triggered when data is read


  ### Returns

  - (<code>undefined</code>)
