---
page_title_show: true
title: "Intel Galileo Board Support!"
page_title: Blog
date: 2014-07-11
tags: robots SBC
author: Edgar Silva
active_menu_blog: true
---

:markdown
  We are happy to announce support for the
  [Intel Galileo Board](http://www.intel.com/content/www/us/en/intelligent-systems/galileo/galileo-overview.html)
  an Arduino compatible microcontroller/SBC (Single Board Computer).

  The Galileo board has the advantage of running on a Intel® Quark SoC X1000
  application processor, a 32-bit Intel® Pentium® brand system on a chip (SoC), and
  beaing able to run a bigger Linux image that lets you access the full Linux distro.

  Cylon support is based on the bigger Linux image being installed on the Galileo,
  which lets you use the Galileo as an independent SBC device.

  For the first release we have support for GPIO, digital I/O and analog I/O; and we are
  already working on the next release that will add I2C support, increasing the amount
  of compatible devices supported by the Galileo.

  You can check all the details and docs regarding Galileo support on
  [Cylon.JS: Galileo Board](http://cylonjs.com/documentation/platforms/galileo/).

  Cylon.js makes developing for the Galileo easy and fun! Cylon.JS supports
  more than 20 different hardware platforms, give us a shout on twitter [@CylonJS](https://twitter.com/CylonJS)
  and make sure to check the docs for more info on [supported platforms](http://cylonjs.com/documentation/platforms/)
  in [Cylon.JS](http://cylonjs.com).
