---
page_title_show: true
title: "Cylon.js 1.0.0 is here!"
page_title: Blog
date: 2015-04-08
tags: robots
author: Andrew Stewart and Ron Evans
active_menu_blog: true
---
:markdown
  It's been a long time coming, but version 1.0.0 of Cylon.js is finally here!

  We're thrilled to share this with all of you.

  Here is our press release about it: [cylonjs.com/news/cylon-1.0-release](cylonjs.com/news/cylon-1.0-release)

  This release signifies we think the primary user-facing APIs in Cylon are stable, and we don't anticipate any more breaking changes in the near future.

  As always, you can check out the [compare view][] on GitHub.

  ## Contributors

  We'd really like to extend a massive thanks to all the contributors who've helped get Cylon.js to this point.
  We couldn't have done this without you.

  - Adrian Zankich
  - Andrew Nesbitt
  - Andrew Stewart
  - Avner Cohen
  - Caleb Oller
  - Chris Boette
  - Chris Matthieu
  - Daniel Fischer
  - Daniel Lamb
  - Daniel Portales
  - Edgar Silva
  - Evoliofly
  - Felix
  - Fábio Franco Uechi
  - Guido García
  - James Brown
  - Janaka Abeywardhana
  - Jarrod Ribble
  - Jasson Cascante
  - Jasson Qasqant
  - Javier Cervantes
  - Jay Wengrow
  - Jérôme Loï
  - Julian Cheal
  - Justin Smith
  - Kraig Walker
  - Loren West
  - Luis Felipe Perez
  - Mario Ricalde
  - Matheus Mariano
  - Michael Harris
  - Mike Skalnik
  - Nathan Zankich
  - Rafael Magana
  - Reid Carlberg
  - Ron Evans
  - Sonic Radish
  - Theron Boerner
  - Tomasz Szymanski
  - Wojtek Erbetowski
  - Xixe Bombilla
  - chrisfp
  - gorhgorh
  - peterainbow

  ## Thanks Again

  We can't overstate how thankful we are to our users and contributors.

  For more updates, be sure to follow us on Twitter at [@CylonJS][].

  [compare view]: https://github.com/hybridgroup/cylon/compare/v0.22.1...v1.0.0
  [@CylonJS]: https://twitter.com/CylonJS
