---
page_title_show: true
title: "Cylon.js Off And Running In 2016"
page_title: Blog
date: 2016-01-19
tags: robots
author: Ron Evans
active_menu_blog: true
---
:markdown
  The new year is here, and we're off and running with our first Cylon.js releases of 2016.

  There have been lots of exciting new developments in the hardware world, and our awesome contributors and team have been busy making things work for all of you.

  Here's the list of this first collection of platform releases of the year.

  ### Platform Updates

  #### *cylon-ble* Support For Noble 1.3

  We've added support in [cylon-ble][] for the new 1.3.0 version of [Noble][]. We've also greatly improved our integration and Noble connection sharing. This means you can more easily connect your Cylon.js programs to Bluetooth LE devices than ever before. Expect lots of cool integrations coming soon.

  #### *cylon-ollie* is now *cylon-sphero-ble*

  We've renamed the *cylon-ollie* module to [cylon-sphero-ble][], and we've also added support for a certain very popular [little cinematic robot][]. Thank you to our awesome friends at Sphero, and their support of the [Sphero.js][] library.

  #### *cylon-audio* now using MPG123

  We've released a new version of [cylon-audio][] that uses the [MPG123][] library. This means a lot less dependencies, not to mention support for playing multiple sounds at the same time. We've even added a handy `loop()` function. Check it out at [https://github.com/hybridgroup/cylon-audio](https://github.com/hybridgroup/cylon-audio)

  #### *cylon-joystick* bugfixes

  We fixed some bugs in [cylon-joystick][], and now the Dualshock 4 is fully working, including all the triggers. Fire at will, commander!

  #### *cylon-mqtt* updates

  We've updated [cylon-mqtt][] to the latest version of [mqtt.js][], as well as adding some additional configuration options to more easily integrate with older MQTT servers.

  #### *cylon-intel-iot* bugfixes

  We're released a new update to [cylon-intel-iot][] that adds improved error handling for missing or disconnected i2c devices. Thank you [@derrell][] for your contribution that fixes this!

  #### *cylon-gpio* improved RGB LED support

  Thanks to contributor [@bencevans][], the RGB LED support in [cylon-gpio][] can more easily handle different types of RGB LEDs.

  ### Thanks To Our Users and Contributors

  Thank you very much to our users and contributors for their hard work making Cylon.js the best it can be.
  You could be the next of us, we cordially invite you to please jump right in! We appreciate every contribution.

  For the latest news, be sure to follow us on Twitter at [@CylonJS][].

  [@CylonJS]: https://twitter.com/CylonJS
  [Noble]: https://github.com/sandeepmistry/noble
  [mqtt.js]: https://github.com/mqttjs/MQTT.js
  [cylon-ble]: https://github.com/hybridgroup/cylon-ble
  [cylon-sphero-ble]: https://github.com/hybridgroup/cylon-sphero-ble
  [Sphero.js]: https://github.com/orbotix/sphero.js
  [cylon-audio]: https://github.com/hybridgroup/cylon-audio
  [MPG123]: http://mpg123.org/
  [cylon-joystick]: https://github.com/hybridgroup/cylon-joystick
  [cylon-mqtt]: https://github.com/hybridgroup/cylon-mqtt
  [cylon-gpio]: https://github.com/hybridgroup/cylon-gpio
  [little cinematic robot]: http://sphero.com/bb8
  [@derrell]: https://github.com/derrell
  [cylon-intel-iot]: https://github.com/hybridgroup/cylon-intel-iot
  [@bencevans]: https://github.com/bencevans
