.blog-footer
  %h2 Contact Us
  %ul
    %li
    Get involved with Cylon.js projects, ask questions, or stay up to date with the latest Cylon.js news on our
    = link_to "mailing list!", "https://groups.google.com/forum/#!forum/cylonjs", target: :blank
    %li Need to some help? Talk to us on IRC: #cylon @ freenode.net
    %li
    If you need help or you feel we can improve something, let us know! Open a
    = link_to "new issue.", "https://github.com/hybridgroup/cylon/issues/new", target: :blank
    %li
    To subscribe to announcements of releases and important changes, please follow
    = link_to "@CylonJS", "https://twitter.com/CylonJS", target: :blank
