---
page_title_show: true
title: Cylon Contribute
author: The Hybrid Group
page_title: Contribute
page_subtitle: "Anyone can contribute to Cylon."
layout: documentation
active_menu_docs: true
---
-content_for :js_accordion do
  :javascript
    $("#contribute-panel").addClass("active-panel");
    $("#contribute-panel li:nth-child(2)").addClass("active-link");

:markdown
  # Contact Us

  To subscribe for new release announcements, important changes, or just what we're up to, you can follow us on Twitter - [@CylonJS](https://twitter.com/cylonjs).

  ### Open a New Issue

  If you need help, feel we can improve something, or have a feature suggestion, let us know!
  Open a [new issue](https://github.com/hybridgroup/cylon/issues/new)
