---
page_title_show: true
title: Cylon Contribute
author: The Hybrid Group
page_title: Contribute - Guidelines
page_subtitle: "Anyone can contribute to Cylon."
layout: documentation
active_menu_docs: true
---
:markdown
  # Contribution Guidelines:

  - All patches must be provided under the Apache 2.0 License.
  - Please use the `-s` option in git to "sign off" that the commit is your work, and you're providing it under the Apache 2.0 License.
  - Submit a GitHub PR to the appropriate branch (usually `dev`).
    Ideally, discuss the changes with us in IRC beforehand.
  - We'll look at the patch, test it out, and give you feedback.
  - Please take care to maintain the existing coding style.
  - If you are adding code, or changing existing functionality, please add unit tests, and test your code (`make test`).
  - All PRs should be "fast forward"
  - If there are commits after yours, use `git rebase -i` to rebase against the branch.

  If you have any questions on Git usage, check out [git-scm.com](http://git-scm.com).
