:markdown
  ## read

  Reads data from the Muse serialport.

  Triggers the callback with any new data


  ### Params


  - **callback** (<code>Function</code>) to be triggered when new data is available


  ### Returns

  - (<code>null</code>)

  * * *

  ## write

  Write data to the Muse serialport.



  ### Params


  - **callback** (<code>Function</code>) to be triggered when new data is available


  ### Returns

  - (<code>null</code>)
