---
page_title_show: true
title: Cylon.js Resources
page_title: Resources
page_subtitle: Cylon.js around the world.
layout: page
active_menu_resources: true
---

%section.resources
  %h1 Our Videos
  %p During the past few months we've been traveling around the world to many different conferences to talk about Cylon.js, here we have just some of those videos!

  .video
    %h2 JSConf 2014
    %h3 Cylon.js: The Time for Open Source Robotics is Now
    %iframe{:src => "//www.youtube.com/embed/bnFWskconEg", :frameborder => "0", :allowfullscreen => "true"}
  .video
    %h2 Scotland JS 2014
    %h3 Cylon.js: The JavaScript Evolution Of Open Source Robotics
    %iframe{:src => "//player.vimeo.com/video/96477741?title=0&amp;byline=0&amp;portrait=0", :frameborder => "0", :allowfullscreen => "true"}
  .video
    %h2 MakerFaire 2014
    %h3 Cylon.js: The JavaScript Evolution Of Open Source Robotics
    %iframe{:src => "//www.youtube.com/embed/AJ1VH4AqqWc?rel=0", :frameborder => "0", :allowfullscreen => "true"}
  .clear 
%section.resources
  %h1 Friends of the Cylon's Videos
  %p Here are some videos of what others have been able to do with Cylon.js.
  .video
    %h2 Node.js + Cylon.js + LeapMotion
    %h3 Using Cylon.js to Control a Robotic Hand
    %iframe{:src => "//www.youtube.com/embed/wJK6FxAowg4", :frameborder => "0", :allowfullscreen => "true"}
  .video
    %h2 NodeRocket 
    %h3 NodeRocket First Parachute Deployment Success
    %iframe{:src => "//www.youtube.com/embed/uvkBWn1Pl2g", :frameborder => "0", :allowfullscreen => "true"}
  .clear

%section.resources
  %h1 Friends of the Cylon's Links
  %p  Listed below are some examples of blogs and magazines which have featured and explored Cylon.js.
  %h4
    = link_to "Building robots and rockets with Javascript - <span>Make Magazine</span>", "http://makezine.com/2014/05/31/building-robots-and-rockets-with-javascript/", target:"_blank"
  %h4
    = link_to "Primera aplicación web en RaspberryPi con NodeJS + CylonJS - <span>Carlos Azaustre</span>", "http://carlosazaustre.es/blog/primera-aplicacion-web-en-raspberrypi-con-nodejs-cylonjs-controlando-leds-desde-el-movil/", target:"_blank"
  %h4
    = link_to "Control Your Quadcopter Drone Fleet with Salesforce1 - <span>Reid Carlberg</span>", "http://reidcarlberg.com/2014/03/19/control-your-quadcopter-drone-fleet-with-salesforce1/", target:"_blank"

  