---
page_title_show: true
title: Cylon.js Resources
page_title: Resources
page_subtitle: Cylon.js around the world.
layout: resources
resources: true
active_menu_resources: true
---

%section.resources
  %h1 Our Videos
  %p During the past few months we've been traveling around the world to many different conferences to talk about Cylon.js, here we have just some of those videos!

  %h4 Dancing with Robots by Julian Cheal at JSConf Budapest 2015
    %h3.video-description  In this talk we show how you can write code to make robots dance!
    %iframe{:src => "//www.youtube.com/embed/zsJnsRGh8dE", :frameborder => "0", :allowfullscreen => "true"}
  .video
    %h4 JSConf 2014
    %h3.video-description Cylon.js: The Time for Open Source Robotics is Now
    %iframe{:src => "//www.youtube.com/embed/bnFWskconEg", :frameborder => "0", :allowfullscreen => "true"}
  .video
    %h4 Scotland JS 2014
    %h3.video-description Cylon.js: The JavaScript Evolution Of Open Source Robotics
    %iframe{:src => "//player.vimeo.com/video/96477741?title=0&amp;byline=0&amp;portrait=0", :frameborder => "0", :allowfullscreen => "true"}
  .video
    %h4 MakerFaire 2014
    %h3.video-description Cylon.js: The JavaScript Evolution Of Open Source Robotics
    %iframe{:src => "//www.youtube.com/embed/AJ1VH4AqqWc?rel=0", :frameborder => "0", :allowfullscreen => "true"}
  .clear
%section.resources
  %h1 Friends of Cylon.js's Videos
  %p Here are some videos of what others have been able to do with Cylon.js.

  .video
    %h4 Leap Motion + CylonJS + Servos
    %h3.video-description Controlling four servos, one pair for each hand, using the Leap Motion controller via Cylon.js.
    %iframe{:src => "//www.youtube.com/embed/QzwHKjqryM0", :frameborder => "0", :allowfullscreen => "true"}
  .video
    %h4 Moving a Connected Ball Like a Jedi
    %h3.video-description Moving a connected ball like a Jedi, using Cylon.js and Leap Motion
    %iframe{:src => "//www.youtube.com/embed/IhUGneW0hTw", :frameborder => "0", :allowfullscreen => "true"}
  .video
    %h4 Flying drone using Leap Motion and Cylon.js
    %h3.video-description Flying drone using Leap Motion and Cylon.js
    %iframe{:src => "//www.youtube.com/embed/Bhob2z8gpe4", :frameborder => "0", :allowfullscreen => "true"}
  .video
    %h4 ARDrone controlled with the Leap Motion.
    %h3.video-description Ethical Hacking et démonstration de vol avec Leap Motion AR Drone 2.0
    %iframe{:src => "//www.youtube.com/embed/x92gi_xLxyE", :frameborder => "0", :allowfullscreen => "true"}
  .video
    %h4 Node.js + Cylon.js + LeapMotion
    %h3.video-description Using Cylon.js to Control a Robotic Hand
    %iframe{:src => "//www.youtube.com/embed/wJK6FxAowg4", :frameborder => "0", :allowfullscreen => "true"}
  .video
    %h4 NodeRocket
    %h3.video-description NodeRocket First Parachute Deployment Success
    %iframe{:src => "//www.youtube.com/embed/uvkBWn1Pl2g", :frameborder => "0", :allowfullscreen => "true"}
  .video
    %h4 Light controlled servo with Intel Edison & Cylon.js
    %h3.video-description Using an Intel Edison with Arduino breakout to read an LDR and control a servo.
    %iframe{:src => "//www.youtube.com/embed/hjRpLsVx-co", :frameborder => "0", :allowfullscreen => "true"}
  .video
    %h4 Treehacks 2015: Turing Machine Simulator
    %h3.video-description An LCD connected to an Intel Edison displays a simulation of a Turing Machine.
    %iframe{:src => "//www.youtube.com/embed/aizo5qWE_KU", :frameborder => "0", :allowfullscreen => "true"}
  .clear
