---
page_title_show: true
title: Cylon.js Resources
page_title: Resources
page_subtitle: Cylon.js around the world.
layout: resources
resources: true
active_menu_resources: true
---

%section.resources
  %h1 Our Videos
  %p During the past few months we've been traveling around the world to many different conferences to talk about Cylon.js, here we have just some of those videos!

  .video
    %h2 JSConf 2014
    %h3.video-description Cylon.js: The Time for Open Source Robotics is Now
    %iframe{:src => "//www.youtube.com/embed/bnFWskconEg", :frameborder => "0", :allowfullscreen => "true"}
  .video
    %h2 Scotland JS 2014
    %h3.video-description Cylon.js: The JavaScript Evolution Of Open Source Robotics
    %iframe{:src => "//player.vimeo.com/video/96477741?title=0&amp;byline=0&amp;portrait=0", :frameborder => "0", :allowfullscreen => "true"}
  .video
    %h2 MakerFaire 2014
    %h3.video-description Cylon.js: The JavaScript Evolution Of Open Source Robotics
    %iframe{:src => "//www.youtube.com/embed/AJ1VH4AqqWc?rel=0", :frameborder => "0", :allowfullscreen => "true"}
  .clear
%section.resources
  %h1 Friends of Cylon.js's Videos
  %p Here are some videos of what others have been able to do with Cylon.js.
  .video
    %h2 Node.js + Cylon.js + LeapMotion
    %h3.video-description Using Cylon.js to Control a Robotic Hand
    %iframe{:src => "//www.youtube.com/embed/wJK6FxAowg4", :frameborder => "0", :allowfullscreen => "true"}
  .video
    %h2 NodeRocket
    %h3.video-description NodeRocket First Parachute Deployment Success
    %iframe{:src => "//www.youtube.com/embed/uvkBWn1Pl2g", :frameborder => "0", :allowfullscreen => "true"}
  .video
    %h2 Light controlled servo with Intel Edison & Cylon.js
    %h3.video-description Using an Intel Edison with Arduino breakout to read an LDR and control a servo.
    %iframe{:src => "//www.youtube.com/embed/hjRpLsVx-co", :frameborder => "0", :allowfullscreen => "true"}
  .video
    %h2 Treehacks 2015: Turing Machine Simulator
    %h3.video-description An LCD connected to an Intel Edison displays a simulation of a Turing Machine.
    %iframe{:src => "//www.youtube.com/embed/aizo5qWE_KU", :frameborder => "0", :allowfullscreen => "true"}
  .clear
