:markdown
  ## subscribe

  Subscribes to messages on the given topic


  ### Params


  - **topic** (<code>String</code>,<code>Array</code>|<code>Object</code>) which topic(s) to subscribe to


  - **options** (<code>Object</code>) options for the MQTT subscription


  - **[callback]** (<code>Function</code>) triggered on suback with (err, granted)


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## publish

  Publishes data to a topic


  ### Params


  - **topic** (<code>String</code>) which topic to publish to


  - **data** (<code>Object</code>,<code>String</code>) the data to publish to the topic


  - **[opts]** (<code>Object</code>) - publish options, includes:    {Number} qos - qos level to publish on
   {Boolean} retain - whether or not to retain the message


  ### Returns

  - (<code>undefined</code>)
