:markdown
  ## subscribe

  Subscribes to messages on the given topic


  ### Params


  - **topic** (<code>String</code>) which topic to subscribe to


  ### Returns

  - (<code>null</code>)

  * * *

  ## publish

  Publishes data to a topic


  ### Params


  - **topic** (<code>String</code>) which topic to publish to


  - **data** (<code>Object</code>|<code>String</code>) the data to publish to the topic


  ### Returns

  - (<code>null</code>)
