:markdown
  ## publish

  Publishes a new message on the Driver's topic


  ### Params


  - **data** (<code>Object</code>,<code>String</code>) the data to publish to the topic


  - **[opts]** (<code>Object</code>) - publish options, includes:    {Number} qos - qos level to publish on
   {Boolean} retain - whether or not to retain the message


  ### Returns

  - (<code>undefined</code>)
