:markdown
  ## getData

  Gets data from the WICED Sense device.

  This includes the following sensor data:

  - temperature
  - pressure
  - magnetometer
  - humidity
  - gyroscope
  - accelerometer


  ### Params


  - **callback** (<code>Function</code>) to be triggered when data is retrieved


  ### Returns

  - (<code>undefined</code>)
