:markdown
  ## getData

  Gets data from the WICED Sense device


  ### Params


  - **callback** (<code>Function</code>) to be triggered when data is retrieved


  ### Returns

  - (<code>null</code>)
