---
layout: documentation
page_title_show: true
title: "Cylon.JS Example - list-copters"
page_title: "Example: list-copters"
author: The Hybrid Group
description: A Cylon.JS code example
page_subtitle: "<a href='https://github.com/hybridgroup/cylon-crazyflie/tree/master/examples/list-copters' target='_blank'>View In Repo</a>"
active_menu_docs: true
---
.example
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connections: {
            crazyflie: { adaptor: 'crazyflie', port: 'radio://1/20/1MPS' }
          },

          devices: {
            drone: { driver: 'crazyflie'}
          },

          work: function(my) {
            my.crazyflie.findCopters(console.log);
          }
        }).start();

