---
layout: documentation
page_title_show: true
title: "Cylon.JS Example - blink_led"
page_title: "Example: blink_led"
author: The Hybrid Group
description: A Cylon.JS code example
page_subtitle: "<a href='https://github.com/hybridgroup/cylon-pinoccio/tree/master/examples/blink_led' target='_blank'>View In Repo</a>"
active_menu_docs: true
---
.example
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connections: {
            pinoccio: {
              adaptor: 'pinoccio',
              token: 'SECRET_TOKEN',
              troop: '1',
              scout: '1'
            }
          },

          devices: {
            led: { driver: 'pinoccio-led' }
          },

          work: function(my) {
            var on = false;

            my.led.blink(127, 127, 127);

            every((1).second(), function() {
              if (on) {
                my.led.turnOff();
                on = false;
              } else {
                my.led.turnOn();
                on = true;
              }
            });
          }
        }).start();
