:markdown
  ## analogRead

  Emitted when the Beaglebone has new analogRead data


  ### Values

  - **val** the value from the pin



  * * *

  ## digitalRead

  Emitted when the Beaglebone has new digitalRead data


  ### Values

  - **val** the value from the pin



  * * *

  ## digitalWrite

  Emitted when the Beaglebone has written a value to a digital pin


