:markdown
  ## subscribe

  Subscribes to messages on a topic through M2X


  ### Params


  - **topic** (<code>String</code>) topic name to subscribe to


  - **callback** (<code>Function</code>) function to be triggered with new data on the topic


  ### Returns

  - (<code>null</code>)

  * * *

  ## push

  Publishes a new message to a topic through M2X


  ### Params


  - **id** (<code>String</code>) topic name to publish to


  - **data** (<code>Object</code>)


  ### Returns

  - (<code>null</code>)
