:markdown
  ## catalog

  Retrieves a list of public devices


  ### Params


  - **params** (<code>String</code>) list of params to filter the list of devices


  - **callback** (<a href="standardCallback.html">standardCallback</a>) - Triggers with (err, data)


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## list

  Retrieves a list of private devices


  ### Params


  - **params** (<code>String</code>) list of params to filter the list of devices


  - **callback** (<a href="standardCallback.html">standardCallback</a>) - Triggers with (err, data)


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## groups

  Retrieves an array of groups  to which the devices belong to


  ### Params


  - **params** (<code>String</code>) list of params to filter for


  - **callback** (<a href="standardCallback.html">standardCallback</a>) - Triggers with (err, data)


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## create

  Creates a new Device


  ### Params


  - **params** (<code>Object</code>) list of device attrs


  - **callback** (<a href="standardCallback.html">standardCallback</a>) - Triggers with (err, data)


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## update

  Updates a Device


  ### Params


  - **id** (<code>String</code>) of the device to update


  - **params** (<code>Object</code>) list of device attrs


  - **callback** (<a href="standardCallback.html">standardCallback</a>) - Triggers with (err, data)


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## view

  Returns an object with device details for the specified id


  ### Params


  - **id** (<code>String</code>) of the device


  - **callback** (<a href="standardCallback.html">standardCallback</a>) - Triggers with (err, data)


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## location

  Returns the location of a device


  ### Params


  - **id** (<code>String</code>) of the device


  - **callback** (<a href="standardCallback.html">standardCallback</a>) - Triggers with (err, data)


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## updateLocation

  Updates the location of a device


  ### Params


  - **id** (<code>String</code>) of the device


  - **params** (<code>Object</code>) to be updated


  - **callback** (<a href="standardCallback.html">standardCallback</a>) - Triggers with (err, data)


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## streams

  Retrieve a list of streams for the device


  ### Params


  - **id** (<code>String</code>) of the device


  - **callback** (<a href="standardCallback.html">standardCallback</a>) - Triggers with (err, data)


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## updateStream

  Updates(or creates) stream with the params passed


  ### Params


  - **id** (<code>String</code>) of the device


  - **name** (<code>String</code>) of the stream to be updated


  - **params** (<code>Object</code>) to be updated


  - **callback** (<a href="standardCallback.html">standardCallback</a>) - Triggers with (err, data)


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## setStreamValue

  Creates a new stream value


  ### Params


  - **id** (<code>String</code>) of the device


  - **name** (<code>String</code>) of the stream to be updated


  - **params** (<code>Object</code>) { value: myValue[, timestamp: ISOTimestamp ]}


  - **callback** (<a href="standardCallback.html">standardCallback</a>) - Triggers with (err, data)


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## stream

  Retrieve stream details


  ### Params


  - **id** (<code>String</code>) of the device


  - **name** (<code>String</code>) of the stream to be updated


  - **callback** (<a href="standardCallback.html">standardCallback</a>) - Triggers with (err, data)


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## streamValues

  Retrieve stream values


  ### Params


  - **id** (<code>String</code>) of the device


  - **name** (<code>String</code>) of the stream to be updated


  - **filters** (<code>Object</code>) for the values


  - **callback** (<a href="standardCallback.html">standardCallback</a>) - Triggers with (err, data)


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## sampleStreamValues

  Retrieve a sample of stream values


  ### Params


  - **id** (<code>String</code>) of the device


  - **name** (<code>String</code>) of the stream to be updated


  - **filters** (<code>Object</code>) for the values


  - **callback** (<a href="standardCallback.html">standardCallback</a>) - Triggers with (err, data)


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## streamStats

  Retrieve stream stats


  ### Params


  - **id** (<code>String</code>) of the device


  - **name** (<code>String</code>) of the stream to be updated


  - **filters** (<code>Object</code>) for the values


  - **callback** (<a href="standardCallback.html">standardCallback</a>) - Triggers with (err, data)


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## postValues

  Add multiple values to a stream


  ### Params


  - **id** (<code>String</code>) of the device


  - **name** (<code>String</code>) of the stream to be updated


  - **values** (<code>array</code>) array of { value: val, timestamp: ISODateString }


  - **callback** (<a href="standardCallback.html">standardCallback</a>) - Triggers with (err, data)


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## deleteStreamValues

  Deletes stream values


  ### Params


  - **id** (<code>String</code>) of the device


  - **name** (<code>String</code>) of the stream to be updated


  - **filters** (<code>Object</code>) to delete values


  - **callback** (<a href="standardCallback.html">standardCallback</a>) - Triggers with (err, data)


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## deleteStream

  Deletes a stream


  ### Params


  - **id** (<code>String</code>) of the device


  - **name** (<code>String</code>) of the stream to be updated


  - **filters** (<code>String</code>) filters for deleted stream


  - **callback** (<a href="standardCallback.html">standardCallback</a>) - Triggers with (err, data)


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## postMultiple

  Post to multiple streams


  ### Params


  - **id** (<code>String</code>) of the device


  - **values** (<code>Array</code>) array of { name: n, value: v, timestamp: t }


  - **callback** (<a href="standardCallback.html">standardCallback</a>) - Triggers with (err, data)


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## triggers

  returns a list of triggers for the device


  ### Params


  - **id** (<code>String</code>) of the device


  - **callback** (<a href="standardCallback.html">standardCallback</a>) - Triggers with (err, data)


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## createTrigger

  creates a new trigger


  ### Params


  - **id** (<code>String</code>) of the device


  - **params** (<code>Object</code>) for the trigger


  - **callback** (<a href="standardCallback.html">standardCallback</a>) - Triggers with (err, data)


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## trigger

  creates a new trigger


  ### Params


  - **id** (<code>String</code>) of the device


  - **triggerId** (<code>String</code>) of the trigger


  - **callback** (<a href="standardCallback.html">standardCallback</a>) - Triggers with (err, data)


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## updateTrigger

  updates a trigger


  ### Params


  - **id** (<code>String</code>) of the device


  - **name** (<code>String</code>) of the trigger


  - **params** (<code>Object</code>) to be updated


  - **callback** (<a href="standardCallback.html">standardCallback</a>) - Triggers with (err, data)


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## testTrigger

  tests a trigger


  ### Params


  - **id** (<code>String</code>) of the device


  - **name** (<code>String</code>) of the trigger


  - **callback** (<a href="standardCallback.html">standardCallback</a>) - Triggers with (err, data)


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## deleteTrigger

  deletes a trigger


  ### Params


  - **id** (<code>String</code>) of the device


  - **name** (<code>String</code>) of the trigger


  - **callback** (<a href="standardCallback.html">standardCallback</a>) - Triggers with (err, data)


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## log

  Returns a log of access to the supplied device


  ### Params


  - **id** (<code>String</code>) of the device


  - **callback** (<a href="standardCallback.html">standardCallback</a>) - Triggers with (err, data)


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## deleteDevice

  deletes a device


  ### Params


  - **id** (<code>String</code>) of the device


  - **callback** (<a href="standardCallback.html">standardCallback</a>) - Triggers with (err, data)


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## keys

  returns a list of keys associated to a device


  ### Params


  - **id** (<code>String</code>) of the device


  - **callback** (<a href="standardCallback.html">standardCallback</a>) - Triggers with (err, data)


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## createKey

  creates a new key


  ### Params


  - **id** (<code>String</code>) of the device


  - **params** (<a href="obejct.html">obejct</a>) to create the new key


  - **callback** (<a href="standardCallback.html">standardCallback</a>) - Triggers with (err, data)


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## updateKey

  updates a key


  ### Params


  - **id** (<code>String</code>) of the device


  - **key** (<code>String</code>) key to update


  - **params** (<a href="obejct.html">obejct</a>) to update the key


  - **callback** (<a href="standardCallback.html">standardCallback</a>) - Triggers with (err, data)


  ### Returns

  - (<code>undefined</code>)
