---
layout: documentation
page_title_show: true
title: "Cylon.JS Example - halt"
page_title: "Example: halt"
author: The Hybrid Group
description: A Cylon.JS code example
page_subtitle: "<a href='https://github.com/hybridgroup/cylon/tree/master/examples/halt' target='_blank'>View In Repo</a>"
active_menu_docs: true
---
.example
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connections: {
            loopback: { adaptor: 'loopback' }
          },

          devices: {
            ping: { driver: 'ping' }
          },

          work: function(my) {
            after((1).second(), function() {
              console.log("Hello human!");
              console.log("I'm going to automatically stop in a few seconds.");
            });

            after((5).seconds(), function() {
              console.log("I'm shutting down now.");
              Cylon.halt();
            });
          }
        });

        Cylon.start();

