:markdown
  ## accountInfo

  Get account details
  GET /accounts/<account_id>


  ### Params


  - **accountId** (<code>String</code>) The account to get details for


  - **callback** (<code>Function</code>) called on complete: function(err, res) {}


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## activationCode

  Retrieve account activation code
  GET /accounts/<account_id>/activationcode


  ### Params


  - **accountId** (<code>String</code>) The account to get details for


  - **callback** (<code>Function</code>) called on complete: function(err, res) {}


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## refreshActivationCode

  Forces the renewal of the account activation code
  PUT /accounts/<account_id>/activationcode/refresh


  ### Params


  - **accountId** (<code>String</code>) The account to get details for


  - **callback** (<code>Function</code>) called on complete: function(err, res) {}


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## devices

  Get a list of devices
  GET /accounts/<account_id>/devices


  ### Params


  - **accountId** (<code>String</code>) The account the devices belong to


  - **[filters]** (<code>String</code>) Filter the list of devices


  - **callback** (<code>Function</code>) called on complete: function(err, res) {}


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## device

  Get device details
  GET /accounts/<account_id>/devices/<device_id>


  ### Params


  - **accountId** (<code>String</code>) The account the device belongs to


  - **deviceId** (<code>String</code>) The Id of the device


  - **callback** (<code>Function</code>) called on complete: function(err, res) {}


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## createDevice

  Creates a new device
  POST /accounts/<account_id>/devices


  ### Params


  - **accountId** (<code>String</code>) The account to create the new device in


  - **device** (<code>Object</code>) The device


  - **callback** (<code>Function</code>) called on complete: function(err, res) {}


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## updateDevice

  Update an existing device
  PUT /accounts/<account_id>/devices/<device_id>


  ### Params


  - **accountId** (<code>String</code>) The account the device belongs to


  - **deviceId** (<code>String</code>) The device to be updated


  - **device** (<code>Object</code>) The device details


  - **cb** (<code>Function</code>) called on complete: function(err, res) {}


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## activateDevice

  Activate a existing device
  PUT /accounts/<account_id>/devices/<device_id>


  ### Params


  - **accountId** (<code>String</code>) The account the device belongs to


  - **deviceId** (<code>String</code>) The device to be updated


  - **code** (<code>Object</code>) device activation code


  - **cb** (<code>Function</code>) called on complete: function(err, res) {}


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## deleteDevice

  Delete a device
  DELETE /accounts/<account_id>/devices/<device_id>


  ### Params


  - **accountId** (<code>String</code>) The account the device belongs to


  - **deviceId** (<code>String</code>) The device to be deleted


  - **callback** (<code>Function</code>) called on complete: function(err, res) {}


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## addComponent

  Add a componenent to a device
  POST /accounts/<account_id>/devices/<device_id>/components


  ### Params


  - **aId** (<code>String</code>) The account the device belongs to


  - **dId** (<code>String</code>) The device to be added to


  - **dToken** (<code>String</code>) token of the device to update


  - **com** (<code>Object</code>) The component to be added


  - **callback** (<code>Function</code>) called on complete: function(err, res) {}


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## removeComponent

  Delete a componenent from a device
  DELETE /accounts/<account_id>/devices/<device_id>/components/<cid>


  ### Params


  - **aId** (<code>String</code>) The account the device belongs to


  - **dId** (<code>String</code>) The device the component belongs to


  - **cId** (<code>String</code>) The component to be deleted


  - **callback** (<code>Function</code>) called on complete: function(err, res) {}


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## getAllTags

  List all tags for devices
  GET /accounts/<account_id>/devices/tags


  ### Params


  - **aId** (<code>String</code>) The account the device belongs to


  - **callback** (<code>Function</code>) called on complete: function(err, res) {}


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## getAllAttrs

  List all attributes for devices
  GET /accounts/<account_id>/devices/attributes


  ### Params


  - **aId** (<code>String</code>) The account the device belongs to


  - **callback** (<code>Function</code>) called on complete: function(err, res) {}


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## getAllComponents

  List all componenets for an account
  GET /accounts/<account_id>/cmpcatalog


  ### Params


  - **aId** (<code>String</code>) The account the device belongs to


  - **callback** (<code>Function</code>) called on complete: function(err, res) {}


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## component

  Get component details
  GET /accounts/<account_id>/cmpcatalog/<component_id>


  ### Params


  - **aId** (<code>String</code>) The account the device belongs to


  - **cId** (<code>String</code>) The component ID


  - **cb** (<code>Function</code>) called on complete: function(err, res) {}


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## createComponent

  Creates a new custom component
  POST /accounts/<account_id>/cmpcatalog


  ### Params


  - **accountId** (<code>String</code>) The account we want to add the new component to


  - **component** (<code>Object</code>) component data


  - **callback** (<code>Function</code>) called on complete: function(err, res) {}


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## updateComponent

  Update a custom component
  POST /accounts/<account_id>/cmpcatalog/<cid>


  ### Params


  - **aId** (<code>String</code>) The account we want to add the new component to


  - **cId** (<code>String</code>) The component to be modified


  - **component** (<code>Object</code>) the component data


  - **callback** (<code>Function</code>) called on complete: function(err, res) {}


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## submitData

  Submit data to a devices component
  POST /data/<device_id>


  ### Params


  - **aId** (<code>String</code>) The account we want to add the new component to


  - **dId** (<code>String</code>) The device we want to add data to


  - **dToken** (<code>String</code>) token for device we want to add data to


  - **data** (<code>Array</code>) Array of objects with component data details


  - **callback** (<code>Function</code>) called on complete: function(err, res) {}


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## retrieveData

  Retrieve data from device
  POST /accounts/<account_id>/data/search


  ### Params


  - **aId** (<code>String</code>) the account we want to add the new component to


  - **filters** (<code>Object</code>) filters for the search


  - **callback** (<code>Function</code>) called on complete: function(err, res) {}


  ### Returns

  - (<code>undefined</code>)
