:markdown
  ## accountInfo

  Get account details


  ### Params


  - **accountId** (<code>String</code>) The account to get details for


  - **callback** (<code>Function</code>) called on complete: function(err, res) {}


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## activationCode

  Retrieve account activation code


  ### Params


  - **accountId** (<code>String</code>) The account to get details for


  - **callback** (<code>Function</code>) called on complete: function(err, res) {}


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## refreshActivationCode

  Refresh account activation code


  ### Params


  - **accountId** (<code>String</code>) The account to get details for


  - **callback** (<code>Function</code>) called on complete: function(err, res) {}


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## devices

  Get a list of all devices


  ### Params


  - **accountId** (<code>String</code>) The account to get details for


  - **filters** (<code>String</code>) The account to get details for


  - **callback** (<code>Function</code>) called on complete: function(err, res) {}


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## device

  Get device details


  ### Params


  - **accountId** (<code>String</code>) The account to get details for


  - **filters** (<code>String</code>) filters to use when fetching


  - **callback** (<code>Function</code>) called on complete: function(err, res) {}


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## createDevice

  Create a new device


  ### Params


  - **accountId** (<code>String</code>) The account we want to add the device to


  - **device** (<code>Object</code>) The device details


  - **callback** (<code>Function</code>) called on complete: function(err, res) {}


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## updateDevice

  Update an existing device


  ### Params


  - **accountId** (<code>String</code>) The account the device belongs to


  - **dId** (<code>String</code>) The device to be updated


  - **device** (<code>Object</code>) The device details


  - **callback** (<code>Function</code>) called on complete: function(err, res) {}


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## activateDevice

  Activate a existing device


  ### Params


  - **accountId** (<code>String</code>) The account the device belongs to


  - **dId** (<code>String</code>) The device to be updated


  - **code** (<code>Object</code>) activation code


  - **callback** (<code>Function</code>) called on complete: function(err, res) {}


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## deleteDevice

  Delete a device


  ### Params


  - **accountId** (<code>String</code>) The account the device belongs to


  - **deviceId** (<code>String</code>) The device to be deleted


  - **callback** (<code>Function</code>) called on complete: function(err, res) {}


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## addComponent

  Add a component to a device


  ### Params


  - **aId** (<code>String</code>) The account the device belongs to


  - **dId** (<code>String</code>) The device to be updated


  - **token** (<code>String</code>) token


  - **component** (<code>Object</code>) The component to be added


  - **callback** (<code>Function</code>) called on complete: function(err, res) {}


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## removeComponent

  Delete a component from a device


  ### Params


  - **aId** (<code>String</code>) The account the device belongs to


  - **dId** (<code>String</code>) The device the component belongs to


  - **cId** (<code>String</code>) The component to be deleted


  - **callback** (<code>Function</code>) called on complete: function(err, res) {}


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## getAllTags

  List all tags for devices


  ### Params


  - **accountId** (<code>String</code>) The account the device belongs to


  - **callback** (<code>Function</code>) called on complete: function(err, res) {}


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## getAllAttrs

  List all attributes for devices


  ### Params


  - **accountId** (<code>String</code>) The account the device belongs to


  - **callback** (<code>Function</code>) called on complete: function(err, res) {}


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## getAllComponents

  List all components for an account


  ### Params


  - **accountId** (<code>String</code>) The account the device belongs to


  - **callback** (<code>Function</code>) called on complete: function(err, res) {}


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## component

  Get component details


  ### Params


  - **accountId** (<code>String</code>) The account the device belongs to


  - **componentId** (<code>String</code>) The component ID


  - **callback** (<code>Function</code>) called on complete: function(err, res) {}


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## createComponent

  Create a new component


  ### Params


  - **accountId** (<code>String</code>) The account we want to add the device to


  - **component** (<code>Object</code>) The component details


  - **callback** (<code>Function</code>) called on complete: function(err, res) {}


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## updateComponent

  Update a component


  ### Params


  - **aId** (<code>String</code>) The account we want to add the device to


  - **cId** (<code>String</code>) The account we want to add the device to


  - **component** (<code>Object</code>) The component details


  - **callback** (<code>Function</code>) called on complete: function(err, res) {}


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## submitData

  Submit data to a device component


  ### Params


  - **aId** (<code>String</code>) The account we want to add the new component to


  - **dId** (<code>String</code>) The device we want to add data to


  - **token** (<code>String</code>) device token


  - **data** (<code>Array</code>) Array of objects with component data details


  - **callback** (<code>Function</code>) called on complete: function(err, res) {}


  ### Returns

  - (<code>undefined</code>)

  * * *

  ## retrieveData

  Retrieve data from device


  ### Params


  - **accountId** (<code>String</code>) The account we want to add the new component to


  - **filters** (<code>Object</code>) filters for the search


  - **callback** (<code>Function</code>) called on complete: function(err, res) {}


  ### Returns

  - (<code>undefined</code>)
