---
layout: documentation
page_title_show: true
title: "Cylon.JS Example - color"
page_title: "Example: color"
author: The Hybrid Group
description: A Cylon.JS code example
page_subtitle: "<a href='https://github.com/hybridgroup/cylon-ollie/tree/master/examples/color' target='_blank'>View In Repo</a>"
active_menu_docs: true
---
.example
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connections: {
            bluetooth: { adaptor: 'central', uuid: 'cc360e85785e', module: 'cylon-ble' }
          },

          devices: {
            ollie: { driver: 'ollie' }
          },

          work: function(my) {
            my.ollie.wake(function(err, data) {
              every((1).second(), function() {
                my.ollie.setRGB(Math.floor(Math.random() * 100000));
              });
            });
          }
        }).start();

