---
layout: documentation
page_title_show: true
title: "Cylon.JS Example - keyboard"
page_title: "Example: keyboard"
author: The Hybrid Group
description: A Cylon.JS code example
page_subtitle: "<a href='https://github.com/hybridgroup/cylon-keyboard/tree/master/examples/keyboard' target='_blank'>View In Repo</a>"
active_menu_docs: true
---
.example
  :markdown
        :::javascript
        "use strict";

        var Cylon = require("cylon");

        Cylon
          .robot()
          .connection("keyboard", { adaptor: "keyboard" })
          .device("keyboard", { driver: "keyboard" })
          .on("ready", function(robot) {
            robot.keyboard.on("a", function(key) {
              console.log(key.name + " a pressed!");
            });

            robot.keyboard.on("keypress",function(key) {
              console.log(key.name + " key press!");
            });

            robot.keyboard.on("keydown", function(key) {
              console.log(key.name + " keydown!");
            });

            robot.keyboard.on("keyup", function(key) {
              console.log(key.name + " keyup!");
            });
          });

        Cylon.start();
